<link rel="stylesheet" href="/css/be_processed.css" />
<!-- call css  -->
<style>
    .gold-ttl {
        font-weight: bold;
        color: #d6b36a;
    }
</style>
<!-- html body  -->
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_clients/left_menu" %>
  </div>
  <div class="cp-box">
    <div class="admin-bp-box ">
      <!-- <h5 class="title">A traiter</h5> -->
      <div class="dp-input">
        <div class="flex" id="select-calendat">
          <select name="filtre" id="filtre" class="co-select input-date-js">
            <option value=".TOUS" selected="selected">TOUS</option>
            <option value=".INSCRIPTION">INSCRIPTION</option>
            <option value=".SELECTION_CANDIDATS">SELECTION CANDIDATS</option>
            <option value=".PLANIFICATION_ENTRETIEN">PLANIFICATION ENTRETIEN</option>
            <option value=".FEEDBACK_ENTRETIEN">FEEDBACK ENTRETIEN</option>
            <option value=".PROMESSE_D_EMBAUCHE">PROMESSE D'EMBAUCHE</option>
            <option value=".PERIODE_D_ESSAI_ROMPUE">PERIODE D'ESSAI ROMPUE</option>
          </select>
          <div class="calendar flex">
            <img src="/image/calendar.png" alt="">
          </div>
        </div>

        <div id="search" class="flex">
          <div class="flex date-flex">
            <div class="flex date-flex-item">
              <div class="inside-div">
                Date d'entrée : &nbsp;&nbsp;&nbsp;
                <input type="date" name="enter_date_min" class="input-date-js" id="enter_date_min">
              </div>
              <div class="inside-div">
                &nbsp;&nbsp;&nbsp;à&nbsp;&nbsp;&nbsp;
                <input type="date" name="enter_date_max" class="input-date-js" id="enter_date_max">
              </div>
            </div>
            <div class="flex date-flex-item">
              <div class="inside-div">
                Date limite : &nbsp;&nbsp;&nbsp;
                <input type="date" name="lim_date_min" class="input-date-js" id="lim_date_min">
              </div>
              <div class="inside-div">
                &nbsp;&nbsp;&nbsp;à&nbsp;&nbsp;&nbsp;
                <input type="date" name="lim_date_max" class="input-date-js" id="lim_date_max">
              </div>
            </div>
          </div>
          <span id="delete_filter">Supprimer filtre</span>
        </div>
        <div id="none-element" style="display:none;">Aucune tâche à traiter.</div>

      </div>

      <!-- <p id="none-element" style="display: none;">Aucune tâche à traiter.</p> -->
      <!-- # 1. Inscription/Complétion du profil/Création compte/{
      # Compte non créée
      -->
      <div class="flex">

        <!--
    # 1. Inscription/Complétion du profil/Création compte/{
    #   Compte non créée
    -->

        <% unless @clients.empty? %>
        <% @clients.each do |client| %>
        <% enter_date = client.created_at.strftime("%d/%m/%Y") %>
        <% date_lim =  client.created_at.next_day(7).strftime("%d/%m/%Y") %>
        <div data-name=".INSCRIPTION" data-min="<%= enter_date %>" data-max="<%= date_lim %>"
          class="bp-box list-items-me">
          <div class="bp-inside-box">
            <div class="bp-inscr"><span class="gold-ttl">INSCRIPTION</span><br>
              Etat: Compte non créé
            </div>
            <div class="bp-name pt-4">
              <%= client.first_name %> <%= client.last_name %>
            </div>
            <div class="bp-date">
              Date d'entrée :
              <%= enter_date %>
            </div>
            <div class="bp-date">
              Date limite : <%= date_lim %>
            </div>
          </div>
          <div class="bp-btn">
            <a href="<%= clients_bp_show_client_path(client.id) %>">GERER</a>
          </div>
        </div>
        <% end %>
        <% end %>

        <!--
    # 5. Recherche et sélectionne des candidats.
    # Recruteur qui a déjà publié une offre mais à la recherche de candidats.
     -->

        <% unless @offreJobs.empty? %>
        <% @offreJobs.each do |offreJob| %>

        <% enter_date = offreJob.created_at.strftime("%d/%m/%Y") %>
        <% date_lim = offreJob.limite_date %>

        <div data-name=".SELECTION_CANDIDATS" data-min="<%= enter_date %>" data-max="<%= date_lim %>"
          class="bp-box list-items-me">
          <div class="bp-inside-box">
            <div class="bp-inscr"><span class="gold-ttl">SELECTION CANDIDATS</span><br>
              Etat: Offre publiée/Candidat non sélectionné
            </div>
            <div class="bp-name pt-4">
              <%= offreJob.client.first_name %> <%= offreJob.client.last_name %>
            </div>
            <div class="bp-datept-4">
              Date d'entrée :
              <%= enter_date %>
            </div>
            <div class="bp-date">
              Date limite : <%= date_lim %>
            </div>
          </div>
          <div class="bp-btn">
            <a href="<%= clients_bp_offre_job_no_cadre_path(offreJob.id) %>">GERER</a>
          </div>
        </div>

        <% end %>
        <% end %>

        <!--
    # 6. Planifie un/des entretiens en fonction du process de recrutement
    #   Liste des recruteurs qui ont envoyé une planification d'entretien aux candidats
     -->

        <% unless @listAgendaClientsSends.empty? %>
        <% @listAgendaClientsSends.each do |listAgendaClientsSend| %>
        <!-- ([oFc,ac]) -->
        <% oFc = listAgendaClientsSend[0] %>
        <% ac = listAgendaClientsSend[1] %>

        <% enter_date = ac.entretien_date.strftime("%d/%m/%Y") %>

        <div data-name=".PLANIFICATION_ENTRETIEN" data-min="<%= enter_date %>" data-max="~"
          class="bp-box list-items-me">
          <div class="bp-inside-box">
            <div class="bp-inscr"><span class="gold-ttl">PLANIFICATION ENTRETIEN</span><br>
              Etat: Planification envoyée
            </div>
            <div class="bp-name pt-4">
              <%= oFc.offre_job.client.first_name %> <%= oFc.offre_job.client.last_name %>
            </div>
            <div class="bp-date">
              Date d'entrée :
              <span data-times="<%= ac.entretien_date.strftime("%Y-%m-%d %H:%M") %>" class="currentDatentretien"></span>
            </div>
            <!-- <div class="bp-date">
              Date limite : ~
            </div> -->
          </div>
          <div class="bp-btn">
            <a href="<%= clients_bp_show_client_path(oFc.offre_job.client.id) %>">GERER</a>
          </div>
        </div>

        <% end %>
        <% end %>

        <!--
    # 7. Effectue l’ entretien et donne son feedback
    # (Etape suivante, accepter, refuser, en attente)
    # Liste des recruteurs en mode entretien (entrain de faire des entretiens)
    -->

        <% unless @listAgendaClientsEntretiens.empty? %>
        <% @listAgendaClientsEntretiens.each do |listAgendaClientsEntretien| %>
          <!-- ([oFc,ac]) -->
          <% oFc = listAgendaClientsEntretien[0] %>
          <% ac = listAgendaClientsEntretien[1] %>
          <% enter_date = ac.entretien_date.strftime("%d/%m/%Y") %>
          <div data-name=".FEEDBACK_ENTRETIEN" data-min="<%= enter_date %>" data-max="~" class="bp-box list-items-me">
            <div class="bp-inside-box">
              <div class="bp-inscr"><span class="gold-ttl">FEEDBACK ENTRETIEN</span><br>
                Etat: En mode entretien
              </div>
              <div class="bp-name pt-4">
                <%= oFc.offre_job.client.first_name %> <%= oFc.offre_job.client.last_name %>
              </div>
              <div class="bp-date">
                Date d'entrée :
                <span data-times="<%= ac.entretien_date.strftime("%Y-%m-%d %H:%M") %>" class="currentDatentretien"></span>
              </div>
              <!-- <div class="bp-date">
                Date limite : ~
              </div> -->
            </div>
            <div class="bp-btn">
              <a href="<%= clients_bp_effectue_entretien_path(ac.id) %>">GERER</a>
            </div>
          </div>
          <% end %>
        <% end %>

        <!--
    # 8. Remplir et envoyer une promesse d’embauche
    # Liste des recruteurs en mode remplissage de la promesse d'embauche
-->

        <% unless @completedPromiseToHires.empty? %>
        <% @completedPromiseToHires.each do |completedPromiseToHire| %>
        <!-- ([oFc,ac]) -->
        <% oFc = completedPromiseToHire[0] %>
        <% ac = completedPromiseToHire[1] %>

        <% enter_date = oFc.offre_job.created_at.strftime("%d/%m/%Y") %>
        <% date_lim = oFc.offre_job.limite_date %>

        <div data-name=".PROMESSE_D_EMBAUCHE" data-min="<%= enter_date %>" data-max="<%= date_lim %>"
          class="bp-box list-items-me">
          <div class="bp-inside-box">
            <div class="bp-inscr"><span class="gold-ttl">PROMESSE D'EMBAUCHE</span><br>
              Etat: En mode remplissage
            </div>
            <div class="bp-name pt-4">
              <%= oFc.offre_job.client.first_name %> <%= oFc.offre_job.client.last_name %>
            </div>
            <div class="bp-date">
              Date d'entrée : <%= enter_date %>
            </div>
            <div class="bp-date">
              Date limite : <%= date_lim %>
            </div>
          </div>
          <div class="bp-btn">
            <a href="<%= clients_bp_effectue_entretien_path(ac.id) %>">GERER</a>
          </div>
        </div>
        <% end %>
        <% end %>

        <!--
      # 12. Rompre la période d’essai
      # Liste des périodes d'essai à rompre -->

        <% unless @factures.empty? %>
        <% @factures.each do |facture| %>

        <% ptH = facture.promise_to_hire %>
        <% offre_job = ptH.offre_job %>
        <% pThWa = ptH.rupture_time_trying%>
        <%if pThWa.include?('-') %>
        <% ptime = pThWa.split('-')%>
        <% @pThWa1 = "#{ptime[2]}/#{ptime[1]}/#{ptime[0]}"%>
        <%else %>
        <% @pThWa1 =  pThWa%>
        <%end %>

        <% enter_date = offre_job.date_poste %>

        <div data-name=".PERIODE_D_ESSAI_ROMPUE" data-min="<%= enter_date %>" data-max="<%= @pThWa1 %>"
          class="bp-box list-items-me">
          <div class="bp-inside-box">
            <div class="bp-inscr"><span class="gold-ttl">PERIODE D'ESSAI ROMPUE</span><br>
              Etat: A rompre
            </div>
            <div class="bp-name pt-4">
              <%= offre_job.client.first_name %> <%= offre_job.client.last_name %>
            </div>
            <div class="bp-date">
              Date d'entrée : <%= enter_date %>
            </div>
            <div class="bp-date">
              Date limite : <%= @pThWa1 %>
            </div>
          </div>
          <div class="bp-btn">
            <a href="<%= clients_bp_periode_rompre_path(ptH.id) %>">GERER</a>
          </div>
        </div>

        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>

<script type="text/javascript" src="/js/be_processed.js">
