<!-- call css  -->
<link rel="stylesheet" href="/css/be_processed.css" />
<!-- call css  -->
<style>
    .gold-ttl {
        font-weight: bold;
        color: #d6b36a;
    }
</style>
<!-- html body  -->
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_clients/left_menu" %>
  </div>
  <div class="cp-box">
    <div class="admin-bp-box ">
      <!-- <h5 class="title">En attente</h5> -->
      <div class="dp-input">
        <div class="flex" id="select-calendat">
          <select name="filtre" id="filtre" class="co-select input-date-js">
            <option value=".TOUS" selected="selected">TOUS</option>
            <option value=".PLANIFICATION_ENTRETIEN">PLANIFICATION ENTRETIEN</option>
            <option value=".FEEDBACK_ENTRETIEN">FEEDBACK ENTRETIEN</option>
            <option value=".PROMESSE-D-EMBAUCHE">PROMESSE D'EMBAUCHE</option>
            <option value=".VALIDATION_PERIODE_D_ESSAI">VALIDATION PERIODE D'ESSAI</option>
          </select>
          <div class="calendar-b flex">
            <img src="/image/calendar.png" alt="">
          </div>
        </div>
        <div id="search" class="flex">
          <div class="flex date-flex">
            <div class="flex date-flex-item">
              <div class="inside-div">
                Date d'entrée : &nbsp;&nbsp;&nbsp;
                <input type="date" name="enter_date_min" class="input-date-js" id="enter_date_min">
              </div>
              <div class="inside-div">
                &nbsp;&nbsp;&nbsp;à&nbsp;&nbsp;&nbsp;
                <input type="date" name="enter_date_max" class="input-date-js" id="enter_date_max">
              </div>
            </div>
            <div class="flex date-flex-item">
              <div class="inside-div">
                Date limite : &nbsp;&nbsp;&nbsp;
                <input type="date" name="lim_date_min" class="input-date-js" id="lim_date_min">
              </div>
              <div class="inside-div">
                &nbsp;&nbsp;&nbsp;à&nbsp;&nbsp;&nbsp;
                <input type="date" name="lim_date_max" class="input-date-js" id="lim_date_max">
              </div>
            </div>
          </div>
          <span id="delete_filter">Supprimer filtre</span>
        </div>
        <div id="none-element" style="display:none;">Aucune tâche à traiter.</div>
      </div>
      <div class="flex">

        <!-- 
          # 6. Planifie un/des entretiens en fonction du process de recrutement
          # Planification d'entretien en attente du retour du candidat
        -->

        <% unless @listAgendaClientsSends.empty? %>
        <% @listAgendaClientsSends.each do |listAgendaClientsSend| %>
        <!-- ([oFc,ac]) -->
        <% oFc = listAgendaClientsSend[0] %>
        <% ac = listAgendaClientsSend[1] %>

        <% enter_date = ac.entretien_date.strftime("%d/%m/%Y") %>

        <div data-name=".PLANIFICATION_ENTRETIEN" class="bp-box list-items-me" data-min="<%= enter_date %>"
          data-max="~">
          <div class="bp-inside-box">
            <div class="bp-inscr"><span class="gold-ttl">PLANIFICATION ENTRETIEN</span></div>
            <div class="bp-name">
              <%= oFc.offre_job.client.first_name %> <span class="uperC"><%= oFc.offre_job.client.last_name %></span> 
            </div>
            <div class="bp-date">
              Date d'entrée :
              <span data-times="<%= ac.entretien_date.strftime("%Y-%m-%d %H:%M") %>" class="currentDatentretien"></span>
            </div>
            <!-- <div class="bp-date">
              Date limite : ~
            </div> -->
          </div>
          <div class="bp-btn">
            <a href="<%= clients_bp_effectue_entretien_path(oFc.agenda_clients.last.id) %>">GERER</a>
          </div>
        </div>

        <% end %>
        <% end %>


        <!-- # 7. Effectue l’ entretien et donne son feedback
# (Etape suivante, accepter, refuser, en attente)
# Envoi du feedback en attente du retour du candidat
 -->


        <!-- 
# 9. Valider l’embauche
# Promesse d'embauche en attente du retour du candidat 
-->

        <% unless @cadreInfoNotPromiseToHires.empty? %>
        <% @cadreInfoNotPromiseToHires.each do |cadreInfoNotPromiseToHire| %>
        <% cINPT = cadreInfoNotPromiseToHire.cadre_info %>

        <% enter_date = cINPT.promise_not_reponded[1] %>
        <% lim_date = cINPT.promise_not_reponded[0] %>

        <div data-name=".PROMESSE-D-EMBAUCHE" class="bp-box list-items-me" data-min="<%= enter_date %>"
          data-max="<%= lim_date %>">
          <div class="bp-inside-box">
            <div class="bp-inscr"><span class="gold-ttl">PROMESSE D'EMBAUCHE</span></div>
            <div class="bp-name">
              <%= cINPT.first_name %> <span class="uperC"><%= cINPT.last_name %></span> 
            </div>
            <div class="bp-date">
              Date d'entrée : <%= enter_date %>
            </div>
            <div class="bp-date">
              Date limite : <%= lim_date %>
            </div>
          </div>
          <div class="bp-btn">
            <a href="<%= cbp_promise_no_validate_path(cINPT.id) %>">GERER</a>
          </div>
        </div>
        <% end %>
        <% end %>

        <!--
# 12. Valider une période d’essai
# En attente de la validation de la période d'essai
 -->

        <% unless @cadreInfoValidateTimeTryings.empty? %>
        <% @cadreInfoValidateTimeTryings.each do |cadreInfoValidateTimeTrying| %>

        <% pThWa = cadreInfoValidateTimeTrying[0] %>
        <% time_trying = pThWa.time_trying%>
        <%if time_trying.include?('-') %>
        <% ptime = time_trying.split('-')%>
        <% @pThWa1 = "#{ptime[2]}/#{ptime[1]}/#{ptime[0]}"%>
        <%else %>
        <% @pThWa1 =  time_trying %>
        <%end %>

        <% enter_date = pThWa.offre_job.date_poste %>

        <div data-name=".VALIDATION_PERIODE_D_ESSAI" data-min="<%= enter_date %>" data-max="<%= @pThWa1 %>"
          class="bp-box list-items-me">
          <div class="bp-inside-box">
            <div class="bp-inscr"><span class="gold-ttl">VALIDATION PERIODE D'ESSAI</span></div>
            <div class="bp-name">
              <%= pThWa.cadre.cadre_info.first_name %> <span class="uperC"><%= pThWa.cadre.cadre_info.last_name %></span> 
            </div>
            <div class="bp-date">
              Date d'entrée :
              <%= enter_date %>
            </div>
            <div class="bp-date">
              Date limite :
              <%= @pThWa1 %>
            </div>
          </div>
          <div class="bp-btn">
            <a href="<%= cbp_promise_no_validate_path(pThWa.cadre.cadre_info.id) %>">GERER</a><!-- promise to hire -->
          </div>
        </div>
        <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>

<script type="text/javascript" src="/js/be_processed.js">