<link rel="stylesheet" href="/css/admin-client_processed.css" />

<div class="client-column">
  <div class="client-menu-left"><%= render partial: "admin_clients/left_menu" %></div>
  <div class="cp-box">
    <% unless @clients.empty? %>
    <div class="admincp-box">
      <% @clients.each do |client| %> <% processedHistories = client.processed_histories.order(created_at: :DESC) %>

      <div class="acp-name" data-items="<%= client.id%>">
        <%= client.first_name %> <%= client.last_name %>

        <img src="<%= client.image %>" alt="pdp">
      </div>
      <div class="hide-box" id="<%= client.id%>">
        <div id="<%= client.id%>i">
          <% processedHistories.each do |processedHistorie| %>
          <hr />
          <div class="acp-flex">
            <div class="acp-image"><img src="<%= processedHistorie.image %>" /></div>
            <div class="acp-content"><%= processedHistorie.message %></div>
            <div class="acp-link"><%= raw processedHistorie.link %></div>
          </div>
          <% end %>
          <hr />
        </div>
      </div>
      <% end %>
    </div>
    <% else %>
    <p style="font-family: Questrial, sans-serif"
      class="d-flex justify-content-lg-center justify-content-md-center justify-content-sm-center">Aucune tâche
      traitee</p>
    <% end %>
    <div class="next-page">
    <% if @nombre_pages > @offre_par_page %>
      <% if @page == 0 %>
        <a href="<%= clients_processed_path(page: @page + 1 )%>">SUIVANT<span class="crochet"> ></span></a>
      <% elsif @page == @nombre_pages - 1 %>
        <a href="<%= clients_processed_path(page: @page - 1 )%>"><span class="crochet"> < </span>PRECEDENT</a>
      <% else %>
        <a href="<%= clients_processed_path(page: @page - 1 )%>"><span class="crochet">< </span>PRECEDENT |</a>
        <a href="<%= clients_processed_path(page: @page + 1 )%>">| SUIVANT <span class="crochet"> ></span> </a>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<script src="/js/processed.js"></script>
