<link rel="stylesheet" href="/admins/css/show_message.css" />
<link rel="stylesheet" href="/admins/css/cand_client_show_msg.css">
<!-- body html  -->
<div class="client-column">
	<div class="client-menu-left"><%= render "admin_clients/left_menu" %></div>
	<div class="cp-box">
		<div class="fcp-box">
			<div class="chat-info">
				<div class="img">
					<img src="<%= @contact.client.image %>" alt="avatar">
					<% if @contact.client.is_online? %>
					<span class="dot-online"></span>
					<% end %>
				</div>
				<div class="desc">
					<h1 class="name"><%= @contact.client.first_name.capitalize %> <%= @contact.client.last_name.capitalize %></h1>
					<p class="online">
						<% if @contact.client.is_online? %>
							<small>En ligne</small>
						<% else %>
	            <small>Connectée il y a <%= time_ago_in_words(@contact.client.online_time) %></small>
	          <% end %>
					</p>
				</div>
	</div>

	<div class="chat-body">
		<% @messages.each do |message| %>
		<% unless message.is_admin %>
		<div class="hr-msg">
			<div class="hr-image">
				<img src="<%= @contact.client.image %>" alt="avatar">
			</div>
			<div class="hr-mg">
				<p><%= message.content %></p>
			</div>
		</div>
		<% else %>
		<div class="m-msg">
			<p><%= message.content %></p>
		</div>
		<% end %>
		<div class="clear"></div>
		<% end %>
	</div>

	<%= form_tag(clients_post_message_path) do %>
	<div class="sd">
			<input type="hidden" name="id_contact" value="<%= @contact.id%>">
			<input type="hidden" name="id_client" value="<%= @client.id %>">
			<input placeholder="répondre..." class="ms-in" name="message_admin_client[content]" id="message_admin_client_content" autocomplete="off"></input>
			<button type="submit">
				<img src="/image/send.png" alt="send" class="ms-im"/>
			</button>
	</div>
	<% end %>

	</div>
</div>
</div>
<script type="text/javascript">
	$(".chat-body").animate({ scrollTop: 20000000 }, "slow");
</script>
