<!-- appel css user-menu.css  -->
<link rel="stylesheet" href="/css/user_menu.css" />
<!-- html body  -->
<div class="left-menu-r">
  <div class="btn-menu-r">
    <span class="btn-menu-burger open"> </span>
  </div>
  <div class="left-menu-photo">
    <% unless current_admin.image.nil? %> <%= image_tag(current_admin.image, alt: 'photo logo')%> <% else %>
    <img src="/image/profie.png" alt="logo entreprise" />
    <% end %>
  </div>
  <ul class="left-menu-content">
    <li><%= link_to "ENVOYER UN MESSAGE", admin_cadre_main_path %></li>
    <li><%= link_to "ENTRETIEN FIT", admin_cadre_entretien_fit_path %></li>
    <li><%= link_to "ATELIERS DE COACHING", admin_cadre_coaching_workshop_path %></li>
    <li><%= link_to "EVENTS", admin_cadre_events_path %></li>
    <li><%= link_to "MES NOTIFICATIONS", admin_main_notification_path %></li>
    <li><%= link_to "MA MESSAGERIE", admin_main_messaging_path %></li>
  </ul>
</div>
<!-- appel js menu_recruteur.js  -->
<script data-turbolinks-track="reload" src="/js/menu_recruteur.js"></script>
