<% @title="Candidats" %>
<style>
  .add-image-link img {
    border-radius: 50%;
  }

  .nw-cont {
    position: relative;
  }

  .fa-eye {
    color: #d6b36a;
  }

  .lab {
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
  }

  .lab .th-inner {
    color: #d6b36a;
  }

  #toolbar select {
    border: 1px solid #d6b36a;
    border-radius: 0px;
  }

  #toolbar .form-control:focus{
    border-color: #d6b36a;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(214,179,106);
    outline: none;
  }

  .pull-right .form-control {
    border: 1px solid #d6b36a;
    border-radius: 0px;
  }

  .pull-right .form-control:focus{
    border-color: #d6b36a;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(214,179,106);
    outline: none;
  }

    .filter-control .form-control {
      border-radius: 0px;
      border: 1px solid #d6b36a;
    }

  .filter-control .form-control:focus{
    border-color: #d6b36a;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(214,179,106);
    outline: none;
  }

  thead tbody th tr td {
    border: 1px solid #d6b36a;
  }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #d6b36a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(214,179,106);
  outline: none;
}

</style>


<link rel="stylesheet" href="/css/mes_cand_admin.css" />

<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>

<!-- render table -->
<!-- render table -->
<!-- render table -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<!-- render table -->
<!-- render table -->
<!-- render table -->
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_cadre/left_menu_link" %>
  </div>

  <div class="cp-box">
  	<div>
  		<div class="fcp-box">
      <h3 class="title" style="color: #d6b36a !important;">TOUS LES CANDIDATS</h3>
      <div class="fc-item">
        <div class="fc-item-all">

<!--         	CANDIDATS  -->
        <div class="nw-cont">

          <% if @cadre_infos.empty? %>
             "Aucun candidat inscrit"
          <% else %>

          <% end %>

<!-- ======================================================================================================================== -->



<div class="all-cd">

<div id="toolbar">
    <select class="form-control">
        <option value="all">Tout exporter</option>
        <option value="selected">Exporter la sélection</option>
    </select>
</div>

<table id="table"
       data-toggle="table"
       data-search="true"
       data-filter-control="true"
       data-show-export="true"
       data-click-to-select="true"
       data-toolbar="#toolbar"
       >
  <thead>
    <tr>
      <th data-field="state" data-checkbox="true" class="myCheck"></th>

      <th class="lab">Photo</th>

      <th class="lab" data-field="nom" data-filter-control="input" data-sortable="true">Nom</th>

      <th class="lab" data-field="prenom" data-filter-control="input" data-sortable="true">Prénom</th>

      <th class="lab" data-field="potential_test" data-filter-control="input" data-sortable="true">Test potentiel</th>
      <th class="lab" data-field="fit_test" data-filter-control="input" data-sortable="true">Test fit</th>
      <th class="lab" data-field="status" data-filter-control="select" data-sortable="true">Status</th>
      <th class="lab">Action</th>
    </tr>
  </thead>
  <tbody>

    <% index_val = 0 %>
    <% @cadre_infos.each do |cadre_info| %>
      <tr>
        <td class="bs-checkbox">
              <input data-index="<%= index_val %>" name="btSelectItem" type="checkbox">
        </td>

        <% if cadre_info.image.nil? %>
          <td class="add-image-link" data-link="/image/profie.png">
            <img src='/image/profie.png' alt='photo de profil' width='120px' height="120px" />
          </td>
        <% else %>
          <td class="add-image-link" data-link="<%= cadre_info.image %>">
            <img src='<%= cadre_info.image %>' alt='photo de profil' width='120px' height="120px" />
          </td>
        <% end %>

        <td>
          <%= cadre_info.last_name %>
        </td>

        <td>
          <%= cadre_info.first_name %>
        </td>

        <td>
          <% if cadre_info.potential_test %>
            <%= cadre_info.score_potential.nil? ? "en attente du score" : "#{cadre_info.score_potential}" %>
          <% else %>
            test non initier
          <% end %>
        </td>

        <td>
          <% if cadre_info.fit_test %>
            <%= cadre_info.score_fit.nil? ? "en attente du score" : "#{cadre_info.compatibilite}" %>
          <% else %>
            test non initier
          <% end %>
        </td>

        <td>
          <%= cadre_info.status %>
        </td>

        <td class="add-link-js" data-link="<%= admin_cadre_show_profile_path(cadre_info.id) %>">
          <a href="<%= admin_cadre_show_profile_path(cadre_info.id) %>"><i class="far fa-eye" data-method="GET"></i></a>
        </td>

      </tr>
      <% index_val += 1 %>
    <% end %>

  </tbody>

</table>

</div>


<!-- ======================================================================================================================== -->


        </div>
        </div>
      </div>
    </div>
  	</div>
  </div>
</div>
<script type="text/javascript">
  /
  $(document).ready(function(){
    $('.bootstrap-table .fixed-table-container .table tbody tr.no-records-found td').html("Aucun candidats pour le moment");
    $("input.form-control.search-input").attr("placeholder", "Rechercher");
});
</script>
