<% @title="Candidats" %>
<link rel="stylesheet" href="/css/mes_cand_admin.css" />
<style>
	.mytable {
		margin-top: 20px;
		display: inline-table;
	}

	th {
		padding: 10px 40px;
		border: 1px solid #ccc;
	}

	.each-cdd {
		border: 1px solid #ccc;
	}

	.img-cd {
		border-right: 1px solid #ccc;
	}

	.img-cd img {
		border-radius: 50%;
		padding: 10px;
	}

	.nm-cd {
		border-right: 1px solid #ccc;
	}

	.decs-cd {
		border-right: 1px solid #ccc;
	}

	.fa-eye {
		color: #d6b36a;
	}

	.lab {
		text-align: center;
		justify-content: center;
		text-transform: uppercase;
		font-size: 12px;
	}

</style>
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>

<div class="client-column">
	<div class="client-menu-left">
		<%= render partial: "admin_cadre/left_menu_link" %>
	</div>
	<div class="cp-box">
  		<div class="fcp-box">
			<h3 class="title" style="color: #d6b36a !important;">CANDIDAT ADMIS</h3>
			<div class="fc-item">
				<% if @cadre_infos.empty? %>
					Aucun candidats
				<% else %>
					<table class="table-responsive mytable">
						<tr>
								<th class="lab">Photo</th>
					      <th class="lab">Nom</th>
					      <th class="lab">Prénom</th>
					      <th class="lab">Test potentiel</th>
					      <th class="lab">Test fit</th>
					      <th class="lab">Status</th>
					      <th class="lab">Action</th>
					    </tr>
						<% @cadre_infos.each do |cadre_info| %>
							<tr class="each-cdd">
						        <% if cadre_info.image.nil? %>
						          <td class="img-cd">
						            <img src='/image/profie.png' alt='photo de profil' width='120px' height="120px" />
						          </td>
						        <% else %>
						          <td class="img-cd">
						            <img src='<%= cadre_info.image %>' alt='photo de profil' width='120px' height="120px" />
						          </td>
						        <% end %>

						        <td class="nm-cd">
						          <%= cadre_info.last_name %>
						        </td>

						        <td class="nm-cd">
						          <%= cadre_info.first_name %>
						        </td>

						        <td class="decs-cd">
						          <% if cadre_info.potential_test %>
						            <%= cadre_info.score_potential.nil? ? "en attente du score" : "#{cadre_info.score_potential}" %>
						          <% else %>
						            test non initier
						          <% end %>
						        </td>

						        <td class="decs-cd">
						          <% if cadre_info.fit_test %>
						            <%= cadre_info.score_fit.nil? ? "en attente du score" : "#{cadre_info.compatibilite}" %>
						          <% else %>
						            test non initier
						          <% end %>
						        </td>

						        <td class="decs-cd">
						          <%= cadre_info.status %>
						        </td>

						        <td >
						          <a href="<%= admin_cadre_show_profile_path(cadre_info.id) %>"><i class="far fa-eye" data-method="GET"></i></a>
						        </td>

						      </tr>
						<% end %>
					</table>
				<% end %>
			</div>
		</div>
	</div>
</div>
