<link rel="stylesheet" href="/css/client_profil.css" />
<link rel="stylesheet" href="/css/mes_cand_admin.css" />
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_cadre/left_menu_link" %>
  </div>

  <div class="cp-box">
  	<div>
  		<div class="fcp-box">
      <h3 class="title" style="color: #d6b36a !important;">ENTRETIEN FIT</h3>
      <h3 class="title t2">Choisissez la suite a donner a ces candidats et rediger votre avis recruteur</h3>
      <br><br><br>
      <div class="fc-item">
        <div class="fc-item-all">

<!--  CANDIDATS  -->

        <% unless @cadres.empty? %>
          <% @cadres.each do |cadre| %>
            <div class="list-candidat">
              <div class="fci-image">
                  <img src="/image/profie.png" alt="default photo">
              </div>
              <div class="fci-infos">
                <p class="name"><%= cadre.last_name %> <%= cadre.first_name %></p>
                <p class="poste">Poste : <%= cadre.job %></p>
                <p class="score">Score OIAM : <span><%= cadre.score_potential %></span></p>

                <div class="ico-cand">
                  <a href="<%= post_avis_candidats_fit_path(cadre.id) %>" class="ico ico1">GERER</a>
                </div>

                <div>
                  <% unless cadre.agenda_admin.nil? %>
                    <p>
                      <i class="fas fa-edit fa-lg"></i>Entretien fit le:
                      <span data-times="<%= cadre.agenda_admin.entretien_date.strftime("%Y-%m-%d %H:%M") %>" class="currentDateEntretien"></span>
                    </p>
                  <% else %>
                    <p>
                      <i class="fas fa-edit fa-lg"></i>Entretien fit en attente.
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <div style="margin-top: 30px;">
          <a href="<%= admin_dashboard_candidate_path %>" class="btn-choose">
            SÉLECTIONNER DES CANDIDATS À SUIVRE
          </a>
        </div>

      </div>

    </div>

  	</div>
  </div>
</div>

<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>

<script type="text/javascript">
  var month = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
  var day = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
  let $elementDate = $('.currentDateEntretien');

  $elementDate.each(function () {
    let dateUTC = moment.utc($(this).data().times);
    let dateGet = new Date(dateUTC.local());
    let dateString = day[dateGet.getDay()] + ' ' + dateGet.getDate() + ' ' + month[dateGet.getMonth()] + ' ' + dateGet.getFullYear();
    $(this).html(dateString + ' à ' + dateGet.getHours() + 'h:00');
  });
</script>