<% @title="Candidats" %>
<style>
	* {
		line-height: 30px !important;
	}
</style>
<link rel="stylesheet" type="text/css" href="/css/cd_prfl.css" />

<div class="content">
	<div class="left_link">
		<%= render partial: "admin_cadre/left_menu_link" %>
	</div>
	<div class="main">
		<% if @cadre_info.status == "admis" %>
			<div class="block-left">
				<div class="block-image">
					<% unless @cadre_info.image.nil? %>
						<%= image_tag(@cadre_info.image, alt: 'photo profil candidats', width: '150px', class: 'pdp'  )%> <br>
					<% else %>
	            		<img src="/image/profie.png" alt="photo profil candidats", width="150px", class="pdp" />
					<% end %>
				</div>
				<div class="user_name"><%= @cadre_info.first_name %> <%= @cadre_info.last_name %> <br></div>
				<p>Adresse : <span><%= @cadre_info.adresse %></span></p>
				<p>Code postal : <span><%= @cadre_info.postal_code %></span></p>
				<p>Ville : <span><%= @cadre_info.city %></span></p>
				<p>Telephone : <span><%= @cadre_info.telephone %></span></p>
				<p>Score du test : <span><%= @cadre_info.score_potential %></span></p>
				<p>Type de poste :<br> <span style="text-transform:uppercase;"><%= @cadre_info.metier %>
				</span><br>
				Profession :<br> <span style="text-transform:uppercase;"> <%= @cadre_info.job %>
				</span>
				</p>
				<p>Statut :<br> <span><%= @cadre_info.status.capitalize %></span></p>
				<p>Disponibilité :<br> <span><%= @cadre_info.disponibilite %></span></p>
				<p>Mobilité :<br> <span>
				<% case @cadre_info.mobilite.to_i %>
		            <% when 1 %>
		              NATIONALE
		            <% when 2 %>
		             INTERNATIONALE
		            <% when 3 %>
		           		LOCALE
		           	<% when 0 %>
		           	  PAS DE DÉPLACEMENT
		        <% end %>
				</span></p>
				<p>Salaire (Brut annuel) : <br> <span> <%= @cadre_info.question4.to_i %> k€</span></p>
			</div>
		<div class="block-right">
			<div class="block-right-content">
				<div class="questionnaire">
					<h2 class="questionnaire-title">Que faites-vous actuellement et que recherchez-vous comme type de poste ?</h2>
					<p>Type de poste : <%= @cadre_info.metier %><br>Profession : <%= @cadre_info.job %></p>
				</div>
				<div class="questionnaire">
					<h2 class="questionnaire-title">Où souhaitez-vous travailler et acceptez-vous les déplacements ?</h2>
					<p><%= @cadre_info.question2 %></p>
				</div>
				<div class="questionnaire">
					<h2 class="questionnaire-title">Quels sont les trois critères les plus importants pour vous dans le choix de votre prochain poste ?</h2>
					<p><%= @cadre_info.question3 %></p>
				</div>
				<div class="questionnaire">
					<h2 class="questionnaire-title">Quel est le minimum salarial FIXE en dessous duquel il n’est pas nécessaire de vous contacter ?</h2>
					<p><%= @cadre_info.question4.to_i %> k€</p>
				</div>
				<div class="questionnaire">
					<h2 class="questionnaire-title">Parlez-nous de vous</h2>
					<p><%= @cadre_info.question5 %></p>
				</div>
			</div>
		</div>
		<% else %>
				<div class="block-left">
					<div class="block-image">
	            		<img src="/image/profie.png" alt="photo profil candidats", width="150px", class="pdp" />
					</div>
					<div class="user_name"><%= @cadre_info.first_name %> <%= @cadre_info.last_name %> <br></div>
					<p>Adresse : <br> <span><%= @cadre_info.adresse %></span></p>
					<p>Code postal : <br> <span><%= @cadre_info.postal_code %></span></p>
					<p>Ville : <br> <span><%= @cadre_info.city %></span></p>
					<p>Telephone : <br> <span><%= @cadre_info.telephone %></span></p>
          			<% if @cadre_info.status == "non admis" %>
						<p>Statut : <br> <span><%= @cadre_info.status %><span></p>
					<% else %>
	            		<p>Statut : <br> <span><%= @cadre_info.status %><span></p>
					<% end %>
				</div>
				<div class="block-right">
					<div class="block-right-content">
						<div class="questionnaire">
							<h2 class="questionnaire-title">Que faites-vous actuellement et que recherchez-vous comme type de poste ?</h2>
							<p>Type de poste : <%= @cadre_info.metier %><br>Profession : <%= @cadre_info.job %></p>
						</div>
						<div class="questionnaire">
							<h2 class="questionnaire-title">Où souhaitez-vous travailler et acceptez-vous les déplacements ?</h2>
							<p><%= @cadre_info.question2 %></p>
						</div>
						<div class="questionnaire">
							<h2 class="questionnaire-title">Quels sont les trois critères les plus importants pour vous dans le choix de votre prochain poste ?</h2>
							<p><%= @cadre_info.question3 %></p>
						</div>
						<div class="questionnaire">
							<h2 class="questionnaire-title">Quel est le minimum salarial FIXE en dessous duquel il n’est pas nécessaire de vous contacter ?</h2>
							<p><%= @cadre_info.question4.to_i %> k€</p>
						</div>
						<div class="questionnaire">
							<h2 class="questionnaire-title">Parlez-nous de vous</h2>
							<p><%= @cadre_info.question5 %></p>
						</div>
					</div>
				</div>
		<% end %>
	</div>
</div>


<script type="text/javascript">
	$('#send-validation').click(function(){
		$('.main').hide(300);
		$('#js-show-in-validate-profil').show(300);
	})
</script>
