<link rel="stylesheet" href="/css/client_profil.css" />
<link rel="stylesheet" href="/css/send_mess_cand.css" />
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_cadre/left_menu_link" %>
  </div>

  <div class="cp-box">
  	<div style="grid-column: 1">
  		<div class="fcp-box">
      <h3 class="title" style="color: #d6b36a !important">ENTRETIEN FIT</h3>
      <h3 class="title t2">Choisissez la suite a donner a ces candidats et rediger votre avis recruteur</h3>
      <div class="fc-item" style="display: flex;">
        <div class="fc-item-all">

<!-- CANDIDATS  -->

          <div class="list-candidat">
            <div class="fci-image">
					    <img src="/image/cand.jpg" alt="photo profil candidats">
            </div>
            <div class="fci-icon">
              <% unless @cadre.admin.nil? %>
                <% if @cadre.admin == current_admin %>
                  <%= link_to rmv_favorite_cadre_path(id:@cadre.id), method: :delete do %>
                    <img src="/image/Vector-24.png" alt="logo oiam favorie" title="retirer" width="30px">
                  <% end %>
                <% else %>
                  <img src="/image/Vector-24.png" alt="logo oiam favorie" title="retirer" width="30px">
                <% end %>
              <% else %>
                <%= link_to add_favorite_cadre_path(id:@cadre.id), method: :post do %>
                  <img src="/image/Vector-22.png" alt="logo oiam non favorie" width="30px" title="suivre">
                <% end %>
              <% end %>
            </div>
            <div class="fci-infos">
              <p class="name"><%= @cadre.last_name %> <%= @cadre.first_name %></p>
              <p class="poste">Poste : <%= @cadre.job %></p>
              <p class="score">Score OIAM : <span><%= @cadre.score_potential %></span></p>
              </div>
            </div>
          </div>

         <!--  ---------------------------- -->

         <div class="mess_candidat">
            <textarea class="mess_input" name="message"></textarea>
            <a href="#" class="env-btn">Envoyer</a>
         </div>

        </div>
      </div>
    </div>
  	</div>
  </div>
</div>