<link rel="stylesheet" href="/css/send_mess_cand.css" />
<style>
  * {
    text-align: center;
    line-height: 2;
  }

  .cd-box {
    position: relative;
    text-align: center;
    margin-top: 50px;
  }
  .all-inf {
    position: relative;
    background: #fff;
    display: inline-block;
    border: 1px solid #d6b36a;
  }

  .cd-info img {
    width: 300px;
    height: 300px;
  }

  .cd-info {
    background: #fff;
  }

  .cd-info-be {
    padding: 20px;
    border-top: 1px solid #F0F2F4;
  }

  .cd-info-be .name {
    text-decoration: none;
    text-transform: uppercase;
  }

  .cd-info-be .score {
    text-decoration: none;
    text-transform: uppercase;
  }

  .cd-desc {
    background: #d6b36a;
    margin-top: 50px;
    width: 90%;
    height: auto;
    margin-left: 50px;
    color: #fff;
    text-align: center;
    padding: 50px;
  }

  .fci-icon {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .all-thing {
    text-align: center;
    padding: 20px;
  }

  .mybtn {
    width: 200px;
    height: 400px;
    background: #fff;
    color: #d6b36a;
    padding: 30px 80px;
    text-decoration: none;
    border: 1px solid #d6b36a;
    font-family: Raleway, sans-serif;
  }

  .mybtn:hover {
    text-decoration: none;
    color: #fff;
    background: #d6b36a;
    border: 1px solid #fff;
  }

  .info-cadd {
    margin-top: 20px;
  }

  .info-cadd h3 {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 30px;
  }

  .all-btn {
    margin-top: 75px;
  }

  .textarea-avis textarea {
    width: 600px;
    height: 200px;
    padding: 5px;
    outline: none;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    border: 2px solid #fff;
  }

  .avis-desc {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    letter-spacing: 2px;
  }

  .apercu {
    background: #d6b36a;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px 60px;
    outline: none;
  }

  .apercu:hover {
    background: #fff;
    color: #d6b36a;
    border: 1px solid #fff;
    outline: none;
  }

  .cont-btn {
    margin-top: 30px;
  }

  .form-my-cv {
    padding: 10px;
    background: #fff;
    color: #000;
    outline: none;
  }

  .cont-my-cv .my-cv-label {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .score-label label {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .score-radio input {
    margin-left: 20px;
  }

  .score-radio {
    display: block;
    padding: 5px;
  }

  .score-radio label {
    font-size: 14px;
  }

  .time-count {
    color: #fff;
    font-size: 80px;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
  }

  .my-count {
    margin-top: 40px;
  }

  .btn-link {
    background: #d6b36a;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 20px 60px;
    font-family: Raleway, sans-serif;
    cursor: pointer;
  }

  .btn-link:hover {
    color:  #d6b36a;
    background: #fff;
    border: 1px solid #fff;
    text-decoration: none;
  }

  .test-oe {
    margin-top: 40px;
  }

  .link-show {
    margin-top: 40px;
  }

  .link-show h4 {
    font-size: 14px;
  }

  .entr-avc h3 {
    color: #fff;
    font-size: 16px;
  }

  .fcp-box .t1 {
    color: #d6b36a;
  }

</style>
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_cadre/left_menu_link" %>
  </div>

  <div class="cp-box">
    <!-- TITLE -->
    <div>
      <div class="fcp-box">
      <h3 class="title t1">ENTRETIEN FIT</h3>
      <h3 class="title t2">Choisissez la suite a donner a ces candidats et rediger votre avis recruteur</h3>
    </div>

    <div class="cd-box">
      <!-- IMAGE -->
        <div class="all-inf">

          <div  class="cd-info">
            <% unless @cadre.image.nil? %>
                <%= image_tag(@cadre.image, alt: 'photo de profil')%>
              <% else %>
                <img src="/image/profie.png" alt="photo profil candidats">
              <% end %>
          </div>

          <div class="fci-icon">
              <% unless @cadre.admin.nil? %>
                <% if @cadre.admin == current_admin %>
                  <%= link_to rmv_favorite_cadre_path(id:@cadre.id), method: :delete, "data-confirm":"Êtes-vous sure de retirer cet(te) cadre de votre liste de candidat à suivre ?" do %>
                    <img src="/image/Vector-24.png" alt="logo oiam favorie" title="retirer" width="30px">
                  <% end %>
                <% else %>
                  <img src="/image/Vector-24.png" alt="logo oiam favorie" title="retirer" width="30px">
                <% end %>
              <% else %>
                <%= link_to add_favorite_cadre_path(id:@cadre.id), method: :post do %>
                  <img src="/image/Vector-22.png" alt="logo oiam non favorie" width="30px" title="suivre">
                <% end %>
              <% end %>
            </div>

          <div class="cd-info-be">
            <p class="name"><%= @cadre.first_name %> <%= @cadre.last_name %> </p>
            <p class="score">Score OIAM : <span><%= @cadre.score_potential %></span></p>
          </div>

        </div>

        <!-- BODY -->

        <div class="cd-desc">

          <div class="all-thing">
              <% if @cadre.is_recrute.nil? %> <!-- if is_recrute nil -->
              <% unless @cadre.agenda_admin.nil? %> <!-- if avec date -->
                <% if @cadre.agenda_admin.entretien_date > DateTime.now.utc %>
                <div class="entr-avc">
                  <h3>Entretien fit avec ce cadre le :  <span data-times="<%= @cadre.agenda_admin.entretien_date.strftime("%Y-%m-%d %H:%M") %>" class="currentDateEntretien"></span></h3>
                </div>
                <div class="my-count">
                    <p id="time-to-down" class="time-count"></p>
                </div>
                <% else %>
                <div class="info-cadd">
                  <h3>Vous avez rencontré <%= @cadre.first_name %> <%= @cadre.last_name %> le <strong><%=  @cadre.agenda_admin.entretien_date.strftime("%d/%m/%Y") %></strong>, comment s'est déroulé votre entretien ?</h3>
                </div>
                <div class="all-btn">
                  <span id="accepted-js" class="mybtn btn-to-hidden-js">ACCEPTER SA CANDIDATURE</span>
                  <span id="refused-js" class="mybtn btn-to-hidden-js">REFUSER SA CANDIDATURE</span>
                </div>

                <div id="show_if_accepted_js" style="display: none;">
                <div>
                  <%= form_for Cadre.new , url: candidate_to_cadre_path do |f| %>
                        <input type="hidden" name="cadre_id" value="<%=@cadre.id%>" >
                        <input type="hidden" name="is_recrute" value="1" id="accept-js-wa">
                        <label for="avi_id_js" class="avis-desc">Avis de One in a million</label>
                        <div class="textarea-avis">
                          <textarea id="avi_id_js" required="required" rows="3" class="my-form-control" name="avis" placeholder="avis visible par le client ..."></textarea>
                        </div>
                        <div>
                          <div class="score-label">
                            <label>Score Fit</label>
                          </div>
                          <div class="score-radio row">
                            <% 10.times do |i| %>
                              <input type="radio" id="score-fit-<%=i%>" name="score_fit" value="<%=i+1%>"><label for="score-fit-<%=i%>"><%=i+1%></label>
                            <% end %>
                          </div>
                          <div>
                            <div class="cont-my-cv">
                              <%= f.label :compte_rendu, "Importer le compte rendu", class:"my-cv-label"%>
                              <%= f.file_field :compte_rendu, class:"form-control-file form-my-cv", accept:".doc,.docx,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" %>
                            </div>
                          </div>
                        </div>
                        <div class="cont-btn">
                          <%= f.submit 'VALIDER', :class => 'apercu' %>
                        </div>
                  <% end %>
                    <% end %> <!-- end date future -->
                  <% else %> <!-- else avec date -->
                    En attente de la proposition du date de l'entretien par le cadre.
                  <% end %> <!-- end avec date -->
                  <% else %> <!-- else is_recrute nil -->
                    <div>
                <% if @cadre.is_recrute == true %>
                  <h2>TEST FIT REUSSI</h2>
                  <div>
                    <div class="test-oe">
                      <span id="generate-js" class="btn-link">Générer un lien pour l'inscription</span>
                    </div>
                    <div class="link-show">
                      <center id="show-link-js" style="display: none; color: #fff">
                        Lien unique pour l'inscription du candidat: <br>
                        <h4><%= new_cadre_registration_path(comfirm:@cadre.confirm_token) %></h4>
                      </center>
                    </div>
                  </div>
                <% else %>
                  <h2>CANDIDATURE REFUSÉE</h2>
                  <p>Ce candidat n'est pas reçu dans OIAM</p>
                <% end %>
              </div>
            <% end %>
          </div>
          </div>
          </div>
        </div>

    </div>
  </div>
</div>
</div>

<script type="text/javascript">
/*----------------------------------------------*/
  if (document.URL.indexOf('#') == -1) {
    url = document.URL + '#';
    location = '#';
    location.reload(true);
  }
/*----------------------------------------------*/
</script>

<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>

<script type="text/javascript">
  var month = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
  var day = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
  let $elementDate = $('.currentDateEntretien');

  $elementDate.each(function () {
    let dateUTC = moment.utc($(this).data().times);
    let dateGet = new Date(dateUTC.local());
    let dateString = day[dateGet.getDay()] + ' ' + dateGet.getDate() + ' ' + month[dateGet.getMonth()] + ' ' + dateGet.getFullYear();

    let heur = (""+dateGet.getHours()).length == 1 ? ("0"+dateGet.getHours()) : dateGet.getHours()
    let min = (""+dateGet.getMinutes()).length == 1 ? ("0"+dateGet.getMinutes()) : dateGet.getMinutes()

    $(this).html(dateString + ' à ' + heur + 'h:'+min);
  });

  $("#accepted-js").click(function(){
    console.log("khkshkhkjdhjkdhjkdhjkd");
    $("#show_if_accepted_js").show(500);
    $(".btn-to-hidden-js").hide(500);
  });

  $("#refused-js").click(function(){
    console.log("khkshkhkjdhjkdhjkdhjkd");
    $("#show_if_accepted_js").show(500);
    $(".btn-to-hidden-js").hide(500);
    $("#accept-js-wa").remove()
  });

  $("#generate-js").click(function(){
    $("#show-link-js").show(300);
  });

/*********************************************/
  let elementDate = $('.currentDateEntretien')[0];
  let dateUTC = moment.utc($(elementDate).data().times);
  let countDownDate = new Date(dateUTC.local()).getTime();
  var nodeTime = document.getElementById("time-to-down")
  var x = setInterval(function() {
    var now = new Date().getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    nodeTime.innerHTML = days + " | " + hours + " | "
    + minutes + " | " + seconds + "";
    if (distance < 0) {
      clearInterval(x);
      nodeTime.innerHTML = "EXPIRED";
    }
  }, 1000);
/*********************************************/
</script>
