<link rel="stylesheet" href="/css/client_profil.css" />
<link rel="stylesheet" href="/css/send_mess_cand.css" />
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<style>
  .score-radio {
    margin-top: 10px;
    margin-left: 60px;
  }

  .apercu {
    background: #d6b36a;
    border: 1px solid #d6b36a;
    color: #fff;
    padding: 10px 40px;
    margin-left: 70px;
    margin-top: 10px;
  }

  .apercu:hover {
    background: #fff;
    color: #d6b36a;
    border: 1px solid #d6b36a;
  }

  .fomaa {
    width: 400px;
    height: 40px;
    margin-left: 120px;
    margin-top: 10px;
    border: 2px solid #d6b36a;
  }

  input[type="radio"] {
    padding: 10px 30px;
    margin: 0 17px;
  }

  .my-cv-label {
    margin-top: 10px;
    margin-left: 70px;
  }

  input[type="radio"]:checked {
    background-color: #d6b36a !important;
  }

  .acc-cadre {
    position: absolute;
    top: 0;
    margin-top: 300px;
  }

  .score-label {
    text-align: center;
    margin-left: 60px;
  }

  .avis-desc {
    margin-left: 65px;
    margin-bottom: 30px;
  }

  .my-form-control {
    width: 500px;
    height: 200px;
    padding: 10px;
    outline: none;
    border: 2px solid #d6b36a;
    margin: 0 auto;
    margin-left: 60px;
  }

  .btn-fit {
    color: #fff;
    background: #d6b36a;
    cursor: pointer;
    padding: 15px 30px;
    border: 1px solid #d6b36a;
    text-decoration: none;
  }

  .btn-fit:hover {
    color: #d6b36a;
    background: #fff;
  }

  .desc-suiv {
    margin-left: 80px;
  }

  .cd-acc h2 {
    margin-left: 35px;
    color: #d6b36a;
  }

  .cd-acc {
    margin-top: 40px;
  }

  .btn-email {
    width: 60px;
    height: 30px;
    background: #d6b36a;
    color: #fff;
    border: 1px solid #d6b36a;
    padding: 20px 60px;
    margin-top: 50px;
    cursor: pointer;
  }

  .btn-link {
    width: 60px;
    height: 30px;
    background: #d6b36a;
    color: #fff;
    border: 1px solid #d6b36a;
    padding: 20px 60px;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none:
  }

  .not {
    margin-top: 40px;
    margin-left: 40px;
  }

  .btn-email:hover {
    background: #fff;
    border: 1px solid #d6b36a;
    color: #d6b36a;
  }

  .btn-link:hover {
    background: #fff;
    border: 1px solid #d6b36a;
    color: #d6b36a;
    text-decoration: none;
  }

  .gen-link {
    margin-top: 60px;
    margin-right: 15px;
  }

  .gen-links {
    margin-top: 40px;
    margin-left: 40px;
  }

</style>
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_cadre/left_menu_link" %>
  </div>

  <div class="cp-box">
  	<div style="grid-column: 1">
  		<div class="fcp-box">
      <h3 class="title" style="color: #d6b36a !important">ENTRETIEN FIT</h3>
      <h3 class="title t2">Choisissez la suite a donner a ces candidats et rediger votre avis recruteur</h3>

      <div class="fc-item" style="display: flex; margin-top: 40px;">
        <div class="fc-item-all" style="margin-top: 40px;">


<!-- CANDIDATS  -->

          <div class="list-candidat">
            <div class="fci-image">
					    <% unless @cadre.image.nil? %>
                <%= image_tag(@cadre.image, alt: 'photo de profil')%>
              <% else %>
                <img src="/image/profie.png" alt="photo profil candidats">
              <% end %>
            </div>
            <div class="fci-icon">
              <% unless @cadre.admin.nil? %>
                <% if @cadre.admin == current_admin %>
                  <%= link_to rmv_favorite_cadre_path(id:@cadre.id), method: :delete, "data-confirm":"Êtes-vous sure de retirer cet(te) cadre de votre liste de candidat à suivre ?" do %>
                    <img src="/image/Vector-24.png" alt="logo oiam favorie" title="retirer" width="30px">
                  <% end %>
                <% else %>
                  <img src="/image/Vector-24.png" alt="logo oiam favorie" title="retirer" width="30px">
                <% end %>
              <% else %>
                <%= link_to add_favorite_cadre_path(id:@cadre.id), method: :post do %>
                  <img src="/image/Vector-22.png" alt="logo oiam non favorie" width="30px" title="suivre">
                <% end %>
              <% end %>
            </div>
            <div class="fci-infos">
              <p class="name"><%= @cadre.first_name %> <%= @cadre.last_name %> </p>
              <p class="poste">Poste : <%= @cadre.job %></p>
              <p class="score">Score OIAM : <span><%= @cadre.score_potential %></span></p>
            </div>
          </div>
        </div>

         <!--  ---------------------------- -->


         <div class="mess_candidat">

          <% unless @cadre.agenda_admin.nil? %>          
            <% if @cadre.agenda_admin.entretien_date > DateTime.now.utc %>
              <p>
                <strong>Entretien fit avec ce cadre le : </strong>
                <span data-times="<%= @cadre.agenda_admin.entretien_date.strftime("%Y-%m-%d %H:%M") %>" class="currentDateEntretien"></span>
              </p>
              <p id="time-to-down" class="btn btn-info" style="font-size: 40px;"></p>
              <% if @cadre.agenda_admin.accepted.nil? %>
                <%= link_to accepted_or_reffused_path(id:@cadre.id), method: :post do %><br>ACCEPTER LE RENDEZ-VOUS<% end %>
              <% else %>
                <br>RENDEZ-VOUS ACCEPTER
              <% end %>
            <% if @cadre.is_recrute.nil? %>
              <div style="margin-left: 200px; margin-top: 150px;">
                <span style='font-size: 20px;' id="accepted-js" class="btn-fit btn-acc btn-to-hidden-js">CANDIDATURE ACCEPTÉE</span><br><br><br>
                <span style='font-size: 20px;' id="refused-js" class="btn-fit btn-ref btn-to-hidden-js">CANDIDATURE REFFUSÉE</span>
              </div>

              <div id="show_if_accepted_js" style="display: none;">

              <div class="acc-cadre">
                <%= form_for Cadre.new , url: candidate_to_cadre_path do |f| %>
                  <input type="hidden" name="cadre_id" value="<%=@cadre.id%>" >
                  <input type="hidden" name="is_recrute" value="1" id="accept-js-wa">

                  <label for="avi_id_js" class="avis-desc">Avis de One in a million</label>
                  <div class="form-group">
                    <textarea id="avi_id_js" required="required" rows="3" class="my-form-control" name="avis" placeholder="avis visible par le client ..."></textarea>
                  </div>

                  <div>
                    <div class="score-label">
                      <label>Score Fit</label>
                    </div>
                    <div class="score-radio row">
                      <%# <input type="number" name="score_fit"> %>
                      <input type="radio" id="score_fit" name="score_fit" value="1">
                      <label for="score_fit">1</label>
                      <input type="radio" id="score_fit" name="score_fit" value="2">
                      <label for="score_fit">2</label>
                      <input type="radio" id="score_fit" name="score_fit" value="3">
                      <label for="score_fit">3</label>
                      <input type="radio" id="score_fit" name="score_fit" value="4">
                      <label for="score_fit">4</label>
                      <input type="radio" id="score_fit" name="score_fit" value="5">
                      <label for="score_fit">5</label>
                      <input type="radio" id="score_fit" name="score_fit" value="6">
                      <label for="score_fit">6</label>
                      <input type="radio" id="score_fit" name="score_fit" value="7">
                      <label for="score_fit">7</label>
                      <input type="radio" id="score_fit" name="score_fit" value="8">
                      <label for="score_fit">8</label>
                      <input type="radio" id="score_fit" name="score_fit" value="9">
                      <label for="score_fit">9</label>
                    </div>

                    <div>
                      <div class="form-group">
                        <%= f.label :compte_rendu, "Importer le compte rendu", class:"my-cv-label"%>
                        <%= f.file_field :compte_rendu, class:"form-control fomaa", accept:".doc,.docx,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" %>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= f.submit 'VALIDER', :class => 'apercu' %>
                  </div>  
                <% end %>
                </div>


              </div>
            <% else %>

            <div class="cd-acc">
              <% if @cadre.is_recrute == true %>
                <h2>CANDIDATURE ACCEPTER</h2>

                <div class="not">
                <div class="not-email">
                <span class="btn-email">NOTIFIER PAR EMAIL</span>
                </div>
                <div class="gen-link">
                <span id="generate-js" class="btn-link">Générer un lien</span>
                </div>
                </div>

                <div class="gen-links">
                <center id="show-link-js" style="display: none; color: #d6b36a">
                  Lien unique pour l'inscription du candidat: <br>
                  <strong style="color: #000"><%= new_cadre_registration_path(comfirm:@cadre.confirm_token) %></strong>
                </center>
                </div>

              <% else %>
                <h2>CANDIDATURE REFFUSER</h2>
                <span class="btn-email">NOTIFIER PAR EMAIL</span>
              <% end %>
            <% end %>
          <% else %>
            En attente de la proposition du date de l'entretien par le cadre.
          <% end %>
          <% end %>
          </div>

         </div>

        </div>
      </div>
    </div>
  	</div>
  </div>
</div>

<script type="text/javascript">
/*----------------------------------------------*/
  if (document.URL.indexOf('#') == -1) {
    url = document.URL + '#';
    location = '#';
    location.reload(true);
  }
/*----------------------------------------------*/
</script>

<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>

<script type="text/javascript">
  var month = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
  var day = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
  let $elementDate = $('.currentDateEntretien');

  $elementDate.each(function () {
    let dateUTC = moment.utc($(this).data().times);
    let dateGet = new Date(dateUTC.local());
    let dateString = day[dateGet.getDay()] + ' ' + dateGet.getDate() + ' ' + month[dateGet.getMonth()] + ' ' + dateGet.getFullYear();

    let heur = (""+dateGet.getHours()).length == 1 ? ("0"+dateGet.getHours()) : dateGet.getHours()
    let min = (""+dateGet.getMinutes()).length == 1 ? ("0"+dateGet.getMinutes()) : dateGet.getMinutes()

    $(this).html(dateString + ' à ' + heur + 'h:'+min);
  });

  $("#accepted-js").click(function(){
    $("#show_if_accepted_js").show(500);
    $(".btn-to-hidden-js").hide(500);
  });

  $("#refused-js").click(function(){
    $("#show_if_accepted_js").show(500);
    $(".btn-to-hidden-js").hide(500);
    $("#accept-js-wa").remove()
  });

  $("#generate-js").click(function(){
    $("#show-link-js").show(300);
  });

/*********************************************/
  let elementDate = $('.currentDateEntretien')[0];
  let dateUTC = moment.utc($(elementDate).data().times);
  let countDownDate = new Date(dateUTC.local()).getTime();
  var nodeTime = document.getElementById("time-to-down")
  var x = setInterval(function() {
    var now = new Date().getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    nodeTime.innerHTML = days + "j:" + hours + "h:"
    + minutes + "m:" + seconds + "s";
    if (distance < 0) {
      clearInterval(x);
      nodeTime.innerHTML = "EXPIRED";
    }
  }, 1000);
/*********************************************/
</script>
