<link rel="stylesheet" href="/css/accueilg.css" />
<div class="bg-accueil1"></div>
<div class="accueilg-btn1 first-btn1">
  <div class="cadre-btn1">
    <%= link_to "CADRE", main_cadre_path %>
  </div>
  <div class="recruteur-btn1">
    <%= link_to "RECRUTEUR",main_recruiter_path %>
  </div>
</div>
<div class="accueilg-content1">
  <div class="ac-item2">
    <div class="accueilg-item1">
      <h2>RECRUTER L’ÉLITE DES CADRES ET DIRIGEANTS.</h2>
      <P>
        La plateforme One in a million est le lieu de rencontre entre les meilleurs Cadres, triés sur le volet par le test scientifique et prédictif le plus exigeant du marché et en recherche active et les meilleures opportunités proposées par des Entreprises de toute taille.
      </P>
    </div>
    <div class="picto1">
      <img src="/public/image/picto.png" alt="pictogramme" />
    </div>
  </div>
  <div class="ac-item2 ac-item21">
    <div class="accueilg-item1">
      <h2>RENCONTRER L’OPPORTUNITÉ DE VOS RÊVES EN 15 JOURS.</h2>
      <p>
        One in a million facilite le processus de recrutement en garantissant une mise en relation simple, directe, rapide et pertinente basée sur vos aspirations et votre niveau de compatibilité avec des offres d’emploi réservées aux candidats de haut niveau.
      </p>
    </div>
    <div class="picto1">
      <img src="/image/picto1.png" alt="pictogramme" />
    </div>
  </div>
  <div class="ac-item2">
    <div class="accueilg-item1">
      <h2>LA SCIENCE POUR UN RECRUTEMENT PLUS HUMAIN.</h2>
      <p>
        Le test OIAM© est le plus exigeant du marché. Développé d’après plus de 85 années de recherche scientifique, il permet de déterminer l’excellence d’une candidature d’après des critères scientifiquement prédictifs, et complètement non-discriminants. La plateforme One in a million sélectionne
        ainsi le Top 30% des candidatures de cadres et dirigeants.
      </p>
    </div>
    <div class="picto1">
      <img src="/image/picto2.png" alt="pictogramme" />
    </div>
  </div>
  <p class="cc-accueuil1">Je suis un...</p>
  <div class="accueilg-btn1">
    <div class="cadre-btn1">
      <%= link_to "CADRE", main_cadre_path %>
    </div>
    <div class="recruteur-btn1">
      <%= link_to "RECRUTEUR",main_recruiter_path %>
    </div>
  </div>
</div>
<%= render "/contact_us" %>
