<link rel="stylesheet" type="text/css" href="/css/methodology.css">
<aside class="aside">
  <h2 class="aside-title">ÉVALUER L’EXCELLENCE LÀ OÙ ELLE SE TROUVE</h2>
  <div class="aside-paragraphe">
    <p><%= image_tag "check-gold1.png", class:"first-image" %>Le test de recrutement prédictif One in a Million est le seul test spécialement dédié à l'évaluation scientifique de la performance d'un Cadre.</p>
    <p><%= image_tag "check-gold1.png", class:"second-image"%>Basé sur plus de 85 années de recherche, et inspiré des meilleures techniques de recrutement d'élite du monde, le test OIAM est entièrement digital.</p>
    <p><%= image_tag "check-gold1.png", class:"threeth-image" %>Il s'agit du test le plus exigeant du marché, permettant ainsi de sélectionner la crème de la crème des Executive.</p>
    <p><%= image_tag "check-gold1.png", class:"fourth-image"%>Tous les critères prédictifs évaluant l'excellence et la performance d'un Cadre sont analysés au travers de ce test unique, développé après plus de 10 ans d'expérience en chasse de tête.</p>
    <p><%= image_tag "check-gold1.png", class:"fiveth-image"%>Seuls les candidats ayant obtenu les meilleurs scores sont retenus pour les phases de sélection liées à l'expertise métier, validées par un entretien avec l'un de nos experts.</p>
  </div>
</aside>
