<!-- call css  -->
<link rel="stylesheet" href="/css/be_processed.css" />
<!-- call css  -->
<style>
	.gold-ttl {
		font-weight: bold;
		color: #d6b36a;
	}
</style>
<!-- html body  -->
<div class="client-column">
	<div class="client-menu-left">
		<%= render partial: "admin_candidats/left_menu" %>
	</div>
	<div class="cp-box">
		<div class="admin-bp-box ">
			<div class="dp-input">
				<div class="flex" id="select-calendat">
					<select name="filtre" id="filtre" class="co-select input-date-js">
						<option value=".TOUS" selected="selected">TOUS</option>
						<option value=".INSCRIPTION_TEST_POTENTIEL">INSCRIPTION TEST POTENTIAL</option>
						<option value=".PLANIFICATION_ENTRETIEN_FIT">PLANIFICATION ENTRETIEN FIT</option>
						<option value=".ENTRETIEN_FIT">ENTRETIEN FIT</option>
						<option value=".COMPLETION_PROFIL">COMPLETION PROFIL</option>
						<option value=".PROMESSE-D-EMBAUCHE">PROMESSE D'EMBAUCHE</option>
						<option value=".PERIODE-D-ESSAI">PERIODE D'ESSAI</option>
						<option value=".PRIME">PRIME</option>
					</select>
					<div class="calendar flex">
						<img src="/image/calendar.png" alt="">
					</div>
				</div>
				<div id="search" class="flex">
					<div class="flex date-flex">
						<div class="flex date-flex-item">
							<div class="inside-div">
								Date d'entrée : &nbsp;&nbsp;&nbsp;
								<input type="date" name="enter_date_min" class="input-date-js" id="enter_date_min">
							</div>
							<div class="inside-div">
								&nbsp;&nbsp;&nbsp;à&nbsp;&nbsp;&nbsp;
								<input type="date" name="enter_date_max" class="input-date-js" id="enter_date_max">
							</div>
						</div>
						<div class="flex date-flex-item">
							<div class="inside-div">
								Date limite : &nbsp;&nbsp;&nbsp;
								<input type="date" name="lim_date_min" class="input-date-js" id="lim_date_min">
							</div>
							<div class="inside-div">
								&nbsp;&nbsp;&nbsp;à&nbsp;&nbsp;&nbsp;
								<input type="date" name="lim_date_max" class="input-date-js" id="lim_date_max">
							</div>
						</div>
					</div>
					<span id="delete_filter">Supprimer filtre</span>
				</div>
				<div id="none-element" style="display:none;">Aucune tâche à traiter.</div>
			</div>
			<div class="flex">

				<!-- <div>Test potentiel non terminé (en cours d eroute),récupérer son nom et email)</div> -->

				<% unless @cadreInfoPotentielNotEnds.empty? %>
				<% @cadreInfoPotentielNotEnds.each do |cadreInfoPotentielNotEnd| %>

				<% minDate = cadreInfoPotentielNotEnd.created_at.strftime("%d/%m/%Y") %>
				<% maxDate = cadreInfoPotentielNotEnd.created_at.next_day(2).strftime("%d/%m/%Y") %>

				<div data-name=".INSCRIPTION_TEST_POTENTIEL" class="bp-box list-items-me" data-min="<%= minDate %>" data-max="<%= maxDate %>">
					<!-- <img src='/image/profie.png'/> <br> -->
					<div class="bp-inside-box">
						<div class="bp-inscr"><span class="gold-ttl">INSCRIPTION TEST POTENTIAL</span><br>
							Etat: non terminée
						</div>
						<br>
						<div class="bp-name">
							<%= cadreInfoPotentielNotEnd.first_name %> <%= cadreInfoPotentielNotEnd.last_name %>
						</div>
						<div class="bp-date">
							Date d'entrée : <%= minDate %>

						</div>
						<div class="bp-date">
							Date limite : <%= maxDate %>
						</div>
					</div>
					<div class="bp-btn">
						<a href="<%= cbp_inscription_path(cadreInfoPotentielNotEnd.id) %>">GERER</a>
					</div>
				</div>
				<% end %>
				<% end %>

				<!-- <div>RDV Entretiens FIT à valider(nom+prenom, date+horaire rdv)</div> -->

				<% unless @cadreInfoFits.empty? %>
				<% @cadreInfoFits.each do |cadreInfoFit| %>


				<% minDate = cadreInfoFit.agenda_admin.entretien_date.strftime("%d/%m/%Y") %>
				<% maxDate = cadreInfoFit.agenda_admin.entretien_date.next_day(1).strftime("%d/%m/%Y") %>

				<div data-name=".PLANIFICATION_ENTRETIEN_FIT" class="bp-box list-items-me" data-min="<%= minDate %>" data-max="<%= maxDate %>">
					<div class="bp-inside-box">
						<div class="bp-inscr"><span class="gold-ttl">PLANIFICATION ENTRETIEN FIT</span><br>
							Etat: à valider
						</div>
						<br>
						<div class="bp-name pt-4">
							<%= cadreInfoFit.first_name %> <%= cadreInfoFit.last_name %>
						</div>
						<div class="bp-date">
							Date d'entrée :
							<span
								data-times="<%= cadreInfoFit.agenda_admin.entretien_date.strftime("%Y-%m-%d %H:%M") %>"
								class="currentDatentretien"></span>
						</div>
						<div class="bp-date">
							Date limite :  <%= maxDate %>
						</div>
					</div>
					<div class="bp-btn">
						<a href="<%= cbp_validate_entretien_fit_path(cadreInfoFit.id) %>">GERER</a>
					</div>
				</div>
				<% end %>
				<% end %>

				<!-- <div>Entretiens FIT à effectuer(nom+prénom+date)</div> -->

				<% unless @cadreInfoEnterScoreFits.empty? %>
				<% @cadreInfoEnterScoreFits.each do |cadreInfoEnterScoreFit| %>
				<% minDate = cadreInfoEnterScoreFit.agenda_admin.entretien_date.strftime("%d/%m/%Y") %>
				<% maxDate = cadreInfoEnterScoreFit.agenda_admin.entretien_date.next_day(1).strftime("%d/%m/%Y") %>
				<div data-name=".ENTRETIEN_FIT" class="bp-box list-items-me" data-min="<%= minDate %>" data-max="<%= maxDate %>">
					<div class="bp-inside-box">
						<div class="bp-inscr"><span class="gold-ttl">ENTRETIEN FIT</span><br>
							Etat:  à effectuer
						</div>
						<br>
						<div class="bp-name pt-4">
							<%= cadreInfoEnterScoreFit.first_name %> <%= cadreInfoEnterScoreFit.last_name %>
						</div>
						<div class="bp-date">
							Date d'entrée :
							<span
								data-times="<%= cadreInfoEnterScoreFit.agenda_admin.entretien_date.strftime("%Y-%m-%d %H:%M") %>"
								class="currentDatentretien"></span>
						</div>
						<div class="bp-date">
							Date limite : <%= maxDate %>
						</div>
					</div>
					<div class="bp-btn">
						<a href="<%= post_avis_candidats_fit_path(cadreInfoEnterScoreFit.id) %>">GERER</a>
					</div>
				</div>
				<% end %>
				<% end %>

				<!-- <div>Profil non complété</div> -->

				<% unless @cacadreInfoInCompleteInfoProfils.empty? %>
				<% @cacadreInfoInCompleteInfoProfils.each do |cacadreInfoInCompleteInfoProfil| %>
				<% cfo = cacadreInfoInCompleteInfoProfil %>

				<% minDate = cfo.agenda_admin.created_at.strftime("%d/%m/%Y") %>
				<% maxDate = cfo.agenda_admin.created_at.next_day(7).strftime("%d/%m/%Y") %>

				<div data-name=".COMPLETION_PROFIL" class="bp-box list-items-me" data-min="<%= minDate %>"
					data-max="<%= maxDate %>">
					<div class="bp-inside-box">
						<div class="bp-inscr"><span class="gold-ttl">COMPLETION PROFIL</span><br>
							Etat: Profil non complété
						</div>
						<br>
						<div class="bp-name pt-4">
							<%= cfo.first_name %> <%= cfo.last_name %>
						</div>
						<div class="bp-date">
							Date d'entrée : <%= minDate %>
						</div>
						<div class="bp-date">
							Date limite : <%= maxDate %>
						</div>
					</div>
					<div class="bp-btn">
						<a href="<%= cbp_profil_no_complete_path(cacadreInfoInCompleteInfoProfil.id) %>">GERER</a>
					</div>
				</div>
				<% end %>
				<% end %>

				<!-- <div>Liste des candidats qui n'ont pas encore postulé à une offre ou qui ne sont pas dans un process de recrutement</div> -->

				<!-- <div>Liste des candidats qui n'ont pas eu de retour du recruteur suit au rdv déjà passé.</div> -->

				<!-- <div>Liste candidats qui ont eu une promesse d'embauche et qui n'ont pas répondu</div> -->

				<% unless @cadreInfoNotPromiseToHires.empty? %>
				<% @cadreInfoNotPromiseToHires.each do |cadreInfoNotPromiseToHire| %>
				<% cINPT = cadreInfoNotPromiseToHire.cadre_info %>
				<div data-name=".PROMESSE-D-EMBAUCHE" class="bp-box list-items-me"
					data-min="<%= cINPT.promise_not_reponded[1] %>" data-max="<%= cINPT.promise_not_reponded[0] %>">
					<div class="bp-inside-box">
						<div class="bp-inscr"><span class="gold-ttl">PROMESSE D'EMBAUCHE</span><br>
							Etat: Promesse d'embauche non validée
						</div>
						<br>
						<div class="bp-name pt-4">
							<%= cINPT.first_name %> <%= cINPT.last_name %>
						</div>
						<div class="bp-date">
							Date d'entrée : <%= cINPT.promise_not_reponded[1] %>
						</div>
						<div class="bp-date">
							Date limite : <%= cINPT.promise_not_reponded[0] %>
						</div>
					</div>
					<div class="bp-btn">
						<a href="<%= cbp_promise_no_validate_path(cINPT.id) %>">GERER</a>
					</div>
				</div>
				<% end %>
				<% end %>

				<!-- <div>Liste des candidats qui sont arrivés au bout de leur période d'essai et qui n'ont pas encore été validés dans le système.</div> -->

				<% unless @cadreInfoValidateTimeTryings.empty? %>
				<% @cadreInfoValidateTimeTryings.each do |cadreInfoValidateTimeTrying| %>

				<% pThWa = cadreInfoValidateTimeTrying[0] %>
				<% time_trying = pThWa.time_trying %>
				<% if time_trying.include?('-') %>
				<% ptime = time_trying.split('-')%>
				<% @pThWa1 = "#{ptime[2]}/#{ptime[1]}/#{ptime[0]}"%>
				<% else %>
				<% @pThWa1 =  time_trying %>
				<% end %>

				<div data-name=".PERIODE-D-ESSAI" class="bp-box list-items-me"
					data-min="<%= pThWa.offre_job.date_poste %>" data-max="<%= @pThWa1 %>">
					<div class="bp-inside-box">
						<div class="bp-inscr"><span class="gold-ttl">PERIODE D'ESSAI</span><br>
							Etat: Période d'essai non validée
						</div>
						<div class="bp-name pt-4">
							<%= pThWa.cadre.cadre_info.first_name %> <%= pThWa.cadre.cadre_info.last_name %>
						</div>
						<div class="bp-date">
							Date  de prise de poste :
							<%= pThWa.offre_job.date_poste %>
						</div>
						<div class="bp-date">
							Date de fin de période d'essai : <%= @pThWa1 %>
						</div>
					</div>
					<div class="bp-btn">
						<a href="<%= cp_show_promise_path(pThWa.id) %>">GERER</a>
						<!-- promise to hire -->
					</div>
				</div>

				<% end %>
				<% end %>

				<!-- <div>Liste des candidats qui n'ont pas reçu leur prime</div> -->

				<% unless @cadreInfoPrimNotReceiveds.empty? %>
				<% @cadreInfoPrimNotReceiveds.each do |cadreInfoPrimNotReceived| %>

				<% pThWa = cadreInfoPrimNotReceived[0] %>
				<% time_trying = pThWa.time_trying%>
				<%if time_trying.include?('-') %>
				<% ptime = time_trying.split('-')%>
				<% @pThWa1 = "#{ptime[2]}/#{ptime[1]}/#{ptime[0]}"%>
				<%else %>
				<% @pThWa1 =  time_trying %>
				<%end %>

				<div data-name=".PRIME" class="bp-box list-items-me" data-min="<%= pThWa.offre_job.date_poste %>"
					data-max="<%= @pThWa1 %>">
					<div class="bp-inside-box">
						<div class="bp-inscr"><span class="gold-ttl">PRIME</span><br>
							Etat : Prime non reçue
						</div>
						<div class="bp-name pt-4">
							<%= pThWa.cadre.cadre_info.first_name %> <%= pThWa.cadre.cadre_info.last_name %>
						</div>
						<div class="bp-date">
							Date d'entrée : <%= pThWa.offre_job.date_poste %>
						</div>
						<div class="bp-date">
							Date limite : <%= @pThWa1 %>
						</div>
					</div>
					<div class="bp-btn">
						<a href="<%= cbp_prime_path(pThWa.id) %>">GERER</a>
					</div>
				</div>

				<% end %>
				<% end %>
			</div>

		</div>
	</div>
</div>


<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>

<script type="text/javascript" src="/js/be_processed.js"></script>