<link rel="stylesheet" href="/css/admin_prms.css" />
<link rel="stylesheet" href="/admins/css/atrt.css">

<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_candidats/left_menu" %>
  </div>

  	<div class="cp-box">
      <div class="container">

    <div class="filter-cont">
      <select name="filtre" id="filtre">
        <option value=".TOUS" selected="selected">TOUS</option>
        <option value=".INSCRIPTION">INSCRIPTION</option>
        <option value=".ADMISSION">ADMISSION</option>
        <option value=".PROMESSE-D-EMBAUCHE">PROMESSE D'EMBAUCHE</option>
        <option value=".PRIME">PRIME</option>
      </select>
    </div>
    <div class="none-el">
      <p id="none-element" style="display: none;">Aucune tâche à traiter.</p>
    </div>



        <div class="row">
	    <!-- <h2>Test potentiel non terminé (en cours d eroute),récupérer son nom et email)</h2> -->

	    <% unless @cadreInfoPotentielNotEnds.empty? %>
	    	<% @cadreInfoPotentielNotEnds.each do |cadreInfoPotentielNotEnd| %>
	    		<div data-name=".INSCRIPTION" class="atrt-box list-items-me col-lg-3 col-xs-12 col-md-4 col-sm-12">
					<!-- <img src='/image/profie.png'/> <br> -->
          <div class="atrt-ct-box">
				    <h2 class="atrt-insc">INSCRIPTION</h2>
				    <div class="atrt-name">
				    	<%= cadreInfoPotentielNotEnd.first_name %> <%= cadreInfoPotentielNotEnd.last_name %>
				    </div>
				    <div class="atrt-date">
				    	Date d'entré<e:></e:>
              <br>
              <%= cadreInfoPotentielNotEnd.created_at.strftime("%d/%m/%Y") %>
				    </div>
				    <div class="atrt-date">
				    	Date limite:
              <br>
              ~
				    </div>
            </div>
				    <div class="atrt-btn-gr">
				    	<a class="col-lg-3 col-xs-12 col-md-4 col-sm-12" href="<%= cbp_inscription_path(cadreInfoPotentielNotEnd.id) %>">GERER</a>
				    </div>
				</div>
	    	<% end %>
	    <% end %>

		<!-- <h2>RDV Entretiens FIT à valider(nom+prenom, date+horaire rdv)</h2> -->

	    <% unless @cadreInfoFits.empty? %>
	    	<% @cadreInfoFits.each do |cadreInfoFit| %>
	    		<div data-name=".INSCRIPTION" class="atrt-box list-items-me col-lg-3 col-xs-12 col-md-4 col-sm-12">
            <div class="atrt-ct-box">
	    			<h2  class="atrt-insc">INSCRIPTION</h2>
	    			<div class="atrt-name">
		    			<%= cadreInfoFit.first_name %> <%= cadreInfoFit.last_name %>
		    		</div>
		    		<div class="atrt-date">
				    	Date d'entrée:
              <br>
              <span data-times="<%= cadreInfoFit.agenda_admin.entretien_date.strftime("%Y-%m-%d %H:%M") %>" class="currentDatentretien"></span>
				    </div>
				    <div class="atrt-date">
				    	Date limite:
              <br>
              ~
				    </div>
          </div>
				    <div class="atrt-btn-gr">
				    	<a class="col-lg-3 col-xs-12 col-md-4 col-sm-12" href="<%= cbp_validate_entretien_fit_path(cadreInfoFit.id) %>">GERER</a>
				    </div>
		    	</div>
	    	<% end %>
	    <% end %>

		<!-- <h2>Entretiens FIT à effectuer(nom+prénom+date)</h2> -->

	    <% unless @cadreInfoEnterScoreFits.empty? %>
	    	<% @cadreInfoEnterScoreFits.each do |cadreInfoEnterScoreFit| %>
	    		<div data-name=".INSCRIPTION" class="atrt-box list-items-me col-lg-3 col-xs-12 col-md-4 col-sm-12">
            <div class="atrt-ct-box">
	    			<h2 class="atrt-insc">INSCRIPTION</h2>
	    			<div class="atrt-name">
	    				<%= cadreInfoEnterScoreFit.first_name %> <%= cadreInfoEnterScoreFit.last_name %>
	    			</div>
	    			<div class="atrt-date">
	    				Date d'entrée:
              <br>
              <span data-times="<%= cadreInfoEnterScoreFit.agenda_admin.entretien_date.strftime("%Y-%m-%d %H:%M") %>" class="currentDatentretien"></span>
	    			</div>
					<div class="atrt-date">
				    	Date limite:
              <br>
              ~
				    </div>
          </div>
				    <div class="atrt-btn-gr">
				    	<a class="col-lg-3 col-xs-12 col-md-4 col-sm-12" href="<%= post_avis_candidats_fit_path(cadreInfoEnterScoreFit.id) %>">GERER</a>
				    </div>
		    	</div>
	    	<% end %>
	    <% end %>

		<!-- <h2>Profil non complété</h2> -->

	    <% unless @cacadreInfoInCompleteInfoProfils.empty? %>
	    	<% @cacadreInfoInCompleteInfoProfils.each do |cacadreInfoInCompleteInfoProfil| %>
	    	<% cfo = cacadreInfoInCompleteInfoProfil %>
	    		<div data-name=".ADMISSION" class="atrt-box list-items-me col-lg-3 col-xs-12 col-md-4 col-sm-12">
            <div class="atrt-ct-box">
	    			<h2 class="atrt-insc">ADMISSION</h2>
	    			<div class="atrt-name">
		    			<%= cfo.first_name %> <%= cfo.last_name %>
	    			</div>
	    			<div class="atrt-date">
	    				Date d'entrée:
              <br>
              ~
	    			</div>
	    			<div class="atrt-date">
	    				Date limite:
              <br>
              ~
	    			</div>
          </div>
	    			<div class="atrt-btn-gr">
		    			<a class="col-lg-3 col-xs-12 col-md-4 col-sm-12" href="<%= cbp_profil_no_complete_path(cacadreInfoInCompleteInfoProfil.id) %>">GERER</a>
	    			</div>
		    	</div>
	    	<% end %>
	    <% end %>

		<!-- <h2>Liste des candidats qui n'ont pas encore postulé à une offre ou qui ne sont pas dans un process de recrutement</h2> -->

		<!-- <h2>Liste des candidats qui n'ont pas eu de retour du recruteur suit au rdv déjà passé.</h2> -->

	    <!-- <h2>Liste candidats qui ont eu une promesse d'embauche et qui n'ont pas répondu</h2> -->

	    <% unless @cadreInfoNotPromiseToHires.empty? %>
	    	<% @cadreInfoNotPromiseToHires.each do |cadreInfoNotPromiseToHire| %>
	    		<% cINPT = cadreInfoNotPromiseToHire.cadre_info %>
		    	<div data-name=".PROMESSE-D-EMBAUCHE" class="atrt-box list-items-me col-lg-3 col-xs-12 col-md-4 col-sm-12">
            <div class="atrt-ct-box">
	    			<h2 class="atrt-insc">PROMESSE D'EMBAUCHE</h2>
	    			<div class="atrt-name">
		    			<%= cINPT.first_name %> <%= cINPT.last_name %>
	    			</div>
	    			<div class="atrt-date">
	    				Date d'entrée:
              <br>
              <%= cINPT.promise_not_reponded[1] %>
	    			</div>
	    			<div class="atrt-date">
	    				Date limite:
              <br>
              <%= cINPT.promise_not_reponded[0] %>
	    			</div>
          </div>
	    			<div class="atrt-btn-gr">
		    			<a class="col-lg-3 col-xs-12 col-md-4 col-sm-12" href="<%= cbp_promise_no_validate_path(cINPT.id) %>">GERER</a>
	    			</div>
		    	</div>
	    	<% end %>
	    <% end %>

	    <!-- <h2>Liste des candidats qui sont arrivés au bout de leur période d'essai et qui n'ont pas encore été validés dans le système.</h2> -->

	    <% unless @cadreInfoValidateTimeTryings.empty? %>
	    	<% @cadreInfoValidateTimeTryings.each do |cadreInfoValidateTimeTrying| %>
	    		<% pThWa = cadreInfoValidateTimeTrying[0] %>
		    	<div data-name=".PROMESSE-D-EMBAUCHE" class="atrt-box list-items-me col-lg-3 col-xs-12 col-md-4 col-sm-12">
            <div class="atrt-ct-box">
	    			<h2 class="atrt-insc">PROMESSE D'EMBAUCHE</h2>
	    			<div class="atrt-name">
		    			<%= pThWa.cadre.cadre_info.first_name %> <%= pThWa.cadre.cadre_info.last_name %>
	    			</div>
	    			<div class="atrt-date">
	    				Date d'entrée:
              <br>
              <%= pThWa.offre_job.date_poste %>
	    			</div>
	    			<div class="atrt-date">
	    				Date limite:
              <br>
              <%= pThWa.time_trying %>
	    			</div>
          </div>
	    			<div class="atrt-btn-gr">
		    			<a class="col-lg-3 col-xs-12 col-md-4 col-sm-12" href="<%= cbp_promise_no_validate_path(pThWa.cadre.cadre_info.id) %>">GERER</a><!-- promise to hire -->
	    			</div>
		    	</div>
	    	<% end %>
	    <% end %>

	    <!-- <h2>Liste des candidats qui n'ont pas reçu leur prime</h2> -->

	    <% unless @cadreInfoPrimNotReceiveds.empty? %>
	    	<% @cadreInfoPrimNotReceiveds.each do |cadreInfoPrimNotReceived| %>
	    		<% pThWa = cadreInfoPrimNotReceived[0] %>
	    		<div data-name=".PRIME" class="atrt-box list-items-me col-lg-3 col-xs-12 col-md-4 col-sm-12">
            <div class="atrt-ct-box">
	    			<h2 class="atrt-insc">PRIME</h2>
	    			<div class="atrt-name">
		    			<%= pThWa.cadre.cadre_info.first_name %> <%= pThWa.cadre.cadre_info.last_name %>
	    			</div>
	    			<div class="atrt-date">
	    				Date d'entrée:
              <br>
              <%= pThWa.offre_job.date_poste %>
	    			</div>
	    			<div class="atrt-date">
	    				Date limite:
              <br>
              <%= pThWa.time_trying %>
	    			</div>
          </div>
	    			<div class="atrt-btn-gr">
		    			<a class="col-lg-3 col-xs-12 col-md-4 col-sm-12" href="<%= cbp_prime_path(pThWa.id) %>">GERER</a>
	    			</div>
		    	</div>
	    	<% end %>
	    <% end %>
  	</div>
  </div>
  </div>
</div>


<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>

<script type="text/javascript">
  $(".currentDatentretien").ready(function(){
    var month = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
    var day = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
    let $elementDate = $('.currentDatentretien');
    $elementDate.each(function () {
      let dateUTC = moment.utc($(this).data().times);
      let dateGet = new Date(dateUTC.local());
      let dateString = day[dateGet.getDay()] + ' ' + dateGet.getDate() + ' ' + month[dateGet.getMonth()] + ' ' + dateGet.getFullYear();
      // let minute = dateGet.getMinutes()
      // if((minute+"").length == 1){
      //   minute = "0"+minute
      // }
      $(this).html(dateString)
      // $(this).html(dateString + ' à ' + dateGet.getHours() + 'h:'+ minute );
    });
  });

  if ($(".list-items-me").length == 0) {
    $("#none-element").show(500);
  }

  $("#filtre").change(function(){
    var search = $(this).val()
    var emptyS = true
    $(".list-items-me").each(function(){
      let thisiko = $(this)
      if ((search == thisiko.data().name) || (search == ".TOUS")){
        thisiko.show(500);
        emptyS = false
      }else{
        thisiko.hide(500);
      }
    });
    if (emptyS) {
      $("#none-element").show(500);
    }else{
      $("#none-element").hide(500);
    }
  });

</script>
