<link rel="stylesheet" href="/css/admin_prms.css" />

<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_candidats/left_menu" %>
  </div>

  <div class="cp-box">
  	<h1>Messagerie</h1>
  
   	<div class="card">
	  	<div class="card-body">
	  	    <% if @contactCadre.count == 0 %>
			    <div class="mes">
			      <h4>Aucun contact d'un candidat</h4>
			    </div>
    		<% else %>
    			<% @contactCadre.each do |contact| %> <% nbr = contact.mp_admin_not_see %>
    				<a href="<%= candidats_show_message_path(contact.cadre.id) %>" class="btn-voir  <% if nbr == 0 %>color<% end %>">
    				<div class="message">
    					 <div class="block-image">
					        <% if contact.cadre.cadre_info.image.nil? %>
					          <img src="/image/profie.png" class="pdp" alt='photo de profil'>
					        <% else %>
					          <%= image_tag(contact.cadre.cadre_info.image, alt: 'photo de profil', class:"pdp" )%>
					        <% end %>
					        <% if contact.cadre.is_online? %>
					          <span class="connected"></span>
					        <% end %>
				        </div>
      					<div class="message-content">
        					<div class="recruteur-name">
        						<%= contact.cadre.cadre_info.first_name %> <%= contact.cadre.cadre_info.last_name %>
        					</div>
        					<div class="message-body">
					          <% unless contact.message_admin_cadres.last.is_admin %>
						          <% unless nbr == 0 %>
						            <span class="alert-info"><%= nbr %></span>
						          <% end %>
					          <% end %>
					          <% if contact.message_admin_cadres.last.is_admin %>vous : <%end%> <%= contact.message_admin_cadres.last.content %>
					        </div>
      					</div>
      					<div class="connected-times">
				          <% unless contact.cadre.is_online? %>
				            <span class="not-connected">Connectée il y a <%= time_ago_in_words(contact.cadre.online_time) %></span>
				          <% end %>
				        </div>
    				</div>
    				</a>
    			<% end %>
    		<% end %>
	  	</div>
	</div>
 </div>
 </div>