<% @title="Clients" %>
<style media="screen">
  tr th {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #d6b36a;
  }

  tr td a {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100px;
  }

  tr td a:hover {
    text-decoration: none;
    color: #000;
  }

  tr td {
    text-align: center;
    justify-content: center;
  }

    tr td a i {
      color: #d6b36a;
    }

</style>
<link rel="stylesheet" href="/css/admin_prms.css" />
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left"><%= render "admin_client/left_menu_link" %></div>
  <div class="cp-box">
    <div class="promise">
      <h5 class="title">PROMESSE D'EMBAUCHE</h5>
      <div class="promise-content">
        <div class="">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Logo</th>
                <th scope="col">Nom entreprise</th>
                <th scope="col">Intituler du poste</th>
                <th scope="col">Cadre recruter</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @promise.each do |promise|%>
              <tr>
                <th scope="row"><img src="<%= promise.offre_job.image %>"alt="photo profil candidats", width="100px", height="100px" ></th>
                <td><a href="<%= admin_client_show_client_path(promise.offre_job.client.entreprise.id) %>"><%= promise.offre_job.client.entreprise.name.upcase %></a></td>
                <td><a href="<%= admin_client_show_offer_path(promise.offre_job.id) %>"><%= promise.offre_job.intitule_pote %></a></td>
                <td><a href="<%= admin_cadre_show_profile_path(promise.cadre.cadre_info.id) %>"><%= promise.cadre.cadre_info.first_name.capitalize %> <%= promise.cadre.cadre_info.last_name.capitalize %></a></td>
                <td><a href="<%= admin_client_show_promise_to_hire_path(promise.id) %>"><i class="fas fa-eye"></i></a></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
