<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<style>
 .filter-cand {
   border-bottom: 1px solid #ccc;
   padding-bottom: 10px;
   display: flex;
   justify-content: flex-end;
 }

 .filter-cand span {
   background: #e3d7bf;
   padding: 5px 15px;
   font-size: 12px;
   font-family: Questrial, sans-serif;
   color: #fff;
   border: 1px solid #e3d7bf;
   cursor: pointer;
   margin: 1px;
 }

 .filter-cand span:hover {
   background: #fff;
   color: #e3d7bf;
   border: 1px solid #e3d7bf;
 }

 .acc {
   font-size: 12px;
   text-transform: uppercase;
   font-family: Questrial, sans-serif;
   text-align: center;
 }

 .co-with-job h5 {
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    font: 500 18px Raleway, sans-serif;
    color: #d6b36a;
    text-transform: uppercase;
    margin-bottom: 0px !important;
}

tr th {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #d6b36a;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: none !important;
}

.co-with-job .coj-box {
    margin: 5px 5px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-all {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cjo-content a {
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

.cjo-content a:hover {
  text-decoration: none;
}


</style>

<% @title="Clients" %>
<!-- call css  -->
<link rel="stylesheet" href="/css/cl_jb_offr.css" />
<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left"><%= render "admin_client/left_menu_link" %></div>
  <div class="cp-box">
    <div class="box-inside">
      <div class="co-with-job">

        <h5>FACTURES CLIENT</h5>

        <div class="filter-cand">
          <span id="ov_ok_js">Traiter</span>
          <span id="sans_ov_js">En cours</span>
          <span id="rehetra_js">Tous</span>
        </div>

        <div class="coj-box" id="offre">

          <% if @facture.empty? %>
            <hr />
            <p class="acc">Aucune facture pour le moment</p>
            <hr />
          <% else %>

            <table class="table">
               <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Entreprise</th>
                  <th scope="col">Intitulé du poste</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <% @facture.each do |facture| %>
                <tr class="<%= facture.status %>-js">
                  <td>
                    <div class="cjo-image">
                      <img src="/image/document.png" alt="icone doc" />
                    </div>
                  </td>
                  <td>
                    <div class="cjo-content">
                      <a href="<%= admin_client_show_client_path(facture.client.id) %>">
                        <%= facture.client.entreprise.name %>
                      </a>
                    </div>
                  </td>
                  <td>
                    <div class="cjo-content">
                      <a href="<%= admin_client_show_offer_path(facture.promise_to_hire.offre_job.id) %>">
                        <%= facture.promise_to_hire.offre_job.intitule_pote %>
                      </a>
                    </div>
                  </td>
                  <td class="links-all">
                    <table>
                      <tr>
                        <td>
                          <div class="cjo-link">
                            <i class="far fa-eye" data-method="GET" style="color: #e3d7bf"></i>
                            <%= link_to "FACTURE", admin_client_show_facture_path(facture.id) %>
                          </div>
                        </td>
                        <td>
                          <div class="cjo-link">
                            <i class="far fa-eye" data-method="GET" style="color: #e3d7bf"></i>
                            <%= link_to "PROMESSE D'EMBAUCHE", admin_client_show_promise_to_hire_path(facture.promise_to_hire.id) %>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              <% end %>
            </table>

          <% end %>

        </div>

        <p id="js-tsisy" style="display: none" class="acc">Aucune facture pour le moment</p>


      </div>

    </div>

  </div>

</div>

<script>
  $('#sans_ov_js').click(function () {
    if ($('.trosa-js').length != 0) {
      $('.trosa-js').show(100);
      $('#js-tsisy').hide();
      $('.paye-js').hide();
    } else {
      $('.paye-js').hide();
      $('#js-tsisy').css('display', 'block');
    }
  });
  $('#ov_ok_js').click(function () {
    if ($('.paye-js').length != 0) {
      $('.trosa-js').hide();
      $('#js-tsisy').hide();
      $('.paye-js').show(100);
    } else {
      $('.trosa-js').hide();
      $('#js-tsisy').css('display', 'block');
    }
  });
  $('#rehetra_js').click(function () {
    if ($('.paye-js').length != 0 || $('.trosa-js').length != 0) {
      $('.paye-js').show(100);
      $('.trosa-js').show(100);
      $('#js-tsisy').hide();
    } else {
      $('.paye-js').hide();
      $('.trosa-js').hide();
      $('#js-tsisy').css('display', 'block');
    }
  });
</script>
