<% @title="Clients" %>
<!-- call css  -->
  <link rel="stylesheet" href="/css/job_cl_admin.css" />
  <script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="/css/step_cl_admin.scss"> -->
<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left">
    <%= render "admin_client/left_menu_link" %>
  </div>
  <div class="cp-box">
    <div class="box-inside">
      <% if @offres.empty?%>
        <div class="co-any-job">
          <p>Il n'y  a aucun recrutement</p>
        </div>
      <% else %>
        <div class="co-with-job">
          <h5>RECRUTEMENT EN COURS</h5>
          <% @offres.each do |offre| %>
            <div class="container">
              <div class="cl-pst">
              <h2>poste : <strong class="cl-inti"><%= link_to "#{offre.intitule_pote}", admin_client_show_offer_path(offre.id)%></strong></h2>

              <a href="<%= admin_show_recrutment_path(offre.id) %>" class="ll-etp">

              <div class="etp-cont container-fluid">
                <div class="etp-etp">
                  <div class="<% if offre.etapes >= 1 %>etp-bdg-success<% else %>etp-bdg-wait<% end %>"><% if offre.etapes >= 1 %><i class="fas fa-check"></i><% else %>1<% end %></div>
                  <div class="etp-tt">Publication</div>
                </div>

                <div><i class="fas fa-minus <%if offre.etapes >= 2 %>arr-success<% else %>arr-wait<% end %>"></i></div>

                <div class="etp-etp">
                  <div class="<% if offre.etapes >= 2 %>etp-bdg-success<% else %>etp-bdg-wait<% end %>"><% if offre.etapes >=2 %><i class="fas fa-check"></i><% else %>2<% end %></div>
                  <div class="etp-tt">Sélection</div>
                </div>

                <div><i class="fas fa-minus <%if offre.etapes >= 3 %>arr-success<% else %>arr-wait<% end %>"></i></div>

                <% etape = 2 %>
                <% offre.numberEntretien.times do |i| %>
                  <% etape += 1 %>
                  <% if i == 0 %>
                  <div class="etp-etp">
                    <div class="<% if offre.etapes >= etape %>etp-bdg-success<% else %>etp-bdg-wait<% end %>"><% if offre.etapes >= etape %><i class="fas fa-check"></i><% else %><%= etape %><% end %></div>
                    <div class="etp-tt">1er entretien</div>
                  </div>

                  <div><i class="fas fa-minus <%if offre.etapes >= etape + 1 %>arr-success<% else %>arr-wait<% end %>"></i></div>

                  <% else %>
                  <div class="etp-etp">
                    <div class="<% if offre.etapes >= etape %>etp-bdg-success<% else %>etp-bdg-wait<% end %>"><% if offre.etapes >= etape %><i class="fas fa-check"></i><% else %><%= etape %><% end %></div>
                    <div class="etp-tt"><%=i+1%>e entretien</div>
                  </div>

                  <div><i class="fas fa-minus <%if offre.etapes >= etape + 1 %>arr-success<% else %>arr-wait<% end %>"></i></div>

                  <% end %>
                <% end %>
                <div class="etp-etp">
                  <div class="<% if offre.etapes >= etape + 1 %>etp-bdg-success<% else %>etp-bdg-wait<% end %>"><% if offre.etapes >= etape + 1 %><i class="fas fa-check"></i><% else %><%= etape + 1 %><% end %></div>
                  <div class="etp-tt">Promesse d'embauche</div>
                </div>

                <div><i class="fas fa-minus <%if offre.etapes >= etape + 2 %>arr-success<% else %>arr-wait<% end %>"></i></div>

                <div class="etp-etp">
                  <div class="<% if offre.etapes >= etape + 2 %>etp-bdg-success<% else %>etp-bdg-wait<% end %>"><% if offre.etapes >= etape + 2 %><i class="fas fa-check"></i><% else %><%= etape + 2 %><% end %></div>
                  <div class="etp-tt">Recrutement</div>
                </div>
              </div>

              </a>

              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- <script type="text/javascript">
  $('.delete-element-jobs').bind('ajax:complete', function () {
    $('#offre' + $(this).data().id).hide(500);
  });
</script> -->

<!-- <script data-turbolinks-track="reload" type="text/javascript" src="/js/myoffre.js"></script> -->
