<% @title="Clients" %>
<!-- call css  -->
<link rel="stylesheet" href="/css/jb_offr_cl.css" />
  <script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<!-- body html  -->
<div class="client-column">

	<div class="client-menu-left">
		<%= render "admin_client/left_menu_link" %>
	</div>

	<div class="cp-box">
		
		<div class="container-fluid">
			<center>
				<div>
					<%= image_tag(@oFc.cadre.cadre_info.image, alt: 'photo de profil', class:"pdp_mandona", width:"120px", height:"120px" )%>
				</div>
				<h3><%= @oFc.cadre.cadre_info.first_name %> <%= @oFc.cadre.cadre_info.last_name %></h3>
			</center>
			<div class="step-pst">
				<% etape = 0 %>
				<% @offreJob.numberEntretien.times do |i| %>
					<% etape += 1 %>
					<% if i == 0 %>
					<div class="etp-etp">
						<div class="<% if @oFc.etapes >= etape %>etp-bdg-success<% else %>etp-bdg-wait<% end %>"><% if @oFc.etapes >= etape %><i class="fas fa-check"></i><% else %><%= etape %><% end %></div>
						<div class="etp-tt">1er entretien</div>
					</div>
					<div><i class="fas fa-minus <%if @oFc.etapes >= etape + 1 %>arr-success<% else %>arr-wait<% end %>"></i></div>
					<% else %>
					<div class="etp-etp">
						<div class="<% if @oFc.etapes >= etape %>etp-bdg-success<% else %>etp-bdg-wait<% end %>"><% if @oFc.etapes >= etape %><i class="fas fa-check"></i><% else %><%= etape %><% end %></div>
						<div class="etp-tt"><%= i+1 %>e entretien</div>
					</div>
					<div><i class="fas fa-minus <%if @oFc.etapes >= etape + 1 %>arr-success<% else %>arr-wait<% end %>"></i></div>
					<% end %>
				<% end %>
				<div class="etp-etp">
					<div class="<% if @oFc.etapes >= etape + 1 %>etp-bdg-success<% else %>etp-bdg-wait<% end %>"><% if @oFc.etapes >= etape + 1 %><i class="fas fa-check"></i><% else %><%= etape + 1 %><% end %></div>
					<div class="etp-tt">Promesse d'embauche</div>
				</div>
			</div>

			<!-- #gerer les dates d'entretien -->
			<div>



	<div id="container-element">

		<% if @oFc.status == "refused" %> <!-- if candidature refusé -->
			<div>
				<h4>CANDIDAT REFUSÉ</h4>
				<% unless @oFc.refused_info.nil? %>
					<div class="rscr-result">
					  <dl>
					    <dt class="motif">Motif</dt>
					    <img src="/image/unvalid.png" height="36px" width="36px">
					    <dd class="motif-refused"><%= @oFc.refused_info %></dd>
					  </dl>
					</div>
				<% end %>
			</div>
		<% else %>
			<% # dernier étape sur la promesse %>
			<% if @oFc.etapes == @offreJob.numberEntretien + 1 %>
				<% if @promise.repons_cadre.nil? %> <!-- demande la validation du promesse d'embauche -->
					Dernière étape réussi!
					Ce candidat n'a pas encore validé sa promesse d'embauche.
					<!-- après validation promesse d'embauche -->
				<% else %>
					<!-- prime non réçue -->
					<% unless @promise.ask_salar %>
						<!-- periode d'essai validé par cadre et client -->
						<% if @promise.client_time_trying && @promise.cadre_time_trying %>
							<div class="felicitations">
								L'entreprise a valider sa période d’essai. Il peut dès à présent recevoir la prime One in a Million.
								DONNER LA PRIME
							</div>
						<% else %>
							<!-- periode d'essai refusé par le client -->
							<% if @promise.client_time_trying == false %>
								<div class="felicitations">
									L'entreprise n'a pas validé votre période d’essai. <br>
 									Rupture de la période d’essai le <%= @promise.rupture_time_trying %>.
								</div>
							<% else %>
								<!-- periode essai validé par cadre -->
								<% if @promise.cadre_time_trying %>
									<div class="felicitations">
										Ce candidat a validé sa période d’essai !<br>
										Confirmation du periode d'essai par l'employeur en attente.
									</div>
								<!-- periode essai NON validé par cadre -->
								<% else %>
									<div class="prime">
										<h2>Le contrat débutera le <strong><%= @promise.date_poste %></strong>.</h2>
										<h2>Fin periode d'essai le: <%= @promise.time_trying %></h2>
										<div>
											One in a Million offre une prime de 1000€ dès la période d’essai validée.
										</div>
									</div>
								<% end %>
							<% end %>
						<% end %>
					<% else %> <!-- recevoir ma prime vao cliky -->
						<div class="felicitations">
							<center>{} a demandé de recevoir sa prime de 1000€.</center>
							Confirmer le payement de 1000€ ver le candidat
							input OV
						</div>
					<% end %>
<!-- -------------------------------------------------- -->
					<div class="prom-hire">
						<div class="prom-hire-content">
							<img width="50px" src="/image/compteR.png" alt="icone" />
					      	<%= link_to "Promesse d'embauche", admin_client_show_promise_to_hire_path(@promise.id), :class => "btn-prom" %>
						</div>
						<div class="prom-hire-down">
							<%= link_to "TELECHARGER",promise_pdf_path(@promise),class:"btn-down" %>
						</div>
					</div>
<!-- -------------------------------------------------- -->
				<% end %>

			<% else %>

				<!-- unless aucun entretien -->
				<% unless @agendas.nil? %>
					<!-- condition pour afficher si la date est passé ou non? -->
					<!-- if date entretien future -->
					<% if @agendas.entretien_date > DateTime.now.utc %>
						<p class="new-proposition">
							<% if @agendas.repons_client && @agendas.repons_cadre && @agendas.alternative.nil? %>
								L'entretien et validé et aura lieu le <span data-times="<%= @agendas.entretien_date.strftime("%Y-%m-%d %H:%M") %>" class="currentDateEntretien"></span>
							<% else %>
								Nouvelle proposition d'entretien le <span data-times="<%= @agendas.entretien_date.strftime("%Y-%m-%d %H:%M") %>" class="currentDateEntretien"></span>
								<!-- <h5>En attente de confirmation</h5> -->
							<% end %>
							<div>
								Modifier la date de l'entretien
							</div>
						</p>
						<!-- candidat a accepter l'entretien -->
						<% if @agendas.repons_client && @agendas.repons_cadre && @agendas.alternative.nil? %>
							(Entretien validé et confirmé)
						<!-- candidat a reffuser l'entretien -->
						<% elsif @agendas.repons_cadre == false %>
							<span>Le candidat a refusé l'entretien</span>
							<% unless @agendas.alternative.nil? %>
								<br>Motif: <%= @agendas.alternative %>
							<% end %>
						<% else %>
							En attente de validation de l'entretien.
						<% end %>

					<!-- si la date de l'entretien est passé -->
					<% else %>

						<% if @agendas.repons_client && @agendas.repons_cadre && @agendas.alternative.nil? %>

							<div id="js-main-bloc-information" class="rencontre">
								<p>Date d'entretien passé <%= @agendas.entretien_date.strftime("%d/%m/%Y") %></p>
							</div>

							<% if @oFc.status == "accepted" %>
								Retenue pour la prochaine étape.
							<% else %>
								<p>
									<b>En attente du retour du recruteur.</b>
								</p>
							<% end %>

						<% elsif @agendas.repons_cadre && @agendas.repons_client && !@agendas.alternative.nil? %>

							<% date = DateTime.parse(@agendas.alternative) %>
							<div class="candidat-refuse-entretien">
							<h2 class="entretien-passer">L'entretien du <span data-times="<%= @agendas.entretien_date.strftime("%Y-%m-%d %H:%M") %>" class="currentDateEntretien"></span> est passé.</h2>

								<p>
									Vous avez demandé à changer la date de l'entretien pour <span data-times="<%= date.strftime("%Y-%m-%d %H:%M") %>" class="currentDateEntretien"></span>;
								</p>

								<p>
									<b>En attente du retour du recruteur.</b>
								</p>
							</div>
						<% elsif @agendas.repons_cadre == false %>
							<div class="candidat-refuse-entretien">
								<p class="entretien-passer">L'entretien du <span data-times="<%= @agendas.entretien_date.strftime("%Y-%m-%d %H:%M") %>" class="currentDateEntretien"></span> est passé.</p>
								<p>Vous avez refusé de faire l'entretien.</p>
								<img src="/image/unvalid.png" width="36px" height="36px" class="unvalid">
								<% unless @agendas.alternative.nil? %>
									<p class="motif"><%= @agendas.alternative %></p>
								<% end %>
							</div>
						<% elsif @agendas.repons_client == false %>
							<!-- si le recruteur a refuser la proposition du nouvelle date de l'entretien  -->
						<% else %>
							<div class="candidat-refuse-entretien">
								<p class="entretien-passer">L'entretien du <span data-times="<%= @agendas.entretien_date.strftime("%Y-%m-%d %H:%M") %>" class="currentDateEntretien"></span> est passée.</p>
								<img src="/image/unvalid.png" width="36px" height="36px" class="unvalid">
								<p class="motif">Vous n'avez donner aucune réponse</p>
							</div>
						<% end %>

					<% end %> <!-- fin if date entretien future -->
				<% end %> <!-- fin unless aucun entretien -->
				</div>
			<% end %> <!-- fin if etapes -->
		<% end %> <!-- fin if candidature refusé -->

		</div> <!-- fin container element -->























































			</div>
			
		</div>
	</div>
</div>
