<link rel="stylesheet" href="/css/offer_client_admin.css" />
<link rel="stylesheet" href="/css/mes_cand_dash.css" />
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_client/left_menu_link" %>
  </div>

  <div class="cp-box">
  	<div>
  		<div class="fcp-box">
      <h3 class="title" style="color: #d6b36a !important">OFFRES EN COURS</h3>
      <div class="fc-item">
        <div class="fc-item-all">

<!--         	CANDIDATS  -->
        <% @offre.each do |offre| %>
          <div class="list-candidat">
            <div class="fci-image">
					<img src="<%= offre.image %>" alt="photo entreprise"> 
            </div>
            <div class="fci-icon">
              <img class="alreadyFavorite" src="/image/Vector-24.png" alt="logo oiam favorie" />
            </div>
            <div class="fci-infos">
              <p class="name"><%= offre.client.entreprise.name %></p>
              <p>À proposer une offre</p>
              <p class="poste">Poste : <%= offre.intitule_pote %></p>
              <div class="ico-cand">
              	<a href="<%= admin_client_show_offer_path(offre.id) %>" class="btn-see">Voir L'offre</a>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  	</div>
  </div>
</div>