<% @title="Clients" %>
  <link rel="stylesheet" href="/css/shownewjob.css" />

<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left">
    <%= render "admin_client/left_menu_link" %>
  </div>
  <div class="cp-box">
    <div class="show-job-box">
      <div class="show-publication" id="publish-ajax-hid">
        <div class="sjb-content">
          <div class="show-einfos">
            <div class="logo">
              <% unless @offre.image.nil? %>
                <div class="c" style="background: url(<%= @offre.image%>) center no-repeat; background-size: cover"></div>
               <% end %>
            </div>
            <div class="local">
              <p>OFFRES DE <%= @offre.client.entreprise.name.upcase %></p>
              <p><%= @offre.intitule_pote %></p>
              <p><img src="/image/map.png" alt="localisation icon" /> <%= @offre.department %></p>
              <p>PAYS : <%= @offre.country %></p>
              <p>REGION : <%= @offre.region%></p>
            </div>
          </div>
          <hr />
          <div class="so-content">
            <p>DESCRIPTIF DES MISSIONS</p>
            <div class="description">
              <%= @offre.descriptif_mission.gsub('[sp]', ' &#160; ').gsub('[nl]', ' <br />').html_safe %>
            </div>
          </div>
          <div class="so-content">
            <p>Pourquoi travailler chez eux ? :</p>
            <div class="first-content">
              <%= @offre.question2 %>
            </div>
          </div>

          <div class="so-content">
            <p>RATTACHEMENT HIÉRARCHIQUE</p>
            <div><%= @offre.rattachement %></div>
          </div>
          <div class="so-content">
            <p>RÉMUNÉRATION (K€ BRUTS ANNUELS)</p>
            <div>
              Fixe : <%= @offre.remuneration.to_i %>k€ <br />
              Variable : <%= @offre.remuneration_anne.to_i %>k€
            </div>
          </div>
          <div class="so-content">
            <p>DÉPLACEMENTS</p>
            <div>
              <%= @offre.type_deplacement %>
            </div>
          </div>
          <div class="so-content">
            <p>PROCESSUS RH</p>
            <div>
              <% case @offre.numberEntretien.to_i %>
              <% when 1 %>
                1 entretien RH
              <% when 2 %>
                1 entretien RH avec 1 entretien Manager
              <% when 3 %>
                1 entretien RH avec 2 entretiens Manager
              <% end %>
            </div>
          </div>
          <div class="so-content">
            <p>CONTEXTE D'OUVERTURE DE CE POSTE</p>
            <div>
              <%= @offre.question5 %>
            </div>
          </div>

          <div class="so-content">
            <p>DATE DE PRISE DE POSTE</p>
            <div>
              <%= @offre.date_poste %>
            </div>
          </div>
        </div>
        <div class="so-btn">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script type="text/javascript">
  $('.link-delete').bind('ajax:beforeSend', function () {
    $('#publish-ajax-hid').hide(200);
  });

  $('.link-delete').bind('ajax:complete', function () {
    $('#publish-ajax').show(800);
  });
</script> -->
