<% @title="Clients" %>
<style media="screen">
  .gerer-btn {
    background: #d6b36a;
    color: #fff;
    border: 1px solid #d6b36a;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  .gerer-btn:hover {
    background: #fff;
    color: #d6b36a;
    border: 1px solid #d6b36a;
    text-decoration: none;
  }
</style>
<!-- call css  -->
<link rel="stylesheet" href="/css/jb_offr_cl.css" />
  <script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<!-- body html  -->
<div class="client-column">

	<div class="client-menu-left">
		<%= render "admin_client/left_menu_link" %>
	</div>

	<div class="cp-box">

		<h2 class="in-ps">Poste :
      <strong class="in-tt"><%= link_to "#{@offre.intitule_pote}", admin_client_show_offer_path(@offre.id)%>
      </strong>
    </h2>

		<% if @oFcs.empty? %>

			Aucun cadre selectioner

		<% else %>

			<% @oFcs.each do |oFc| %>
				<div class="row container-fluid">
					<div class="col-sm-2">
						<%= image_tag(oFc.cadre.cadre_info.image, alt: 'photo de profil', class:"pdp_mandona", width:"120px", height:"120px" )%>
					</div>

					<div class="col-sm-2 justify-content-center align-items-center">
						<h3><a href="<%= admin_cadre_show_profile_path(oFc.cadre.cadre_info.id) %>"><%= oFc.cadre.cadre_info.first_name %> <%= oFc.cadre.cadre_info.last_name %></a></h3>
					</div>

					<div class="col-sm-6">

						<div class="step-pst">
							<% etape = 0 %>
							<% @offre.numberEntretien.times do |i| %>
								<% etape += 1 %>
								<% if i == 0 %>
								<div class="etp-etp">
									<div class="<% if oFc.etapes >= etape %>etp-bdg-success<% else %>etp-bdg-wait<% end %>"><% if oFc.etapes >= etape %><i class="fas fa-check"></i><% else %><%= etape %><% end %></div>
									<div class="etp-tt">1er entretien</div>
								</div>
								<div><i class="fas fa-long-arrow-alt-right <%if oFc.etapes >= etape + 1 %>arr-success<% else %>arr-wait<% end %>"></i></div>
								<% else %>
								<div class="etp-etp">
									<div class="<% if oFc.etapes >= etape %>etp-bdg-success<% else %>etp-bdg-wait<% end %>"><% if oFc.etapes >= etape %><i class="fas fa-check"></i><% else %><%= etape %><% end %></div>
									<div class="etp-tt"><%= i+1 %>e entretien</div>
								</div>
								<div><i class="fas fa-long-arrow-alt-right <%if oFc.etapes >= etape + 1 %>arr-success<% else %>arr-wait<% end %>"></i></div>
								<% end %>
							<% end %>
							<div class="etp-etp">
								<div class="<% if oFc.etapes >= etape + 1 %>etp-bdg-success<% else %>etp-bdg-wait<% end %>"><% if oFc.etapes >= etape + 1 %><i class="fas fa-check"></i><% else %><%= etape + 1 %><% end %></div>
								<div class="etp-tt">Promesse d'embauche</div>
							</div>
						</div>

					</div>

					<div class="col-sm-2 d-flex justify-content-center align-items-center">
						<a href="<%= manage_recrutment_admin_path(oFc.id) %>" class="gerer-btn">GERER</a>
					</div>

				</div>
			<% end %>
		<% end %>

	</div>
</div>
