<% content_for :head_style do %>
  <link rel="stylesheet" type="text/css" href="/css/inscription_cadre.css">
<% end %>
<div class="content">
  <h2 class="content-title">CREATION DE COMPTE</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "cadres/shared/error_messages", resource: resource %>
      <%= f.email_field :email, autofocus: true, autocomplete: "IDENTIFIANT", value: @email, required: true, placeholder:"IDENTIFIANT", class:"champs" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caractères minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", required: true, class:"champs", placeholder: 'MOT DE PASSE' %>

      <input type="hidden" name="confirm_token" value="<%= @confirm_token %>">

      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class:"champs", placeholder:"CONFIRMATION DU MOT DE PASSE" %>


    <div class="actions">
      <%= f.submit "VALIDER", class:"valider" %>
    </div>
  <% end %>
</div>

