<center><h2>INSCRIPTION</h2></center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "cadres/shared/error_messages", resource: resource %>

  <h2>CREATION DE COMPTE</h2>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "IDENTIFIANT", required: true, placeholder:"IDENTIFIANT", class:"form-control" %>
  </div>

  <div class="form-group">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caractères minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", required: true, class:"form-control", placeholder: 'MOT DE PASSE' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class:"form-control", placeholder:"CONFIRMATION DU MOT DE PASSE" %>
  </div>

  <div class="actions">
    <%= f.submit "S'INSCRIRE", class:"btn btn-primary" %>
  </div>

<% end %>
