<link rel="stylesheet" href="/css/client_profil.css" />
<link rel="stylesheet" href="/css/mes_cand_admin.css" />
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_dashboard/left_menu_link" %>
  </div>

  <div class="cp-box">
    <div>
      <div class="fcp-box">
      <h3 class="title" style="color: #d6b36a !important;">AGENDA</h3>
      <div class="fc-item">
        <div class="fc-item-all">

<!--          CANDIDATS  -->

          <div class="calendar">
            
          <%= month_calendar events: @agendas do |date, agendas| %>

              <%= date.day %>

              <% agendas.each do |agenda| %>
                <div>
                  <a href="<%= post_avis_candidats_fit_path(agenda.cadre_info.id) %>">
                    <span data-times="<%= agenda.entretien_date.strftime("%Y-%m-%d %H:%M") %>" class="currentDateEntretien"></span>
                  </a>
                </div>
              <% end %>

          <% end %>
          </div>


        </div>
      </div>
    </div>
    </div>
  </div>
</div>




<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>

<script type="text/javascript">
  var month = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
  var day = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
  let $elementDate = $('.currentDateEntretien');

  $elementDate.each(function () {
    let dateUTC = moment.utc($(this).data().times);
    let dateGet = new Date(dateUTC.local());
    let dateString = day[dateGet.getDay()] + ' ' + dateGet.getDate() + ' ' + month[dateGet.getMonth()] + ' ' + dateGet.getFullYear();

    if((dateGet.getMinutes()+"").length == 1){
      $(this).html(dateGet.getHours() + 'h:0'+dateGet.getMinutes());
    }else{
      $(this).html(dateGet.getHours() + 'h:'+dateGet.getMinutes());
    }

  });

  $($(".calendar-heading").find("a")[0]).html("PRECEDENT")
  $($(".calendar-heading").find("a")[1]).html("SUIVANT")

</script>


