<% @title="Agenda" %>
<link rel="stylesheet" type="text/css" href="/css/agenda.css">
<style>
  .cont-calendar {
    position: relative;
  }

  .table {
    width: 100%;
    margin-bottom: 0px !important;
    color: #212529;
}

  .table td, .table th {
    padding: 20px;
    vertical-align: top;
    border-top: 1px solid #d6b36a;
}

.table td {
    border-right: 1px solid #d6b36a;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #d6b36a;
    color: #d6b36a;
    text-transform: uppercase;
}

.calendar-title {
  text-transform: uppercase;
}

.calendrier {
    border: 2px solid #d6b36a;
}

.today {
  background: #fad390;
  color: #fff !important;
}
/*
.past {
  background: #ecf0f1;
  color: #fff;
} */

.calendar-heading {
  padding: 20px;
}

.fcp-box .title {
  padding-bottom: 20px;
}

.tt {
  padding-left: 20px;
  padding-right: 20px;
}

.ag-btn {
  background: #d6b36a;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 10px 20px;
  border: none;
  outline: none !important;
}

.ag-btn-sl {
  background: #d6b36a;
  color: #fff !important;
  text-align: center;
  font-size: 12px;
  padding: 10px 20px;
  border: none;
  outline: none !important;
}

.ag-btn-sl a {
  color: #fff !important;
}

.mod-btn {
  background:  #d6b36a;
  color: #fff;
  font-size: 12px;
  padding: 10px 20px;
  border: none;
  border: 1px solid #d6b36a;
}

.mod-btn-sec {
  background: #fff;
  color: #d6b36a;
  border: 1px solid #d6b36a;
  font-size: 12px;
  padding: 10px 20px;
}

.modal-body a {
  font-size: 14px;
}

.ag-btn-sl:hover, .ag-btn-sl:focus {
  background: #e3d7bf  !important;
  box-shadow:0 1px 0 rgba(255,255,255,.4) !important;
}

.ag-btn-sl span {
  position: absolute;
  margin-top: 30px;
  color: #fff;
  background:#e3d7bf;
  padding:15px;
  border-radius:3px;
  box-shadow:0 0 2px rgba(0,0,0,.5);
  transform:scale(0) rotate(-12deg);
  transition:all .25s;
  opacity:0;
}

.ag-btn-sl:hover span, .ag-btn-sl:focus span {
  transform:scale(1) rotate(0);
   opacity:1;
}

.ag-btn:hover, .ag-btn:focus {
  background: #e3d7bf  !important;
  box-shadow:0 1px 0 rgba(255,255,255,.4) !important;
}

.ag-btn span {
  position: absolute;
  margin-top: 30px;
  color: #fff;
  background:#e3d7bf;
  padding:15px;
  border-radius:3px;
  box-shadow:0 0 2px rgba(0,0,0,.5);
  transform:scale(0) rotate(-12deg);
  transition:all .15s;
  opacity:0;
}

.ag-btn:hover span, .ag-btn:focus span {
  transform:scale(1) rotate(0);
   opacity:1;
}

.close span {
  color: #d6b36a;
  outline: none;
}

</style>
<link rel="stylesheet" href="/css/mes_cand_admin.css" />
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_dashboard/left_menu_link" %>
  </div>
  <div class="cp-box">

    <div>
      <div class="fcp-box">
      <h3 class="title" style="color: #d6b36a !important;">AGENDA</h3>
      <div class="fc-item">
        <div class="fc-item-all">


          <div class="cont-calendar">
            <div class="calendrier">
              <%= month_calendar events: @agendas do |date, agendas| %>
              <%= date.day %>

              <% unless agendas.empty? %>
              <% if agendas.count > 1 %>

                  <!-- Button trigger modal -->
                  <div>
                    <button type="button" class="ag-btn" data-toggle="modal" data-target="#exampleModal-<%= date.day %>">
                      Entretien fit
                      <span>Vous avez des entretiens fit...</span>
                    </button>
                  </div>
                                <!-- Modal -->
                  <div class="modal fade" id="exampleModal-<%= date.day %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <% agendas.each do |agenda| %>
                          <div class="cont-entr">
                            <a href="<%= post_avis_candidats_fit_path(agenda.cadre_info.id) %>">
                              <%= agenda.cadre_info.first_name.upcase %> <%= agenda.cadre_info.last_name.capitalize %> à <%= agenda.entretien_date.strftime("%Hh%M")  %><br>
                            </a>
                          </div>
                          <% end %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="mod-btn" data-dismiss="modal">Fermer</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <% agendas.each do |agenda| %>
                  <div>
                    <button type="button"  class="ag-btn-sl">
                      <a href="<%= post_avis_candidats_fit_path(agenda.cadre_info.id) %>">
                      Entretien fit
                      <span>Vous avez un entretien fit...</span>
                      </a>
                    </button>
                  </div>
                  <% end %>
                <% end %>
              <% end %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

</div>

<script type="text/javascript">


  $(".click-me-in-js").click(function(){
    $("#list-date-"+$(this).data().id).show()
  });


/*----------------------------------------------*/
  if (document.URL.indexOf('#') == -1) {
    url = document.URL + '#';
    location = '#';
    location.reload(true);
  }
/*----------------------------------------------*/
</script>

<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>

<script type="text/javascript">
  var month = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
  var day = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
  let $elementDate = $('.currentDateEntretien');

  $elementDate.each(function () {
    let dateUTC = moment.utc($(this).data().times);
    let dateGet = new Date(dateUTC.local());
    let dateString = day[dateGet.getDay()] + ' ' + dateGet.getDate() + ' ' + month[dateGet.getMonth()] + ' ' + dateGet.getFullYear();

    if((dateGet.getMinutes()+"").length == 1){
      $(this).html(dateGet.getHours() + 'h0'+dateGet.getMinutes());
    }else{
      $(this).html(dateGet.getHours() + 'h'+dateGet.getMinutes());
    }

  });
 // $($(".calendar-heading").find("a")[0]).html("PRECEDENT")
 //  $($(".calendar-heading").find("a")[1]).html("SUIVANT")
  $($(".calendar-heading").find("a")[0]).addClass("tt")
  $($(".calendar-heading").find("a")[1]).addClass("tt")
</script>
