<link rel="stylesheet" href="/css/client_profil.css" />
<link rel="stylesheet" type="text/css" href="/css/agenda.scss">
<style>
  .cont-calendar {
    position: relative;
    width: 800px;
  }


  .table td, .table th {
    padding: 20px;
    vertical-align: top;
    border-top: 1px solid #d6b36a;
}

.table td {
    border-right: 1px solid #d6b36a;
}


.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #d6b36a;
    color: #d6b36a;
    text-transform: uppercase;
}


.calendar-title {
  text-transform: uppercase;
}

.calendrier {
    width: 800px;
    border: 2px solid #d6b36a;
}

.today {
  background: #d6b36a;
  color: #fff;
}

.calendar-heading {
  padding: 20px;
}

.fcp-box .title {
  padding-bottom: 20px;
}

.tt {
  padding-left: 20px;
  padding-right: 20px;
}

</style>
<link rel="stylesheet" href="/css/mes_cand_admin.css" />
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_dashboard/left_menu_link" %>
  </div>
  <div class="cp-box">

    <div>
      <div class="fcp-box">
      <h3 class="title" style="color: #d6b36a !important;">AGENDA</h3>
      <div class="fc-item">
        <div class="fc-item-all">


          <div class="cont-calendar">
            <div class="calendrier">
              <%= month_calendar events: @agendas do |date, agendas| %>
              <%= date.day %>

              <% unless agendas.empty? %>
              <% if agendas.count > 1 %>
               
                  <!-- Button trigger modal -->
                  <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-<%= date.day %>">
                      Entretien fit
                    </button>
                  </div>
                                <!-- Modal -->
                  <div class="modal fade" id="exampleModal-<%= date.day %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <% agendas.each do |agenda| %>
                            <a href="<%= post_avis_candidats_fit_path(agenda.cadre_info.id) %>">
                              <%= agenda.cadre_info.last_name.upcase %> <%= agenda.cadre_info.first_name.capitalize %> à <%= agenda.entretien_date.strftime("%H:%M")  %><br>
                            </a>
                          <% end %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <% agendas.each do |agenda| %>
                  <div>
                    <a href="<%= post_avis_candidats_fit_path(agenda.cadre_info.id) %>">
                      Entretien fit  
                    </a>
                  </div>
                  <% end %>
                <% end %>
              <% end %>  
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  

  $(".click-me-in-js").click(function(){
    $("#list-date-"+$(this).data().id).show()
  });  


/*----------------------------------------------*/
  if (document.URL.indexOf('#') == -1) {
    url = document.URL + '#';
    location = '#';
    location.reload(true);
  }
/*----------------------------------------------*/
</script>

<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>

<script type="text/javascript">
  var month = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
  var day = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
  let $elementDate = $('.currentDateEntretien');

  $elementDate.each(function () {
    let dateUTC = moment.utc($(this).data().times);
    let dateGet = new Date(dateUTC.local());
    let dateString = day[dateGet.getDay()] + ' ' + dateGet.getDate() + ' ' + month[dateGet.getMonth()] + ' ' + dateGet.getFullYear();

    if((dateGet.getMinutes()+"").length == 1){
      $(this).html(dateGet.getHours() + 'h:0'+dateGet.getMinutes());
    }else{
      $(this).html(dateGet.getHours() + 'h:'+dateGet.getMinutes());
    }

  });
 // $($(".calendar-heading").find("a")[0]).html("PRECEDENT")
 //  $($(".calendar-heading").find("a")[1]).html("SUIVANT")
  $($(".calendar-heading").find("a")[0]).addClass("tt")
  $($(".calendar-heading").find("a")[1]).addClass("tt")
</script>
