<link rel="stylesheet" href="/css/client_profil.css" />
<link rel="stylesheet" href="/css/mes_cand_dash.css" />
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_dashboard/left_menu_link" %>
  </div>

  <div class="cp-box">
  	<div>
  		<div class="fcp-box">
      <h3 class="title">CANDIDATS A SUIVRE</h3>
      <div class="fc-item">
        <div class="fc-item-all">

<!--         	CANDIDATS  -->
            <% if @cadres.empty? %>
              Aucun nouveau candidat libre.
            <% else %>
              <% @cadres.each do |cadre| %>
                <div class="list-candidat">
                  <div class="fci-image">
      					    <img src="/image/cand.jpg" alt="photo profil candidats">
                  </div>
                  <div class="fci-icon">
                    <%= link_to add_favorite_cadre_path(id:cadre.id), method: :post, "data-confirm":"Êtes-vous sure de suivre cet(te) candidat(e)?"  do %>
                      <img src="/image/Vector-22.png" alt="logo oiam non favorie" width="30px" title="suivre">
                    <% end %>
                  </div>
                  <div class="fci-infos">
                    <p class="name"><%= cadre.last_name %> <%= cadre.first_name %></p>
                    <p class="poste">Poste : <%= cadre.job %></p>
                    <p class="score">Score OIAM : <span><%= cadre.score_potential %></span></p>
                    <div class="ico-cand">
                    	<a href="<%= admin_dashboard_show_candidate_path(cadre.id) %>" class="btn-see">Voir</a>
                    </div>
                  </div>
                </div>
              <% end %>

            <% end %>

<!--  ---------------------------- -->

        </div>
      </div>
    </div>
  	</div>
  </div>
</div>