<!-- appel ds-admin.css  -->
<link rel="stylesheet" href="/css/dash_admin.css" />
<!-- body html login  -->

<div class="container">
  <div class="dash-box1">

    <div class="dash-cont">
      <h6>AGENDA</h6>
      <div class="dash-box">
      <a href="<%= admin_dashboard_agenda_path %>"></a>
    </div>  
    </div>
    
    <div class="dash-cont">
      <h6>OFFRES EN COURS</h6>
      <div class="dash-box">
      <a href="<%= admin_dashboard_offer_path %>"></a>
    </div>
    </div>
    
  </div>

  <div class="dash-box1 box-bt">
    <div class="dash-cont">
      <h6>CANDIDATS</h6>
      <div class="dash-box">
      <a href="<%= admin_dashboard_candidate_path %>"></a>
    </div>  
    </div>
    
    <div class="dash-cont">
      <h6>TÂCHES</h6>
      <div class="dash-box">
      <a href="<%= admin_dashboard_tache_path %>">Mes Factures</a>  
      <a href="<%= admin_dashboard_tache_path %>">Mes Factures</a>
      <a href="<%= admin_dashboard_tache_path %>">Mes relances clients</a>
      <a href="<%= admin_dashboard_tache_path %>">Taches a faire</a>
    </div>  
    </div>
    
  </div>
</div>

