<link rel="stylesheet" href="/css/client_profil.css" />
<link rel="stylesheet" href="/css/send_mess_cand.css" />
<script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>
<style>
  .suiv-btn a {
    color: #fff;
    background: 1;
    text-decoration: none;
    padding: 15px 30px;
    border: 1px solid #d6b36a;
  }

  .suiv-btn a:hover {
    background: #fff;
    color: #d6b36a;
  }

  .suiv-btn {
    margin-top: 150px;
    margin-left: 100px;
  }

  .desc-suiv {
    margin-left: 90px;
  }
</style>
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_dashboard/left_menu_link" %>
  </div>

  <div class="cp-box">
  	<div style="grid-column: 1">
  		<div class="fcp-box">
      <h3 class="title" style="color: #d6b36a !important">ENTRETIEN FIT</h3>
      <h3 class="title t2">Choisissez la suite a donner a ces candidats et rediger votre avis recruteur</h3>

      <div class="fc-item" style="display: flex; margin-top: 40px;">
        <div class="fc-item-all">

<!-- CANDIDATS  -->

          <div class="list-candidat">
            <div class="fci-image">
					    <img src="/image/cand.jpg" alt="photo profil candidats">
            </div>
            <div class="fci-icon">
              <% unless @cadre.admin.nil? %>
                <% if @cadre.admin == current_admin %>
                  <%= link_to rmv_favorite_cadre_path(id:@cadre.id), method: :delete, "data-confirm":"Êtes-vous sure de retirer cet(te) cadre de votre liste de candidat à suivre ?" do %>
                    <img src="/image/Vector-24.png" alt="logo oiam favorie" title="retirer" width="30px">
                  <% end %>
                <% else %>
                  <img src="/image/Vector-24.png" alt="logo oiam favorie" title="retirer" width="30px">
                <% end %>
              <% else %>
                <%= link_to add_favorite_cadre_path(id:@cadre.id), method: :post do %>
                  <img src="/image/Vector-22.png" alt="logo oiam non favorie" width="30px" title="suivre">
                <% end %>
              <% end %>
            </div>
            <div class="fci-infos">
              <p class="name"><%= @cadre.last_name %> <%= @cadre.first_name %></p>
              <p class="poste">Poste : <%= @cadre.job %></p>
              <p class="score">Score OIAM : <span><%= @cadre.score_potential %></span></p>
            </div>
          </div>
        </div>

         <!--  ---------------------------- -->

         <div class="mess_candidat">
          <div class="desc-suiv">
          <% unless @cadre.agenda_admin.nil? %>
            <p>
              <strong>Entretien fit avec ce cadre le : </strong>
              <span data-times="<%= @cadre.agenda_admin.entretien_date.strftime("%Y-%m-%d %H:%M") %>" class="currentDateEntretien"></span>
            </p>
          <% else %>
            <p>
              En attente de la proposition du date de l'entretien par le cadre.
            </p>
          <% end %>
          </div>

          <div class="suiv-btn">
            <% unless @cadre.admin.nil? %>
              <% if @cadre.admin == current_admin %>
                <%= link_to rmv_favorite_cadre_path(id:@cadre.id), method: :delete, "data-confirm":"Êtes-vous sure de retirer cet(te) cadre de votre liste de candidat à suivre ?" do %>
                  RETIRER LE CADRE DE VOTRE LISTE DE CANDIDAT À SUIVRE.
                <% end %>
              <% else %>
                DÉJÀ SUIVI PAR <%= @cadre.admin.last_name %> <%= @cadre.admin.first_name %>
              <% end %>
            <% else %>
              <%= link_to add_favorite_cadre_path(id:@cadre.id), method: :post do %>
                SUIVRE CET(TE) CANDIDAT(E)
              <% end %>
            <% end %>
          </div>

         </div>

        </div>
      </div>
    </div>
  	</div>
  </div>
</div>

<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>

<script type="text/javascript">
  var month = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
  var day = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
  let $elementDate = $('.currentDateEntretien');

  $elementDate.each(function () {
    let dateUTC = moment.utc($(this).data().times);
    let dateGet = new Date(dateUTC.local());
    let dateString = day[dateGet.getDay()] + ' ' + dateGet.getDate() + ' ' + month[dateGet.getMonth()] + ' ' + dateGet.getFullYear();

    let heur = (""+dateGet.getHours()).length == 1 ? ("0"+dateGet.getHours()) : dateGet.getHours()
    let min = (""+dateGet.getMinutes()).length == 1 ? ("0"+dateGet.getMinutes()) : dateGet.getMinutes()

    $(this).html(dateString + ' à ' + heur + 'h:'+min);
  });
</script>
