<!-- appel css user-menu.css  -->
<link rel="stylesheet" href="/css/admin_main_menu.css" />
<!-- html body  -->
<div class="left-menu-r">
  <div class="btn-menu-r">
    <span class="btn-menu-burger open"> </span>
  </div>
  <div class="left-menu-photo">
    <% unless current_admin.image.nil? %> <%= image_tag(current_admin.image, alt: 'photo logo')%> <% else %>
    <img src="/image/profie.png" alt="logo entreprise" />
    <% end %>
  </div>
  <ul class="left-menu-content">
    <li><a href="<%= admin_administration_main_path %>">LES AGENDAS</a></li>
    <li><a href="<%= admin_administration_mail_path %>">LES MAILS</a></li>
    <li><a href="<%= admin_administration_test_path %>">LES TESTS</a></li>
    <li><a href="<%= admin_administration_utilisateur_path %>">LES UTILISATEURS</a></li>
    <li><a href="<%= admin_main_notification_path %>">MES NOTIFICATIONS</a></li>
    <li><a href="<%= admin_main_messaging_path %>">MA MESSAGERIE</a></li>
  </ul>
</div>
<!-- appel js menu_recruteur.js  -->
<script data-turbolinks-track="reload" src="/js/admin_main_menu.js"></script>
<script data-turbolinks-track="reload" src="/js/menu_recruteur.js"></script>
