<style type="text/css">
  .sign_up{
    margin: 40px;
  }
</style>

<div class="sign_up">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group row">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'Identifiant', class:'form-control' %>
    </div>

    <div class="form-group row">
      <%= f.password_field :password, autocomplete: "current-password", placeholder:'Mot de passe', class:'form-control' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-check row">
        <%= f.check_box :remember_me, class:'form-check-input' %>
        <%= f.label :remember_me, 'Se souvenir de moi', class:'form-check-label' %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-sm-6">
        <%= link_to "S'INSCRIRE", tmp_sign_up_path, class:'btn btn-secondary' %>
      </div>
      <div class="col-sm-6">
        <%= f.submit "SE CONNECTER", class:'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
