<h2>Sign up CLIENT</h2>

<!-- 





Détails Entreprise
  nom entreprise
  adresse
  siret
  site internet
  Description de votre activité

Détails Recruteur
  nom
  prénom
  fonction
  mail
  téléphone

Création de compte
  Identifiant
  Mot de passe
  Confirmation du mot de passe

Signature du contrat

Vous vous apprêtez à devenir client de One In A Million.
Nous vous remercions de lire attentivement nos conditions générales de vente.

Conditions générales de vente

En cochant cette case, je reconnais avoir pris connaissance d’annulation et de responsabilités (telles qu’indiquées dans le programme).


Un mail de confirmation de création de compte vous a été envoyé, vous pouvez activer votre compte.
  ACTIVER COMPTE


VT-x is disabled in the BIOS for all CPU modes (VERR_VMX_MSR_ALL_VMX_DISABLED).


-->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "clients/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "clients/shared/links" %>



<!-- 


1 Mon profil
2 Mes offres d’emploi
3 Mes candidats favoris
4 Mon suivi recrutement
5 Mes factures
6 Messages


2  Vous n’avez pas publié d’offre d’emploi pour le moment.
PUBLIER UNE OFFRE



1  
-->
