<link rel="stylesheet" href="/css/admin_prms.css" />
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_clients/left_menu" %>
  </div>

  <div class="cp-box">
    <div class="client">
      Recruteurs: 
      <div class="cp-pprofil">
        <% unless @client.image.nil? %>
          <img src="<%= @client.image %>" alt="logo entreprise" width= "100 px"/>
        <% else %>
        <img src="/image/profie.png" alt="logo entreprise" />
        <%  end %>
      </div>
      <p>
        Entreprise : <%= @client.entreprise.name %><br>
        Nom : <%= @client.first_name.capitalize %><br>
        Prénom : <%= @client.last_name.capitalize %>
      </p>
    </div>
  
    <div class="offre">
      Offre :
      <div class="cp-pprofil">
        <% unless @offre_job.image.nil? %>
          <img src="<%= @offre_job.image %>" alt="logo entreprise" width= "300 px"/>
        <% else %>
        <img src="/image/profie.png" alt="logo entreprise" />
        <%  end %>
      </div>
      <p>
        Intitulé du poste : <%= @offre_job.intitule_pote %>
      </p>
    </div>

    <div class="cadre">
      Candidats :
      <div class="cp-pprofil">
        <% unless @cadre_info.image.nil? %>
          <img src="<%= @cadre_info.image %>" alt="logo entreprise" width= "300 px"/>
        <% else %>
        <img src="/image/profie.png" alt="logo entreprise" />
        <%  end %>
      </div>
      <p>
        Nom : <%= @cadre_info.first_name.capitalize %><br>
        Prénom : <%= @cadre_info.last_name.capitalize %>
      </p>
    </div>

    <div class="entretien">
      Date d'entretien : <span data-times="<%= @agenda_client.entretien_date.strftime("%Y-%m-%d %H:%M") %>" class="currentDatentretien"></span>
    </div>
  </div>
</div>

<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>
<script type="text/javascript">
  $(".currentDatentretien").ready(function(){
    var month = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
    var day = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
    let $elementDate = $('.currentDatentretien');
    $elementDate.each(function () {
      let dateUTC = moment.utc($(this).data().times);
      let dateGet = new Date(dateUTC.local());
      let dateString = day[dateGet.getDay()] + ' ' + dateGet.getDate() + ' ' + month[dateGet.getMonth()] + ' ' + dateGet.getFullYear();
      let minute = dateGet.getMinutes()
      if((minute+"").length == 1){
     minute = "0"+minute
     }
      $(this).html(dateString)
        $(this).html(dateString + ' à ' + dateGet.getHours() + 'h:'+ minute );
    });
  });
</script>
