<link rel="stylesheet" href="/css/admin_prms.css" />
<link rel="stylesheet" href="/admins/css/job_offre.css">
<style media="screen">
  .cp-box h1 {
    font-size: 16px;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #d6b36a;
  }
</style>
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_clients/left_menu" %>
  </div>

  <div class="cp-box">
  	    <div class="show-job-box">
      <div class="show-publication" id="publish-ajax-hid">
        <div class="sjb-content">
          <div class="show-einfos">
            <div class="row">
              <div class="logo col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-lg-center justify-content-md-center justify-content-sm-center">
                <img src="<%= @offre_job.image %>" class="offre-img">
              </div>
              <div class="local col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p ><strong class="entre-name">OFFRE D'EMPLOI DE <%= @offre_job.client.entreprise.name.upcase %></strong></p>
                <p><strong><%= @offre_job.intitule_pote.upcase %></strong></p>
                <p><strong>DEPARTEMENTS : </strong><%= @offre_job.department %></p>
                <p><strong>PAYS : </strong><%= @offre_job.country %></p>
                <p><strong>RÉGION : </strong><%= @offre_job.region%></p>
              </div>
            </div>
            </div>
          <hr />
          <div class="so-content text-lg-center text-md-center text-sm-center">
            <p><strong>DESCRIPTIF DES MISSIONS</strong></p>
            <div class="description">
              <%= @offre_job.descriptif_mission.gsub('[sp]', ' &#160; ').gsub('[nl]', ' <br />').html_safe %>
            </div>
          </div>
          <hr>
          <div class="so-content text-lg-center text-md-center text-sm-center">
            <p><strong>Pourquoi travailler chez eux ? : </strong></p>
            <div class="first-content">
              <%= @offre_job.question2 %>
            </div>
          </div>
          <hr>
          <div class="so-content text-lg-center text-md-center text-sm-center">
            <p><strong>RATTACHEMENT HIÉRARCHIQUE</strong></p>
            <div><%= @offre_job.rattachement %></div>
          </div>
          <hr>
          <div class="so-content text-lg-center text-md-center text-sm-center">
            <p><strong>RÉMUNÉRATION (K€ BRUTS ANNUELS)</strong></p>
            <div>
              Fixe : <%= @offre_job.remuneration.to_i %>k€ <br />
              Variable : <%= @offre_job.remuneration_anne.to_i %>k€
            </div>
          </div>
          <hr>
          <div class="so-content text-lg-center text-md-center text-sm-center">
            <p><strong>DÉPLACEMENTS</strong></p>
            <div>
              <%= @offre_job.type_deplacement_name %>
            </div>
          </div>
          <hr>
          <div class="so-content text-lg-center text-md-center text-sm-center">
            <p><strong>PROCESSUS RH</strong></p>
            <div>
              <% case @offre_job.numberEntretien.to_i %>
              <% when 1 %>
                1 entretien RH
              <% when 2 %>
                1 entretien RH avec 1 entretien Manager
              <% when 3 %>
                1 entretien RH avec 2 entretiens Manager
              <% end %>
            </div>
          </div>
          <hr>
          <div class="so-content text-lg-center text-md-center text-sm-center">
            <p><strong>CONTEXTE D'OUVERTURE DE CE POSTE</strong></p>
            <div>
              <%= @offre_job.question5 %>
            </div>
          </div>
          <hr>
          <div class="so-content text-lg-center text-md-center text-sm-center">
            <p><strong>DATE DE PRISE DE POSTE</strong></p>
            <div>
              <%= @offre_job.date_poste %>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
