<!-- call css -->
<link rel="stylesheet" href="/css/effectue_entretien.css" />
<!-- call css  -->

<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_clients/left_menu" %>
  </div>
  <div class="cp-box">
    <div class="ef-box">
      <div class="offre">
        <a href="<%= clients_bp_offre_job_no_cadre_path(@offre_job.id) %>">
          <div class="title">Offre</div>
          <div class="ef-image img-offre">
            <% unless @offre_job.image.nil? %>
            <img src="<%= @offre_job.image %>" alt="logo entreprise" width="300px" />
            <% else %>
            <img src="/image/profie.png" alt="logo entreprise" />
            <%  end %>
          </div>
          <div>
            Intitulé du poste : <br>
            <span><%= @offre_job.intitule_pote %></span>
          </div>
        </a>
      </div>
      <div class="flex-box">
        <div class="client">
          <a href="<%= clients_bp_show_client_path(@client.id) %>">
            <div class="title">Recruteur</div>
            <div class="ef-image img-user">
              <% unless @client.image.nil? %>
                <img src="<%= @client.image %>" alt="logo entreprise" width="100 px" />
              <% else %>
                <img src="/image/profie.png" alt="logo entreprise" />
              <%  end %>
            </div>
            <div class="name"> <%= @client.first_name.capitalize %> <%= @client.last_name.capitalize %></div>
            <div>
              <!-- Entreprise :  -->
              <%= @client.entreprise.name %><br>
            </div>
          </a>
        </div>
        <div class="cadre">
          <a href="<%= cbp_promise_no_validate_path(@cadre_info.id) %>">
            <div class="title">Candidat</div>
            <div class="ef-image img-user">
              <% unless @cadre_info.image.nil? %>
              <img src="<%= @cadre_info.image %>" alt="logo entreprise" width="300 px" />
              <% else %>
              <img src="/image/profie.png" alt="logo entreprise" />
              <%  end %>
            </div>
            <div class="name">
              <%= @cadre_info.first_name.capitalize %> <%= @cadre_info.last_name.capitalize %>
            </div>
            <div class="entretien">
              <div>
                Date de début : <b><%= @promise.offre_job.date_poste %></b>
              </div>
              <div>

                <% date_fin = "" %>

                <% rupture_time_trying = @promise.rupture_time_trying %>

                <% time_trying = @promise.time_trying %>

                <% if rupture_time_trying.nil? %>
                  <% if time_trying.include?('-') %>
                    <% time = time_trying.split('-')%>
                    <% date_fin = "#{time[2]}/#{time[1]}/#{time[0]}"%>
                  <% else %>
                    <% date_fin = time_trying %>
                  <% end %>
                <% else %>
                  <% if rupture_time_trying.include?('-') %>
                    <% time = rupture_time_trying.split('-')%>
                    <% date_fin = "#{time[2]}/#{time[1]}/#{time[0]}"%>
                  <% else %>
                    <% date_fin = rupture_time_trying %>
                  <% end %>
                <% end %>
                Date de fin : <b><%= date_fin %></b>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>
<script type="text/javascript">
  $(".currentDatentretien").ready(function () {
    var month = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre',
      'Novembre', 'Décembre'
    ];
    var day = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
    let $elementDate = $('.currentDatentretien');
    $elementDate.each(function () {
      let dateUTC = moment.utc($(this).data().times);
      let dateGet = new Date(dateUTC.local());
      let dateString = day[dateGet.getDay()] + ' ' + dateGet.getDate() + ' ' + month[dateGet.getMonth()] +
        ' ' + dateGet.getFullYear();
      let minute = dateGet.getMinutes()
      if ((minute + "").length == 1) {
        minute = "0" + minute
      }
      $(this).html(dateString)
      $(this).html(dateString + ' à ' + dateGet.getHours() + 'h' + minute);
    });
  });
</script>