<link rel="stylesheet" href="/css/admin_prms.css" />
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_administrations/left_menu" %>
  </div>

  <div class="cp-box">
    <h1>FACTURATION</h1>

	<div>
		<h2>Liste des recruteurs à envoyer des factures</h2>
<!--
	Le recruteur n'a pas encore validé
	J'atteste régler cette facture par virement dans les 15 jours. 
-->
		<% if @factureNotConfirmedPayeds.empty?  %>
			<p>aucune facture</p>
		<% else %>
			<% @factureNotConfirmedPayeds.each do |factureNotConfirmedPayed| %>
				<p>
					Facture n°: <%= factureNotConfirmedPayed[:facture].numero_facture %><br>
					<%= factureNotConfirmedPayed[:promise_to_hire].offre_job.intitule_pote.upcase %><br>
					<a href="<%= dashbord_admin_show_facture_path(factureNotConfirmedPayed[:facture].id) %>">VOIR</a>
				</p>
			<% end %>
		<% end %>
	</div>


	<div>
		<h2>Liste des recruteurs qui ont téléchargé les factures</h2>
<!--
	Le recruteur a validé
	J'atteste régler cette facture par virement dans les 15 jours. 
-->

		<% if @factureConfirmedPayeds.empty?  %>
			<p>aucune facture</p>
		<% else %>
			<% @factureConfirmedPayeds.each do |factureConfirmedPayed| %>
				<p>
					Facture n°: <%= factureConfirmedPayed[:facture].numero_facture %><br>
					<%= factureConfirmedPayed[:promise_to_hire].offre_job.intitule_pote.upcase %><br>
					<a href="<%= dashbord_admin_show_facture_path(factureConfirmedPayed[:facture].id) %>">VOIR</a>
				</p>
			<% end %>
		<% end %>
	</div>

  </div>
</div>
