<!-- call css  -->
<link rel="stylesheet" href="/css/administration_paiement.css" />
<!-- html body  -->

<div class="client-column">
	<div class="client-menu-left">
		<%= render partial: "admin_administrations/left_menu" %>
	</div>
	<div class="cp-box">
		<div class="admp-box">
			<h5 class="title">PAIEMENT</h5>
			<h4 class="subtitle">Liste des recruteurs en mode paiement</h4>
			<div class="admp-flex">
				<!--
	Le recruteur a validé
	J'atteste régler cette facture par virement dans les 15 jours.
	15j son passé et il n'a pas encore payer la facture.
-->
				<% if @factureConfirmedPayeds.empty?  %>
				<div class="empty">aucune facture</div>
				<% else %>
				<% @factureConfirmedPayeds.each do |factureConfirmedPayed| %>
				<!-- <%= factureConfirmedPayed[:client] %> -->
				<div class="admp-f-box">
					<div class="fact">
						Facture n° : <span><%= factureConfirmedPayed[:facture].numero_facture %></span>
					</div>

					<span>
						<%= factureConfirmedPayed[:promise_to_hire].offre_job.intitule_pote.upcase %>
					</span>
					<div class="link">
						<a href="<%= dashbord_admin_show_facture_path(factureConfirmedPayed[:facture].id) %>">VOIR</a>
					</div>
				</div>
				<% end %>
				<% end %>
			</div>
			<h4 class="subtitle">Liste des recruteurs qui ont validé le paiement</h4>
			<div class="admp-flex">
				<!--
		le recruteur a uploader l'ov
	-->
				<% if @facturePayeds.empty?  %>
				<div class="empty">aucune facture</div>
				<% else %>
				<% @facturePayeds.each do |facture| %>
				<div class="admp-f-box">
					<div class="fact">
						Facture n° : <span><%= facture.numero_facture %></span>
					</div>

					<span>
						<%= facture.promise_to_hire.offre_job.intitule_pote.upcase %>
					</span>
					<div class="link">
						<a href="<%= dashbord_admin_show_facture_path(facture.id) %>">VOIR</a>
					</div>
				</div>
				<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>