<% @title="Contacts" %>
  <link rel="stylesheet" href="/css/mes_cand_admin.css" />
  <script src="https://kit.fontawesome.com/d06d35ede2.js" crossorigin="anonymous"></script>

  <link href="/admin/vendor/all.min.css" rel="stylesheet" type="text/css">
  <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">

<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_administrations/left_menu" %>
  </div>

  <div class="cp-box">
  
  <div id="wrapper">

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div class="container-fluid">

            <!-- Content Row -->
            <div class="row">
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card shadow h-100 py-2" style="border-left: .25rem solid #d6b36a!important;">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #d6b36a">Clients</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @clientsNbr %></div>
                      </div>
                      <div class="col-auto">
                        <i class="far fa-user fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card shadow h-100 py-2" style="border-left: .25rem solid #e3d7bf!important;">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #e3d7bf">Cadres</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @cadresNbr %></div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card shadow h-100 py-2" style="border-left: .25rem solid #d6b36a!important;">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #d6b36a">Cadres embauchés</div>
                        <div class="row no-gutters align-items-center">
                          <div class="col-auto">
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%=@recrutePercent%>%</div>
                          </div>
                          <div class="col">
                            <div class="progress progress-sm mr-2">
                              <div class="progress-bar bg-info" role="progressbar" style="width: <%=@recrutePercent%>%" aria-valuenow="<%=@recrutePercent%>" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card shadow h-100 py-2"  style="border-left: .25rem solid #e3d7bf!important;">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #e3d7bf">Annonces</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @annoncesNbr %></div>
                      </div>
                      <div class="col-auto">
                        <i class="far fa-newspaper fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Content Row -->

            <div class="row">
              <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold" style="color: black">Candidats | Clients | Annonces</h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="myAreaChart" data-array="[<%= @allCadreNbr %>,<%= @c_admisNbr %>,<%= @c_refuseNbr %>,<%= @en_coursNbr %>,<%= @clientsNbr %>,<%= @annoncesNbr %>,<%= @recruteNbr %>]"></canvas>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Pie Chart -->
              <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold" style="color: black">Test potential et test fit</h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                      <canvas id="myPieChart" data-array="[<%= @c_admisPercent %>,<%= @refuseFitPercent %>,<%= @refusePotPercent %>,<%= @en_coursPercent %>]"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                      <span class="mr-2">
                        <i class="fas fa-circle" style="color: #d6b36a"></i> Admis
                      </span>
                      <span class="mr-2">
                        <i class="fas fa-circle" style="color: #E73E01"></i> Fit refusé
                      </span>
                      <span class="mr-2">
                        <i class="fas fa-circle" style="color: #ED7F10"></i> Potential refusé
                      </span>
                      <span class="mr-2">
                        <i class="fas fa-circle" style="color: #e3d7bf"></i> Abandon ou en cours
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- End of Content Wrapper -->
  </div>
  </div>
</div>

<!-- Custom scripts for all pages-->
<script type="text/javascript" src="/admin/js/sb-admin-2.min.js"></script>
<!-- Page level plugins -->
<script type="text/javascript" src="/admin/vendor/chart/chart.min.js"></script>
<script type="text/javascript" src="/admin/vendor/chart/chart.js"> </script>
<!-- Page level custom scripts -->
<script type="text/javascript" src="/admin/js/demo/chart-area-demo.js"></script>
<script type="text/javascript" src="/admin/js/demo/chart-pie-demo.js"></script>

