<div style="width: 90%; border: 1px solid #d6b36a; margin: 0 auto; text-align:center;padding: 20px 50px;">
	<center><img style="width: 250px;margin: 20px;" src="http://c8b0600.online-server.cloud/image/OIAM_Logo.png"></center>
	<p>
		<b><%= @candidat.first_name %> <%= @candidat.last_name.upcase %></b> a postulé pour le poste de <b><%= @offre.intitule_pote %></b>.
	</p>
	<p>
		Pour le consulter, veuillez <a href="http://c8b0600.online-server.cloud/recruteurs/offre/<%= @candidat.id %>/candidate?offre_id=<%= @offre.id %>">cliquer ici.</a>
	</p>
</div>