<div>
	<li><%= link_to "MON PROFIL", my_profil_path %></li>
	<li><%= link_to "MES TESTS", main_test_path %></li>
	<li><%= link_to "MES OFFRES REÇUES", received_job_path %></li>
	<li><%= link_to "RECHERCHE D’OFFRES", searchJob_path %></li>
	<li><%= link_to "MES OFFRES FAVORITES", favoriteJob_path %></li>
	<li><%= link_to "MON SUIVI RECRUTEMENT", recrutment_monitoring_path %></li>
	<li><%= link_to "MES NOTIFICATIONS", cadres_notifications_path %></li>
	<li><%= link_to "MA MESSAGERIE", my_messages_cadre_path %></li>
</div>
