<div>
	<li><%= link_to "MON PROFIL", my_profil_path %></li>
	<li><%= link_to "MES TESTS", "#" %></li>
	<li><%= link_to "RECHERCHE D’OFFRES", searchJob_path %></li>
	<li><%= link_to "MES OFFRES FAVORITES", favoriteJob_path %></li>
	<li><%= link_to "MON SUIVI RECRUTEMENT", recrutment_monitoring_path %></li>
</div>
