<link rel="stylesheet" type="text/css" href="/css/favorite_job_cadre.css">
<div class="content">
	<div class="left_link">
		<%= render partial: "candidates/left_link_bar" %>
	</div>

	<div class="main">
		<!--
			----------------------------------------------------------------
		-->
		<%= form_for @promise , url: cadre_update_promise_to_hire_path(@promise.id) do |f| %>
			<div class="row">
				<div class="col-sm-6">
					<div>
						<% unless @current_client.image.nil? %>
							<%= image_tag(@current_client.image, alt: 'photo de profil', class:'photo_ako', width:'250px')%>
						<% end %>
					</div>
					<div><%= @job.intitule_pote %></div>
					<div>
						<%= @job.contrat_cdi ? "CONTRAT À DURÉE INDÉTERMINÉE" : "CONTRAT À DURÉE DÉTERMINÉE" %>
					</div>
				</div>
				
				<div class="col-sm-6">
					<div><%= @cadre.last_name %></div>
					<div><%= @cadre.first_name %></div>
					<div>
						<% if @promise.birthday_cadre.nil? %>
							<%= f.text_field :birthday_cadre, required:true, placeholder:"Date de naissance" %>
						<% else %>
							<%= @promise.birthday_cadre %>
						<% end %>
					</div>
					<div>
						<% if @promise.birthplace_cadre.nil? %>
							<%= f.text_field :birthplace_cadre, required:true, placeholder:"Lieu de naissance" %>
						<% else %>
							<%= @promise.birthplace_cadre %>
						<% end %>
					</div>
					<div>
						<% if @promise.ns_sociale_cadre.nil? %>
							<%= f.text_field :ns_sociale_cadre, required:true, placeholder:"N° sécurité sociale" %>
						<% else %>
							<%= @promise.ns_sociale_cadre %>
						<% end %>
					</div>
				</div>
			</div>

			<table class="table">
				<tr>
					<td>Date de prise de poste</td>
					<td><%= @promise.date_poste %></td>
				</tr>
				<tr>
					<td>Rémunération fixe <br>(k€ bruts mensuels)</td>
					<td>
						<div>
							<%= @promise.remuneration_fixe %>€
						</div>
						<div>
							<% is_check = true %>
							<% ["12","13"].each do |month| %>
								<% if @promise.remuneration_fixe_date == month %>
									<% is_check = false %>
									<%= month %> mois <br>
								<% else %>
									<%= month %> mois <br>
								<% end %>
							<% end %>
							<% if is_check %>
								<%= @promise.remuneration_fixe_date %> mois
							<% end %>
						</div>
					</td>
				</tr>
				<tr>
					<td>Rénumération variable <br>(k€ bruts annuels)</td>
					<td>
						<table class="table">
							<tr>
								<div>
									<% if @promise.remuneration_variable %>
										OUI  <%= @promise.remuneration_var_info %><br>
										NON
									<% else %>
										OUI <br>
										NON
									<% end %>
								</div>
							</tr>
						</table>
					</td>
				</tr>
			</table>

			<div class="form-group">
				<center>Avantages ou autre précision sur la rénumération</center>
				<center><%= @promise.remuneration_avantage %></center>
			</div>

			<table class="table">
				<tr>
					<td>Date de validité</td>
					<td><%= @promise.date_de_validite %></td>
				</tr>
				<tr>
					<td>Signature électronique entreprise</td>
					<td class="form-group">
						<%= image_tag(@promise.signature_entreprise, alt: 'signature entreprise', class:'photo_ako',height:'150px')%>
					</td>
				</tr>
				<tr>
					<td>Signature électronique candidat</td>
					<td>
						<% unless @promise.signature_candidat.nil? %>
							<%= image_tag(@promise.signature_candidat, alt: 'signature candidat', class:'photo_ako', width:'250px')%>
						<% else %>
							<img id="addImage" src="#" alt="signature candidat" height="150px" style="display: none;">
							<%= f.file_field :signature_candidat, required:true, class:"form-control", accept:".jpg,.jpeg,.gif,.png,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" %>

							<script type="text/javascript">
								function shwoMyImage(input) {
									if (input.files && input.files[0]) {
										var reader = new FileReader();
										reader.onload = function(e) {
											$('#addImage').attr('src', e.target.result);
											$("#addImage").show();
										}
										reader.readAsDataURL(input.files[0]);
									}
								}
								$("#promise_to_hire_signature_candidat").change(function() {
									shwoMyImage(this);
								});
							</script>
							
						<% end %>
					</td>
				</tr>
			</table>

			<div class="data">
				<table class="table">
					<tr>
						<td>CIN ou Passeport</td>
						<td>
							<% if @promise.cin_pass_port.nil? %>
								<%= f.file_field :cin_pass_port, required:true, class:"form-control", accept:".jpg,.jpeg,.gif,.png,.doc,.docx,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" %>
							<% else %>
								<%= link_to "TELECHARGER", @promise.cin_pass_port %>
							<% end %>
						</td>
					</tr>

					<tr>
						<td>Attestation de sécurité sociale</td>
						<td>
							<% if @promise.security_certificate.nil? %>
								<%= f.file_field :security_certificate, required:true, class:"form-control", accept:".jpg,.jpeg,.gif,.png,.doc,.docx,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" %>
							<% else %>
								<%= link_to "TELECHARGER", @promise.security_certificate %>
							<% end %>
						</td>
					</tr>

					<tr>
						<td>RIB</td>
						<td>
							<% if @promise.rib.nil? %>
								<%= f.file_field :rib, required:true, class:"form-control", accept:".jpg,.jpeg,.gif,.png,.doc,.docx,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" %>
							<% else %>
								<%= link_to "TELECHARGER", @promise.rib %>
							<% end %>
						</td>
					</tr>
				</table>
			</div>

			<div class="form-group">
				<% if @promise.repons_cadre.nil? %>
					<center><%= f.submit("VALIDER") %></center>
				<% else %>
					<center>TELECHARGER</center>
				<% end %>
			</div>

		<% end %>

		<!--
			----------------------------------------------------------------
		-->

	</div>
</div>

