<% content_for :head_style do %>
	<link rel="stylesheet" href="/css/promese_embauche.css">
<% end %>

<div class="content">
	<div class="left_link">
		<%= render partial: "candidates/left_link_bar" %>
	</div>

	<div class="main">
		<h1 class="main-title">PROMESSE D'EMBAUCHE</h1>
		<%= form_for @promise, url:cadre_update_promise_to_hire_path(@promise.id) do |f|%>
			<div class="job-info">
				<div class="job-info-content">
					<% unless @job.image.nil? %>
						<%= image_tag(@job.image, alt: 'photo de profil', class:'photo_ako', width:'150px', height:'150px')%>
					<% end %>
					<div class="job-i down"><%= @job.intitule_pote %></div>
					<div class="job-i down"><%= @job.contrat_cdi ? "CONTRAT À DURÉE INDÉTERMINÉE" : "CONTRAT À DURÉE DÉTERMINÉE" %></div>
				</div>
				<div class="cadre-info">
					<div class="cadre-info-content disable bor-me"><%= @cadre.last_name %><span class="user-info">Nom</span></div>
					<div class="cadre-info-content disable bor-me"><%= @cadre.first_name %><span class="user-info">Prénoms</span></div>
					<div class="cadre-info-content calen">
						<% if @promise.birthday_cadre.nil? %>
							<span class="input-cnt"><%= f.text_field :birthday_cadre, id:"calendar", required:true %><div class="user-info inpt" id="dat-nai">Date de naissance</div></span><span class="calendar-err error"></span>
						<% else %>
							<span class="input-cnt"><%= f.text_field :birthday_cadre, class:"calendar", id:"calendar", disabled: true, required:true %><span class="user-info inpt">Date de naissance</span></span>
						<% end %>
					</div>
					<div class="cadre-info-content">
						<% if @promise.birthplace_cadre.nil? %>
							<span class="input-cnt"><%= f.text_field :birthplace_cadre, class:"lieu-naiss", required:true %><span class="user-info inpt" id="leu-nai">Lieu de naissance</span></span><br><span class="lieu-naiss-err error"></span>
						<% else %>
							<span class="input-cnt"><%= f.text_field :birthplace_cadre, placeholder:"Lieu de naissance", class:"lieu-naiss", disabled: true, required:true %><span class="user-info inpt">Lieu de naissance</span></span><br>
						<% end %>
					</div>
					<div class="cadre-info-content">
						<% if @promise.ns_sociale_cadre.nil? %>
							<span class="input-cnt"><input class="number-only" type="number" name="promise_to_hire[ns_sociale_cadre]" id="promise_to_hire_ns_sociale_cadre" ondrop="return false;" onpaste="return false;" onkeypress="return event.charCode>=48 && event.charCode<=57"><span class="user-info inpt" id="num-soc">N° sécurité sociale</span></span><br><span class="secur-social-err error"></span>
						<% else %>
							<span class="input-cnt"><input placeholder="N° sécurité sociale" class="number-only" type="number" name="promise_to_hire[ns_sociale_cadre]" id="promise_to_hire_ns_sociale_cadre" ondrop="return false;" onpaste="return false;" onkeypress="return event.charCode>=48 && event.charCode<=57" value="<%= @promise.ns_sociale_cadre %>" readonly><span class="user-info inpt" id="num-soc">N° sécurité sociale</span></span>
						<% end %>
					</div>
				</div>
			</div>
			<div class="promese-info">
				<span class="date-prise-label">Date de prise de poste</span>
				<div class="date-prise dat-p"><%= @promise.date_poste %></div>
			</div>
			<div class="promese-info">
				<span class="date-prise-label">Fin de période d'essai</span>
				<div class="date-prise dat-p"><%= @promise.time_trying %></div>
			</div>
			<div class="promese-info dis-me">
				<div class="date-prise-label">Rémunération fixe (k€ bruts annuels)</div>
				<div class="date-prise"><%= @job.remuneration %></div>
			</div>
			<div class="promese-info dis-me">
				<div class="date-prise-label">Rémunération fixe (€ bruts mensuels)</div>
				<div class="date-prise"><%= @promise.remuneration_fixe %></div>
			</div>
			<div class="pro-info">
			<div class="promese-info-check">
				<div class="mounth">
					<label for="promise_to_hire_remuneration_fixe_date" class="check-me" id="poste_12">
						<img src="/image/check.png" width="25px" height="25px" style="display: none;">
					</label>
					<%= f.radio_button :remuneration_fixe_date, "12", id:'post_12', class:'js-post-mois', disabled: true%><span class="go-right">12 mois</span>
				</div>
			</div>
			<div class="promese-info-check">
				<div class="mounth">
					<label for="promise_to_hire_remuneration_fixe_date" class="check-me" id="poste_13">
						<img src="/image/check.png" width="25px" height="25px" style="display: none;">
					</label>
					<%= f.radio_button :remuneration_fixe_date, "13", id:'post_13', class:'js-post-mois', disabled: true%><span class="go-right">13 mois</span>
				</div>
			</div>
			<div class="promese-info-check">
				<div class="mounth">
					<label for="promise_to_hire_remuneration_fixe_date" class="check-me" id="poste_13">
						<img src="/image/check.png" width="25px" height="25px" style="display: none;">
					</label>
					<%if (@promise.remuneration_fixe_date == '13' || @promise.remuneration_fixe_date == '12') %><input type="radio" class="js-post-mois" disabled /> <span class="go-right">Personnalisé</span> <% else %><input type="radio" class="js-post-mois" checked disabled /> <span class="go-right"> <%= @promise.remuneration_fixe_date %></span> mois <%end %>
				</div>
			</div>
			</div>
			<div class="promese-info bool">
				<div class="renum">Rémunération variable  (k€ bruts annuels)</div>
				<div class="mounth">
					<% if @promise.remuneration_variable %>
						<%= f.text_field :remuneration_var_info, class:"renum-var", disabled: true %>
					<% else %>
						<input class="renum-var" disabled="disabled" type="text" value="0" name="promise_to_hire[remuneration_var_info]" id="promise_to_hire_remuneration_var_info">
					<% end %>
				</div>
			</div>
			<div class="avantages pro-info">
				<div class="avantage-label">Avantages ou autre précision sur la rémunération</div>
				<div class="avantage-input"><%= @promise.remuneration_avantage.gsub('[sp]', ' &#160; ').gsub('[nl]', ' <br />').html_safe %></div>
			</div>
			<div class="promese-all">
				<div class="promese-info">
					<div class="date-prise-label">Date de validité</div>
					<div class="date-valid dat-p"><%= @promise.date_de_validite %></div>
				</div>
				<div class="promese-info remove">
					<div class="date-prise-label">Signature électronique entreprise</div>
					<div class="date-valid0"><%= image_tag(@promise.signature_entreprise, alt: 'signature entreprise', class:'photo_ako', width:'225px', height:'120px')%></div>
				</div>
				<div class="promese-info remove">
					<div class="date-prise-label">Signature électronique candidat</div>
					<div class="date-valid0">
						<% unless @promise.signature_candidat.nil? %>
							<%= image_tag(@promise.signature_candidat, alt: 'signature candidat', class:'photo_ako', width:'225px', height:'120px')%>
						<% else %>
						<div >
							<img id="addImage" class="addImage" src="#" alt="signature candidat" height="150px" style="display: none;">
							<%= f.label :signature_candidat, class:"import", id:"signature", style:"background: url() center no-repeat; background-size: cover; background-color: #f0f2f4;"%><br>
							<span class="signature-err error" style="display: none;"></span>
							<%= f.file_field :signature_candidat, required:true, class:"form-control signat", accept:".jpg,.jpeg,.gif,.png,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document", style:"display:none;" %>
						</div>

						<% end %>
					</div>
				</div>
				<div class="promese-info remove">
					<div class="date-prise-label" id="cin-label">CNI ou Passeport
							<span id="file-cin-content"	><br>Votre fichier : <span id="cin-filename"></span></span>
					</div>
					<div class="fichier">
						<% if @promise.cin_pass_port.nil? %>
							<label class="file cin-file" for="promise_to_hire_cin_pass_port">
								IMPORTER <br>
							</label>
							<%= f.file_field :cin_pass_port, required:true, class:"input-import cin", accept:".jpg,.jpeg,.gif,.png,.doc,.docx,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" %><br>
							<span class="cin-error error"></span>
						<% else %>
								<%= link_to "TELECHARGER", @promise.cin_pass_port, class:"telecharger" %>
						<% end %>
					</div>
				</div>
				<div class="promese-info remove">
					<div class="date-prise-label">Attestation de sécurité sociale
								<span id="file-atest-content"><br>Votre fichier : <span id="atest-filename"></span></span>
					</div>
					<div class="fichier">
						<% if @promise.security_certificate.nil? %>
							<label class="file" for="promise_to_hire_security_certificate">IMPORTER</label>
							<%= f.file_field :security_certificate, required:true, class:"input-import atest", accept:".jpg,.jpeg,.gif,.png,.doc,.docx,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" %><br>
							<span class="attest-err error"></span>
						<% else %>
								<%= link_to "TELECHARGER", @promise.security_certificate, class:"telecharger" %>
						<% end %>
					</div>
				</div>
				<div class="promese-info remove">
					<div class="date-prise-label">RIB
						<span id="file-rib-content"	><br>Votre fichier : <span id="rib-filename"></span>
					</div>
					<div class="fichier">
						<% if @promise.rib.nil? %>
							<label class="file" placeholder="Importer CNI" for="promise_to_hire_rib">IMPORTER</label>
							<%= f.file_field :rib, required:true, class:"input-import rib", accept:".jpg,.jpeg,.gif,.png,.doc,.docx,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" %><br>
							<span class="rib-err error"></span>
						<% else %>
								<%= link_to "TELECHARGER", @promise.rib, class:"telecharger" %>
						<% end %>
					</div>
				</div>
				<div class="btn-valid">
					<div id="btn-valid-error" style="display: none;"></div>
				<% if @promise.repons_cadre.nil? %>
					<%= f.submit 'VALIDER', :class => 'btn-valide' %>
				<% end %>
			</div>
			</div>
		<% end %>
	</div>

</div>
<script data-turbolinks-track="reload" type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script data-turbolinks-track="reload" type="text/javascript" src="/js/candidate_promise_hire.js"></script>


<script type="text/javascript">
function shwoMyImage(input) {
	if (input.files && input.files[0]) {
		var reader = new FileReader();
		reader.onload = function(e) {
			$('#signature').css('background-image', 'url(' + e.target.result + ')');
		}
		reader.readAsDataURL(input.files[0]);
	}
}
$("#promise_to_hire_signature_candidat").change(function() {
	shwoMyImage(this);
});
$(document).ready(function() {
	$('#file-cin-content').hide()
		$('.cin').change(function(e) {
				var file = e.target.files[0].name;
				$('#cin-filename').text(file);
				$('#file-cin-content').show()
		});

	 $('#file-atest-content').hide()
		$('.atest').change(function(e) {
				var file = e.target.files[0].name;
				$('#atest-filename').text(file);
				$('#file-atest-content').show()
		});

		$('#file-rib-content').hide()
		$('.rib').change(function(e) {
				var file = e.target.files[0].name;
				$('#rib-filename').text(file);
				$('#file-rib-content').show()
		});

		$('.calen input').focus(function(){
			$('#dat-nai').hide();
		})

		$('.calen input').focusout(function(){
			if ($('#calendar').val() <= 0) {
				$('.calendar-err').html('Champs obligatoire');
				$('#dat-nai').show();
				return false;
			}else{
				$(this).css("outline", ("none")) ;
				$('.calendar-err').hide();
				$('#dat-nai').show();
				return true;
			}
		})

		$('.lieu-naiss').focus(function(){
			$('#leu-nai').hide();
		})

		$('.lieu-naiss').focusout(function(){
			if ($(this).val() <= 0) {
				$('.lieu-naiss-err').html('Champs obligatoire');
				$('#leu-nai').show();
				return false;
			}else{
				$(this).css("outline", ("none")) ;
				$('#leu-nai').show();
				$('.lieu-naiss-err').hide();
				return true;
			}
		})

		$('.number-only').focus(function(){
			$('#num-soc').hide();
		})

		$('.number-only').focusout(function(){
			var value = $(this).val();
			if (value <= 0) {
				console.log(value.length)
				$('.secur-social-err').html('Champs obligatoire');
				$('#num-soc').show();
				return false;
			}
			else if (value.length !== 13){
				$('.secur-social-err').show();
				$('.secur-social-err').html('Numero de securité invalide (13 chiffres)');
				$('#num-soc').show();
				return false;
			} else {
				$(this).css("outline", ("none")) ;
				$('.secur-social-err').hide();
				$('#num-soc').show();
				return true;
			}
		})


		$('.edit_promise_to_hire').attr("name","formulaire");


		$('.btn-valide').click(function(){
			var form = document.forms.formulaire;
			var booli = true;
			for (var i = 0; i < form.length; i++) {
				if((form[i].value == 0 || form[i].value.length == 0 ) && form[i].type != "file"){
					form[i].style.outline = "1px solid red";
					form[i].nextSibling.nextSibling.innerHTML = "Champs Obligatoire";
				}
			}

			if ($('#signature').val() != 0 || $('.cin').val() != 0 || $('.atest').val() != 0 || $('.rib').val()) {
				return true;
			}
			else {
				$('#btn-valid-error').html("*Verifier que vous avez remplis tous les formulaires");
				$('#btn-valid-error').show(300);
				setTimeout(function(){
					$('#btn-valid-error').hide(300);
				}, 5000);
				return false;
			}
		})





	});
</script>
