<link rel="stylesheet" href="/css/edit_cadre_profil.css">
<div class="main">
	<%= form_for @cadre , url: confirmedProfil_path do |f| %>
			<div class="cadre-quest">
				<div class="type-pos">
					<label for="" class="label-content">Quel est votre type de poste actuel ?</label>
					<select class="co-select typ-post" id="metier-input" name="cadre_info[metier_id]" required>
							<% unless @cadre.metier.nil? %>
			            <option value="<%= @cadre.metier.id%>" selected hidden><%= @cadre.metier.name%></option>
							<% end %>
			            <% @meties.each do |metier| %>
			            	<option value="<%= metier.id %>"><%= metier.name %></option>
			            <% end %>
		          	</select>
				</div>
				<div class="act-job">
					<label for="" class="label-content">Quelle est votre profession actuelle ?</label>
					<% unless @cadre.job.nil? %>
						<input type="text" name="cadre_info[job]" class="job-now" value="<%= @cadre.job%>">
					<% else %>
						<input type="text" name="cadre_info[job]" class="job-now">
					<% end %>
				</div>
			</div>
			<%= f.label :question2, "Où souhaitez-vous travailler et acceptez-vous les déplacements ?",class:"label-content" %>

			<div class="depl-content">
				<div class="dp-input ">
					<select class="co-select champ" required id="paysInput" name="cadre_info[country]" autofocus="true">
						<% unless @cadre.country.nil? %>
							<option value="<%= @cadre.country.id%>" selected hidden><%= @cadre.country.name%></option>
						<% end %>
						<option value="" selected hidden></option>
						<option value="France">France</option>
					</select>
				</div>
	        	<span class="input-error country-error"></span>

	        	<div class="dp-input "><%= f.select :region, options_for_select([]),{}, class:'co-select', disabled:false, required:true, id:'regionInput', title:'Région',autofocus:true, class:"champ"%></div>
	        	<span class="input-error region-error"></span>

	        	<div class="dp-input "><%= f.select :ville, options_for_select([]),{}, class:'co-select', disabled:false, required:true, id:'departmentInput', title:'Département',autofocus:true, class:"champ"%></div>
	       		<span class="input-error departement-error"></span>
	       		<div class="check">
	       			<div class="accepter-container"> <%= f.label :deplacement, "Accepter déplacement", class:"accepter" %> </div>
        			<%= f.check_box :deplacement, class:"checkbox" %>
        			<% if @cadre.deplacement %>
        				<select class="champ frequence" id="paysInput" title="Pays" autofocus="autofocus" prompt="Placeholder" name="cadre_info[frequency]">
		        				<% unless @cadre.disponibilite.nil? %>
										<option value="<%= @cadre.frequency %>" selected hidden><%= @cadre.frequency %></option>
										<% end %>
		        				<option value="Une à plusieurs fois par semaine">Une à plusieurs fois par semaine</option>
										<option value="une à plusieurs fois par mois">Une à plusieurs fois par mois</option>
										<option value="ponctuellement">Ponctuellement</option>
										<option value="aucun déplacement">Aucun déplacement</option>
						</select>
        			<% else %>
        				<%= f.select :frequency , options_for_select([["Une à plusieurs fois par semaine", "Une à plusieurs fois par semaine"],["Une à plusieurs fois par mois"],["Ponctuellement"],["Aucun déplacement"]]),{}, class:'co-select', id:'paysInput', title:'Pays',autofocus:true,prompt:"Placeholder",class:"champ frequence", style:"display: none;" %>
        			<% end %>

	       		</div>

			</div>
			<%= f.label :question3, "Quels sont les trois critères les plus importants pour vous dans le choix de votre prochain poste ?", class:"label-content" %>
			<%= f.text_area :question3, required:true, rows:3, class:"champs", maxLength: "500" %>

			<%= f.label :question4, "Quel est le minimum salarial FIXE en dessous duquel il n’est pas nécessaire de vous contacter ?", class:"label-content" %>
			<div class="slide">
				<%=f.range_field :question4, :min=>60, :max=>350,required:true, class:"intervalle", id:"slide" %><span id="value" class="value"></span>
			</div>

			<%= f.label :question5, "Parlez-nous de vous", class:"label-content" %>
			<%= f.text_area :question5, required:true, rows:3, class:"champs", maxLength: "500" %>

			<select class="btn-recherche" required="required" name="cadre_info[status]" id="cadre_info_status">
				<option value="" disabled selected>STATUT</option>
				<% unless @cadre.status.nil? %>
				<option value="<%= @cadre.status %>" selected hidden><%= @cadre.status %></option>
				<% end %>
				<option value="DISPONIBLE">DISPONIBLE</option>
				<option value="EN PÉRIODE D'ESSAI">EN PÉRIODE D'ESSAI</option>
				<option value="EN POSTE">EN POSTE</option>
			</select>

			<select class="btn-recherche btn-dispo" required="required" name="cadre_info[disponibilite]" value="" id="cadre_info_disponibilite">
				<option value="" disabled selected>DISPONIBILITÉ</option>
				<% unless @cadre.disponibilite.nil? %>
					<option value="<%= @cadre.disponibilite %>" selected hidden><%= @cadre.disponibilite %></option>
				<% end %>
				<option value="IMMÉDIATE">IMMÉDIATE</option>
				<option value="PRÉAVIS 1 MOIS">PRÉAVIS 1 MOIS</option>
				<option value="PRÉAVIS 3 MOIS">PRÉAVIS 3 MOIS</option>
				<option value="PRÉAVIS 3 À 6 MOIS">PRÉAVIS 3 À 6 MOIS</option>
				<option value="PRÉAVIS > 6 MOIS">PRÉAVIS > 6 MOIS</option>
			</select>
			<select class="btn-recherche" required="required" name="cadre_info[mobilite]" id="cadre_info_mobilite">
				<option value="" disabled selected>MOBILITÉ</option>
				<% unless @cadre.mobilite.nil? %>
					<option value="<%= @cadre.mobilite %>" selected hidden><%= @cadre.mobilite_name %></option>
				<% end %>
				<option value="0">PAS DE DÉPLACEMENT</option>
				<option value="1">REGIONALE</option>
				<option value="2">NATIONALE</option>
				<option value="3">INTERNATIONALE</option>
			</select>
			<div class="image-cv">
				<div id="import-cv">
					<div class="importe-cv"><img src="/image/importer_CV.png" alt="cv logo" width="45px" height="30px" class="cv-image">CV</div>
					<div class="cv">
						<%= f.label :cv, "IMPORTER CV", class:"cv-label"%>
						<%= f.file_field :cv, class:"cv-champs", accept:".doc,.docx,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document",required:'required' %>
					</div>
          <p class="nom_fichier">VOTRE FICHIER : <span id="cv-filename"></span></p>
				</div>
				<div class="pdp">
					<% unless @cadre.image.nil? %>
					<%= image_tag(@cadre.image, alt: 'photo de profil', id:'addImage', class:"add-image" )%> <br>
				<% else %>
					<img id="addImage" src="/image/profie.png" class="add-image">
				<% end %>
				<%= f.label :image, "IMPORTER UNE PHOTO", class:"add-image-label" %>
				<%= f.file_field :image, class:"image_add", accept:".jpg,.jpeg,.gif,.png,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document",required:'required' %>

				</div>
			</div>
			<div class="mes" style="margin-top: 20px; color: rgb(220,20,60);text-align: center;">
			</div>
      <div class="btn-apercu">
        <%= f.submit 'APERÇU', :class => 'apercu' %>
      </div>

	<% end %>
	<%= link_to "Modifier mot de passe", edit_cadre_registration_path, class:"btn-edit-password" %>
</div>

<script type="text/javascript">
	function shwoMyImage(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function(e) {
				$('#addImage').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}

	$("#cadre_info_image").change(function() {
		shwoMyImage(this);
	});

	$(".checkbox").click(function(){
		if ($(this).prop("checked") == true) {
			$(".frequence").show();
		}
		else{
			$(".frequence").hide();
		}
	})

	// $('.apercu').click(function(){
	// 	if ($('.cv-champs').val().length() <= 0 || $('.image_add').val() <= 0 ) {
	// 		$('.mes').html("*Verifier que vous ayez importer une photo ou votre cv");
	// 		return false;
	// 	}
	// 	else{
	// 		return true;
	// 	}
	// })
</script>

<script type="text/javascript" src="/js/edit_profil_cadre.js"></script>
<!-- call js  -->
<script data-turbolinks-track="reload" type="text/javascript" src="/js/jquery-ui.min.js"></script>
<!-- date picker jquery  -->
<script data-turbolinks-track="reload" type="text/javascript" src="/js/new.js"></script>
