<link rel="stylesheet" href="/css/edit_cadre_profil.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="main">
	<%= form_for @cadre , url: confirmedProfil_path do |f| %>
			<%= f.label :question1, "Que faites-vous actuellement et que recherchez-vous comme type de poste ?", class:"label-content" %>
			<%= f.text_area :question1, required:true, rows:3, class:"champs" %>

			<%= f.label :question2, "Où souhaitez-vous travailler et acceptez-vous les déplacements ?",class:"label-content" %>
			<div class="depl-content">
				<div class="dp-input hide-right"><%= f.select :question1 , options_for_select([["France", "France"]]),{}, class:'co-select', required:true, id:'paysInput', title:'Pays',autofocus:true, class:"champ"%></div>
	        	<span class="input-error country-error"></span>

	        	<div class="dp-input hide-right"><%= f.select :question1, options_for_select([]),{}, class:'co-select', disabled:false, required:true, id:'regionInput', title:'Région',autofocus:true, class:"champ"%></div>
	        	<span class="input-error region-error"></span>

	        	<div class="dp-input hide-right"><%= f.select :question1, options_for_select([]),{}, class:'co-select', disabled:false, required:true, id:'departmentInput', title:'Département',autofocus:true, class:"champ"%></div>
	       		<span class="input-error departement-error"></span>
	       		<div class="check">
	       			<div class="accepter-container"> <%= f.label "Accepter deplacement", class:"accepter" %> </div>
        			<%= f.check_box :question1, class:"checkbox" %>
	       			<%= f.select :question1 , options_for_select([["une à plusieurs fois par semaine", "Une à plusieurs fois par semaine"],["une à plusieurs fois par mois"],["ponctuellement"],["aucun déplacement"]]),{}, class:'co-select', required:true, id:'paysInput', title:'Pays',autofocus:true,prompt:"Placeholder",class:"champ frequence"%></div>

			</div>
			<%= f.label :question3, "Quels sont les trois critères les plus importants pour vous dans le choix de votre prochain poste ?", class:"label-content" %>
			<%= f.text_area :question3, required:true, rows:3, class:"champs" %>

			<%= f.label :question4, "Quel est le minimum salarial en dessous duquel il n’est pas nécessaire de vous contacter ?", class:"label-content" %>
			<div class="slide">
				<%=f.range_field :question4, :min=>60, :max=>350,required:true, class:"intervalle", id:"slide" %><span id="value" class="value"></span>
			</div>

			<%= f.label :question5, "Parlez-nous de vous ?", class:"label-content" %>
			<%= f.text_area :question5, required:true, rows:3, class:"champs" %>

			<select class="btn-recherche" required="required" name="cadre_info[status]" id="cadre_info_status">
				<option value="" disabled selected>STATUT</option>
				<% unless @cadre.status.nil? %>
				<option value="<%= @cadre.status %>" selected hidden><%= @cadre.status %></option>
				<% end %>
				<option value="DISPONIBLE">DISPONIBLE</option>
				<option value="EN PÉRIODE D'ESSAI">EN PÉRIODE D'ESSAI</option>
				<option value="EN POSTE">EN POSTE</option>
			</select>

			<select class="btn-recherche btn-dispo" required="required" name="cadre_info[disponibilite]" value="" id="cadre_info_disponibilite">
				<option value="" disabled selected>DISPONIBILITÉ</option>
				<% unless @cadre.disponibilite.nil? %>
					<option value="<%= @cadre.disponibilite %>" selected hidden><%= @cadre.disponibilite %></option>
				<% end %>
				<option value="IMMÉDIATE">IMMÉDIATE</option>
				<option value="PRÉAVIS 1 MOIS">PRÉAVIS 1 MOIS</option>
				<option value="PRÉAVIS 3 MOIS">PRÉAVIS 3 MOIS</option>
				<option value="PRÉAVIS 3 À 6 MOIS">PRÉAVIS 3 À 6 MOIS</option>
				<option value="PRÉAVIS > 6 MOIS">PRÉAVIS > 6 MOIS</option>
			</select>
			<select class="btn-recherche" required="required" name="cadre_info[mobilite]" id="cadre_info_mobilite">
				<option value="" disabled selected>MOBILITÉ</option>
				<% unless @cadre.mobilite.nil? %>
				<option value="<%= @cadre.mobilite %>" selected hidden><%= @cadre.mobilite %></option>
				<% end %>
				<option value="NATIONAL">NATIONALE</option>
				<option value="INTERNATIONAL">INTERNATIONALE</option>
				<option value="LOCALE">LOCALE</option>
				<option value="PAS DE DÉPLACEMENT">PAS DE DÉPLACEMENT</option>
			</select>
			<div class="image-cv">
				<div id="import-cv">
					<div class="importe-cv">CV</div>
					<div class="cv">
						<%= f.label :cv, "IMPORTER CV", class:"cv-label"%>
						<%= f.file_field :cv, class:"cv-champs", accept:".doc,.docx,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" %>
					</div>
          <p class="nom_fichier">VOTRE FICHIER : <span id="cv-filename"></span></p>
				</div>
				<div class="pdp">
					<% unless @cadre.image.nil? %>
					<%= image_tag(@cadre.image, alt: 'photo de profil', id:'addImage', class:"add-image" )%> <br>
				<% else %>
					<img id="addImage" src="/image/profie.png" class="add-image">
				<% end %>
				<%= f.label :image, "IMPORTER UNE PHOTO", class:"add-image-label" %>
				<%= f.file_field :image, class:"image_add", accept:".jpg,.jpeg,.gif,.png,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" %>

				</div>
			</div>
      <div class="btn-apercu">
        <%= f.submit 'APERÇU', :class => 'apercu' %>
      </div>

	<% end %>
</div>

<script type="text/javascript">
	function shwoMyImage(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function(e) {
				$('#addImage').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}

	$("#cadre_info_image").change(function() {
		shwoMyImage(this);
	});

	$(".frequence").hide();
	let here = false;
	$(".checkbox").click(function(){
		if (here != true) {
			$(".frequence").show();
			here = true;
		}
		else{
			$(".frequence").hide();
			here = false;	
		}
	})
</script>

<script type="text/javascript" src="/js/edit_profil_cadre.js"></script>
<!-- call js  -->
<script data-turbolinks-track="reload" type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- date picker jquery  -->
<script data-turbolinks-track="reload" type="text/javascript" src="/js/event_input_offre_job.js"></script>