<link rel="stylesheet" href="/css/edit_cadre_profil.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="main">
	<%= form_for @cadre , url: confirmedProfil_path do |f| %>
			<%= f.label :question1, "Que faites-vous actuellement et que recherchez-vous comme type de poste ?", class:"label-content" %>
			<%= f.text_area :question1, required:true, rows:3, class:"champs" %>

			<%= f.label :question2, "Où souhaitez-vous travailler et acceptez-vous les déplacements ?",class:"label-content" %>
			<%= f.text_area :question2, required:true, rows:3, class:"champs" %>

			<%= f.label :question3, "Quels sont les trois critères les plus importants pour vous dans le choix de votre prochain poste ?", class:"label-content" %>
			<%= f.text_area :question3, required:true, rows:3, class:"champs" %>

			<%= f.label :question4, "Quel est le minimum salarial en dessous duquel il n’est pas nécessaire de vous contacter ?", class:"label-content" %>
			<div class="slide">
				<%=f.range_field :question4, :min=>60, :max=>350,required:true, class:"intervalle", id:"slide" %><span id="value" class="value"></span>
			</div>


			<%= f.label :question5, "Parlez-nous de vous ?", class:"label-content" %>
			<%= f.text_area :question5, required:true, rows:3, class:"champs" %>


			<%= f.select(:status, ['STATUT',' EN POSTE',' EN RECHERCHE ACTIVE', 'SANS POSTE'], {}, { :class => 'btn-recherche' }) %>
			<div class="image-cv">
				<div id="import-cv">
					<div class="importe-cv">CV</div>
					<div class="cv">
						<%= f.label :cv, "IMPORTER CV", class:"cv-label"%>
						<%= f.file_field :cv, class:"cv-champs" %>
					</div>
          <p class="nom_fichier">VOTRE FICHIER : <span id="cv-filename"></span></p> 
				</div>
				<div class="pdp">
					<% unless @cadre.image.nil? %>
					<%= image_tag(@cadre.image, alt: 'photo de profil', id:'addImage', class:"add-image" )%> <br>
				<% else %>
					<img id="addImage" src="/image/profie.png" class="add-image">
				<% end %>
				<%= f.label :image, "IMPORTER UNE PHOTO", class:"add-image-label" %>
				<%= f.file_field :image, class:"image_add" %>
				</div>
			</div>
      <div class="btn-apercu">
        <%= f.submit 'APERÇU', :class => 'apercu' %>
      </div>

	<% end %>
</div>

<script type="text/javascript">
	function shwoMyImage(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function(e) {
				$('#addImage').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}

	$("#cadre_info_image").change(function() {
		shwoMyImage(this);
	});
</script>

<script type="text/javascript" src="/js/edit_profil_cadre.js"></script>
