<link rel="stylesheet" type="text/css" href="/css/favorite_job_cadre.css">

<div class="all-content">
	<div class="content">
	<div class="left_link">
		<%= render partial: "candidates/left_link_bar" %>
	</div>

	<div class="main">
		<h2 class="favorite-offre-title">Mes offres favoris</h2>
		<div id="list-resultats" class="post-info">
		<% unless @offres.empty? %>
			<% @offres.each do |offre| %>
				<div class="post_info_content">
					<div class="logo">
						<% unless offre.image.nil? %>
							<%= image_tag(offre.image, alt: 'logo entreprise', width:"250px")%>
						<% end %>
					</div>
					<div class="job_info">
						<h2 class="job_info_title"><%= offre.intitule_pote %></h2>
						<p><img src="/image/map.png" alt="logo oiam favorie" width="16px" height="22px" class="indic"><%= offre.client.entreprise.postal_code %>, <%= offre.client.entreprise.city %>, France</p>
						<p><img src="/image/description.png" alt="logo oiam favorie" width="16px" height="22px" class="indic"><%= offre.contrat_cdi ? "CDI" : "CDD" %> <br><img src="/image/gg_time.png" alt="logo oiam favorie" width="25px" height="25px" class="indic"><span></span><%= offre.date_poste%></span> </p>
						<p class="description"><%= offre.descriptif_mission.gsub('[sp]', ' &#160; ').gsub('[nl]', ' <br />').html_safe %></p>
					</div>
					<div class="action">
						<%= link_to "Voir L'offre", showSearchJob_path(offre.id),class:"btn-voir" %>
					</div>
				</div>
			<% end %>
		<% else %>
			<p class="alert success" >
				Pour ajouter des offres d'emploi au favoris cliquez sur le bouton : <img src="/image/Vector-22.png" alt="logo oiam non favorie" width="30px" height="30px"> <br>
				Pour retirer cliquez sur le bouton : <img src="/image/Vector-24.png" alt="logo oiam non favorie" width="30px" height="30px">
			</p>
		<% end %>
		</div>
	</div>
	</div>
</div>


<script>
$(function () {
    var maxL = 50;
    $('.description').each(function (i, div) {

        var text = $(div).text();
        if(text.length > maxL) {

            var begin = text.substr(0, maxL),
                end = text.substr(maxL);

            $(this).html(begin)
                .append($('<a class="readmore"/>').attr('href', '').html('...'));
                .append($('<div class="hidden" />').html(end));
        }
    });
    $(document).on('click', '.readmore', function () {
        $(this).next('.hidden').slideDown(750);
    })
})
</script>
