<link rel="stylesheet" type="text/css" href="/css/my_messages.css" />
<div class="all-content">
  <div class="left-content"><%= render partial: "candidates/left_link_bar" %></div>

  <div class="main">
    <h2 class="main-title">CHATS</h2>
    <% @contactListes.each do |contact| %> <% nbr = contact.mp_cadre_not_see %>
    <a href="<%= show_my_messages_cadre_path(contact.client.id) %>" class="btn-voir <% if nbr == 0 %>color<% end %>">
    <div class="message">
      <div class="block-image">
        <% if contact.client.image.nil? %>
          <img src="/image/profie.png" class="pdp" alt='photo de profil'>
        <% else %>
          <%= image_tag(contact.client.image, alt: 'photo de profil', class:"pdp" )%>
        <% end %>
        <% if contact.client.is_online? %>
          
          <span class="connected"></span>
        <% end %>
        </div>
      <div class="message-content">
        <div class="recruteur-name"><%= contact.client.first_name %> <%= contact.client.last_name %></div>
        <div class="message-body">
          <% unless nbr == 0 %>
            <span class="alert-info"><%= nbr %></span>
          <% end %>
          <% unless contact.message_client_cadres.last.is_client %>vous : <%end%> <%= contact.message_client_cadres.last.content %>
        </div>
      </div>
      <div class="connected-times">
          <% unless contact.client.is_online? %>
            <span class="not-connected">Connectée il y a <%= time_ago_in_words(contact.client.online_time) %></span>
          <% end %>
        </div>
    </div>
    </a>
    <% end %>
  </div>
</div>
