<link rel="stylesheet" type="text/css" href="/css/my_messages.css">
<style type="text/css">
	.connected{
		color: green;
	}
	.not-connected{
		color: red;
	}
</style>

<div class="row">
	<div class="col-sm-3">
		<%= render partial: "candidates/left_link_bar" %>
	</div>

	<div class="col-sm-9">
		<h2>Liste de mes contacts</h2>
		<% @contactListes.each do |contact| %>
			<% nbr = contact.mp_cadre_not_see %>
			<div>
				<a href="<%= show_my_messages_cadre_path(contact.client.id) %>">
				<%= contact.client.first_name %> <%= contact.client.last_name %>
				<div class="block-image">
					<%= image_tag(contact.client.image, alt: 'photo de profil', class:"pdp" )%>
				</div>
				</a>
				<% unless nbr == 0 %>
					<span class="alert-info"><%= nbr %></span>
				<% end %>
				<% if contact.client.is_online? %>
					<span class="connected">connectée</span>
				<% else %>
					<span class="not-connected">connectée il y a <%= time_ago_in_words(contact.client.online_time) %></span>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
