<link rel="stylesheet" type="text/css" href="/css/candidat_my_profil.css" />
<div class="content">
	<div class="left_link">
		<%= render partial: "candidates/left_link_bar" %>
	</div>
	<div class="main">
		<div class="block-left">
			<div class="block-image">
				<% unless @cadre.image.nil? %>
					<%= image_tag(@cadre.image, alt: 'photo de profil', width:"150px", class:"pdp" )%> <br>
				<% end %>
			</div>
			<div class="user_name"><%= @cadre.last_name %> <%= @cadre.first_name %> <br></div>
			<p>Score du test : <span>1005</span></p>
			<p>Type de post :<br> <span>Manager marketing</span></p>
			<p>Statut :<br> <span><%= @cadre.status %></span></p>
			<p>Disponibilité :<br> <span><%= @cadre.disponibilite %></span></p>
			<p>Mobilité :<br> <span><%= @cadre.mobilite %></span></p>
			<p>Salaire : <span><%= @cadre.question4 %>k€</span></p>
		</div>
		<div class="block-right">
			<div class="questionnaire">
				<h2 class="questionnaire-title">Que faites-vous actuellement et que recherchez-vous comme type de poste ?</h2>
				<p><%= @cadre.question1 %></p>
			</div>
			<div class="questionnaire">
				<h2 class="questionnaire-title">Où souhaitez-vous travailler et acceptez-vous les déplacements ?</h2>
				<p><%= @cadre.question2 %></p>
			</div>
			<div class="questionnaire">
				<h2 class="questionnaire-title">Quels sont les trois critères les plus importants pour vous dans le choix de votre prochain poste ?</h2>
				<p><%= @cadre.question3 %></p>
			</div>
			<div class="questionnaire">
				<h2 class="questionnaire-title">Quel est le minimum salarial en dessous duquel il n’est pas nécessaire de vous contacter ?</h2>
				<p><%= @cadre.question4 %> k€</p>
			</div>
			<div class="questionnaire">
				<h2 class="questionnaire-title">Parlez-nous de vous</h2>
				<p><%= @cadre.question5 %></p>
			</div>
			<div class="block-button">
				<%= link_to "MODIFIER", edit_profil_path, class:"btn-edit" %>
				<%= link_to "VALIDER", searchJob_path ,class:"btn-edit"%>
			</div>
		</div>
	</div>
</div>
