<link rel="stylesheet" type="text/css" href="/css/candidat_my_profil.css" />

<div class="content">
	<div class="left_link">
		<%= render partial: "candidates/left_link_bar" %>
	</div>
	<div class="main">
			<div class="block-left">
				<div class="block-image">
					<% unless @cadre.image.nil? %>
						<%= image_tag(@cadre.image, alt: 'photo de profil', width:"150px", class:"pdp" )%> <br>
					<% end %>
				</div>
				<div class="user_name"><%= @cadre.first_name %> <%= @cadre.last_name %> <br></div>
				<p>Score du test : <span>1005</span></p>
				<p>Type de poste :<br> <span style="text-transform:uppercase;">
				<% if @cadre.metier.nil? %>
					Manager marketing
				<% else %>
					<%= @cadre.metier.name %>
				<% end %>
				</span><br>
				Profession :<br> <span style="text-transform:uppercase;">
					<%= @cadre.job %>
				</span>
			</p>
				<p>Statut :<br> <span><%= @cadre.status %></span></p>
				<p>Disponibilité :<br> <span><%= @cadre.disponibilite %></span></p>
				<p>Mobilité :<br> <span><%= @cadre.mobilite %></span></p>
				<p>Salaire : <span><%= @cadre.question4 %>k€</span></p>
			</div>
		<div class="block-right">
			<div class="block-right-content">
				<div class="questionnaire">
					<h2 class="questionnaire-title">Que faites-vous actuellement et que recherchez-vous comme type de poste ?</h2>
					<p><%= @cadre.question1 %></p>
				</div>
				<div class="questionnaire">
					<h2 class="questionnaire-title">Où souhaitez-vous travailler et acceptez-vous les déplacements ?</h2>
					<p>
						<% unless @cadre.country.nil? %>
							Pays: <%= @cadre.country.name %> <br>
						<% end %>

						<% unless @cadre.region.nil? %>
							Région: <%= @cadre.region.name %> <br>
						<% end %>

						<% unless @cadre.ville.nil? %>
							Ville: <%= @cadre.ville.name %> <br>
						<% end %>


						<% if @cadre.deplacement %>
							Fréquence de déplacement: <%=  @cadre.frequency %>
						<% else %>
							Pas de déplacement.
						<% end %>
					</p>
				</div>
				<div class="questionnaire">
					<h2 class="questionnaire-title">Quels sont les trois critères les plus importants pour vous dans le choix de votre prochain poste ?</h2>
					<p><%= @cadre.question3 %></p>
				</div>
				<div class="questionnaire">
					<h2 class="questionnaire-title">Quel est le minimum salarial FIXE en dessous duquel il n’est pas nécessaire de vous contacter ?</h2>
					<p><%= @cadre.question4 %> k€</p>
				</div>
				<div class="questionnaire">
					<h2 class="questionnaire-title">Parlez-nous de vous</h2>
					<p><%= @cadre.question5 %></p>
				</div>
			</div>
			<div class="block-button" id="js-body-element">
				<%= link_to "MODIFIER", edit_profil_path, class:"btn-edit btn-modif" %>
				<% if @cadre.is_validate %>
					<div class="offre-perso">
						<%= link_to "VOIR NOTRE SELECTION PERSONNALISÉE", jobsPersonalized_path ,class:"btn-edit btn-dispo"%>
						<%= link_to "VOIR LES OPPORTUNITÉS DISPONIBLES", searchJob_path ,class:"btn-edit btn-dispo"%>
					</div>
				<% else %>
					<%= link_to "VALIDER", validate_profil_path(id:current_cadre.id), method: :post, remote: true, id:'send-validation', class:'btn-edit' %>

					<script type="text/javascript">
						$('#send-validation').bind('ajax:beforeSend', function() {
							$('#send-validation').hide();
						});

						$('#send-validation').bind('ajax:complete', function() {
							$("#send-validation").replaceWith($("#js-clone-element").clone());
							$('#js-show-in-validate-profil').show();
						});
					</script>

				<% end %>
			</div>
		</div>
	</div>
	<div class="validate-profil">
		<div id="js-show-in-validate-profil" style="display: none;">
				<center><h4>Votre profil est complet</h4></center>
				<img src="/image/check.png" class="check" width="25px">
				<div id="js-clone-element">
				<%= link_to "VOIR NOTRE SELECTION PERSONNALISÉE", jobsPersonalized_path ,class:"btn-edit btn-dispo"%>
				<br>
				<%= link_to "VOIR LES OPPORTUNITÉS DISPONIBLES", searchJob_path ,class:"btn-edit btn-dispo"%>
				</div>
	</div>
	</div>
</div>


<script type="text/javascript">
	$('#send-validation').click(function(){
		$('.main').hide();
		$('#js-show-in-validate-profil').show();
	})
</script>
