<link rel="stylesheet" type="text/css" href="/css/notification_cadre.css">


<div class="all-content">
	<div class="left-link">
		<%= render partial: "candidates/left_link_bar" %>
	</div>
	<div class="right-link">
		<h5 class="titles">NOTIFICATIONS</h5>
	      <% unless @notifications.empty?%>
			  <% @notifications.each do |noficication| %>

			  <% next if noficication.offre_job.nil? %>
					<a href="<%= noficication.link %>" class="btn-voir">
	      		<div class="notif-container" role="alert">
		      		<% if noficication.view %>
									<div class="notif-info no-col">
										<div class="notif-image">
											<img src="<%= noficication.offre_job.image %>" class="pdp">
										</div>
										<div class="notif-info-content notif-see">
											<h4 class="alert-heading"><%= noficication.object %></h4>
											<p class="notif-mes"><%= noficication.message %></p>
										</div>
										<div class="mb-0 notif-see">
											<span data-times="<%= noficication.created_at.strftime("%Y-%m-%d %H:%M") %>" class="currentDateEntretien"></span>
										</div>
									</div>
		      		<% else %>
							<div class="notif-info">
								<div class="notif-image">
									<img src="<%= noficication.offre_job.image %>" class="pdp">
								</div>
								<div class="notif-info-content">
									<h4 class="alert-heading"><%= noficication.object %></h4>
									<p class="notif-mes"><%= noficication.message %></p>
								</div>
								<div class="mb-0">
									<span data-times="<%= noficication.created_at.strftime("%Y-%m-%d %H:%M") %>" class="currentDateEntretien"></span>
								</div>
							</div>
		      		<% end %>

				</div>
				</a>
	      	<% end %>
	      <% else %>
	      	Aucune notification
	      <% end %>
	</div>
</div>

<script type="text/javascript">
	if (document.URL.indexOf('#') == -1) {
      url = document.URL + '#';
      location = '#';
      location.reload(true);
    }
</script>

<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>

<script type="text/javascript">
  var month = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
  var day = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
  let $elementDate = $('.currentDateEntretien');

  $elementDate.each(function () {
    let dateUTC = moment.utc($(this).data().times);
    let dateGet = new Date(dateUTC.local());
    let dateString = day[dateGet.getDay()] + ' ' + dateGet.getDate() + ' ' + month[dateGet.getMonth()] + ' ' + dateGet.getFullYear();
    $(this).html(dateString + ' à ' + dateGet.getHours() + 'h:'+ dateGet.getMinutes());
  });
</script>
