<link rel="stylesheet" type="text/css" href="/css/recrutement.css" />

<div class="content">
	<div class="left_link">
		<%= render partial: "candidates/left_link_bar" %>
	</div>

	<div class="main">
		<h1 class="main-title">SUIVI DE RECRUTEMENT</h1>
		<% if @oFcs.empty? %>
		<div class="recrutement-content">
			<div class="recrutement">
				<center><h4>Vous n'avez aucun recrutement en cours pour l'instant.</h4></center>
				<div class="offre-perso">
					<%= link_to "TROUVER UNE OFFRE", searchJob_path, class:"btn-edit" %>
				</div>
			</div>
		</div>

		<% else %>

			<div class="container-flex">

			<% @oFcs.each do |oFc| %>
				<%= link_to show_recrutment_monitoring_path(oFc.id), class:'etape' do %>
				<% offre_job = oFc.offre_job %>
				<div class="offre-items">
					<div class="job-info">
						<center>
							<%= image_tag(offre_job.image, alt: 'photo de job', class:'photo_ako')%>
							<br>
							<h2 class="job-name"><%= offre_job.client.entreprise.name %></h2>
							<h3 class="post-title"><span>Poste: </span> <span class=><%= offre_job.intitule_pote %></span></h3>
						</center>
					</div>

					<% if oFc.accepted_postule == true %>
						<% if oFc.etapes == 0 %>
							Vous êtes selectioner parmi les 5 candidats favoris pour ce poste.
						<% elsif oFc.etapes == 1 || oFc.status == "refused"%>
							<% if oFc.status == "refused" %>
								<div class="refused">
									<img src="/image/unvalid.png" width="35px" height="35px" class="refused-image">
									<center><span class="candidature">Candidature réfusée</span></center>
								</div>
							<% else %>

									<div class="etape1">
									</div>

							<% end %>
						<% elsif oFc.etapes == 2 %>

								<div class="etape3"></div>
						<% else %>
							<% if oFc.etapes == 2 && oFc.etapes == oFc.offre_job.numberEntretien + 1 %>
								<div class="etape3"></div>
							<% elsif (oFc.etapes == oFc.offre_job.numberEntretien + 1)%>

								<div class="etape3"></div>

							<% elsif (oFc.etapes < oFc.offre_job.numberEntretien + 1) %>

								<div class="etape4"></div>

							<% end %>
						<% end %>

					<% elsif oFc.accepted_postule == false  %>

						<%= link_to showSearchJob_path(oFc.offre_job.id), class:'btn btn-success' do %>
							<div class="refused">
								<center>
									Demande d'entretien envoyer <br>
									<img src="/image/unvalid.png" width="35px" height="35px" class="refused-image">
									<span class="candidature">Le recruteur a refusé votre candidature</span>
								</center>
							</div>
						<% end %>
					<% else %>
						<%= link_to showSearchJob_path(oFc.offre_job.id), class:'etapes1' do %>
						<div class="refused">
							<center>
								Demande d'entretien envoyer <br>
								<% if oFc.repons_postule==false %>
									<img src="/image/unvalid.png" width="35px" height="35px" class="refused-image">
									<span class="candidature">Demande refusée</span>
								<% else %>
									<span class="candidature">En attente de réponse</span>
								<% end %>
							</center>
						</div>
						<% end %>

					<% end %>
				</div>
				<% end %>
			<% end %> <!-- fin each -->

			</div> <!-- fin container-flex -->

		<% end %> <!-- fin if else principal -->

	</div>
</div>
