<style type="text/css">
	.container-flex{
		display: flex;
	}
	.offre-items{
		border: 2px solid red;
		padding: 10px;
		margin: 5px;
	}
	.photo_ako{
		width: 200px;
		height: 250px;
		border-radius: 40%;
	}
</style>

<div class="row">
	<div class="col-sm-3">
		<%= render partial: "candidates/left_link_bar" %>
	</div>

	<div class="col-sm-9">
		
		<% if @oFcs.empty? %>
			<i>Vous n'avez aucun recrutement en cours pour l'instants.</i>
		<% else %>
			<div class="container-flex">
			<% @oFcs.each do |oFc| %>
				<% offre_job = oFc.offre_job %>
				<div class="offre-items">
					<hr>
					<div>
						<center>

							<%= image_tag(offre_job.image, alt: 'photo de job', class:'photo_ako')%>

							<br>

							<h2><%= offre_job.client.entreprise.name %></h2>

							<h3>poste: <%= offre_job.intitule_pote %></h3>

						</center>
					</div>

					<% if oFc.accepted_postule == true %>
						<%= link_to show_recrutment_monitoring_path(oFc.offre_job.id), class:'btn btn-success' do %>

							Vous êtes à l'étape n° : <%= oFc.etapes %> <br>
							Nombre d'étape totale : <%= oFc.offre_job.numberEntretien + 1 %>

						<% end %>

					<% elsif oFc.accepted_postule == false  %>
						<center>
							Demande d'entretien envoyer <br>
							<span class="btn-info">Le recruteur a refusé votre candidature</span>
						</center>
					<% else %>
						<center>
							Demande d'entretien envoyer <br>
							<span class="btn-info"> En attente</span>
						</center>
					<% end %>


					<hr>
				</div>
			<% end %>
			</div>
		<% end %>

	</div>
</div>

