<% content_for :head_style do %>
	<link rel="stylesheet" type="text/css" href="/css/search_job_cadre.css">
<% end %>

<div class="all-content">
	<div class="content">
	<div class="left_link">
		<%= render partial: "candidates/left_link_bar" %>
	</div>
	<div class="main">
		<div class="seach-bar">
			<select name="dropdown" id="" class="seacrh-drop">
				<option value="Localisation" disabled selected>Localisation</option>
			    <option value="Auvergne-Rhône-Alpes">Auvergne-Rhône-Alpes</option>
			    <option value="Bourgogne-Franche-Comté">Bourgogne-Franche-Comté</option>
			    <option value="Bretagne">Bretagne</option>
			    <option value="Centre-Val de Loire">Centre-Val de Loire</option>
			    <option value="Corse">Corse</option>
			    <option value="Grand Est">Grand Est</option>
			    <option value="Hauts-de-France">Hauts-de-France</option>
			    <option value="Île-de-France">Île-de-France</option>
			    <option value="Normandie">Normandie</option>
			    <option value="Nouvelle-Aquitaine">Nouvelle-Aquitaine</option>
			    <option value="Occitanie">Occitanie</option>
			    <option value="Pays de la Loire">Pays de la Loire</option>
			    <option value="Provence-Alpes-Côte d'Azur">Provence-Alpes-Côte d'Azur</option>
			</select>
			<select name="dropdown" id="" class="seacrh-drop">
				<option value="" disabled selected>Fonction</option>
				<% @metiers.each do |metier| %>
                  <option value="<%= metier.id %>"><%= metier.name %></option>
                <% end %>
			</select>
			<select name="dropdown" id="" class="seacrh-drop">
				<option value="" disabled selected>Rémunération</option>
                <option value="60 k€">60 k€</option>
                <option value="70 k€">70 k€</option>
                <option value="80 k€">80 k€</option>
                <option value="90 k€">90 k€</option>
                <option value="100 k€">100 k€</option>
                <option value="110 k€">110 k€</option>
                <option value="120 k€">120 k€</option>
                <option value="130 k€">130 k€</option>
                <option value="140 k€">140 k€</option>
                <option value="150 k€">150 k€</option>
                <option value="160 k€">160 k€</option>
                <option value="170 k€">170 k€</option>
                <option value="180 k€">180 k€</option>
                <option value="190 k€">190 k€</option>
                <option value="200 k€">200 k€</option>
                <option value="210 k€">210 k€</option>
                <option value="220 k€">220 k€</option>
                <option value="230 k€">230 k€</option>
                <option value="240 k€">240 k€</option>
                <option value="250 k€">250 k€</option>
                <option value="260 k€">260 k€</option>
                <option value="270 k€">270 k€</option>
                <option value="280 k€">280 k€</option>
                <option value="290 k€">290 k€</option>
                <option value="300 k€">300 k€</option>
                <option value="310 k€">310 k€</option>
                <option value="320 k€">320 k€</option>
                <option value="330 k€">330 k€</option>
                <option value="340 k€">340 k€</option>
                <option value="350 k€">350 k€</option>
			</select>
			<select name="dropdown" id="" class="seacrh-drop">
				<option value="" disabled selected>Déplacement</option>
				<option value="">Régional</option>
				<option value="">National</option>
				<option value="">International</option>
				<option value="">Pas de déplacement</option>
			</select>
			<button class="btn-recherche">RECHERCHER</button>
		</div>
		<div class="post_info">
			<% unless @offres.empty? %>
				<% @offres.each do |offre| %>
				<div class="post_info_content">
					<div class="logo">
						<% unless offre.image.nil? %>
							<%= image_tag(offre.image, alt: 'logo entreprise', width:"250px")%>
						<% end %>
					</div>
					<div class="job_info">
						<h2 class="job_info_title"><%= offre.intitule_pote %></h2>
						<p><img src="/image/map.png" alt="logo oiam favorie" width="16px" height="22px" class="indic"><%= offre.client.entreprise.postal_code %>, <%= offre.client.entreprise.city %></p>
						<p><img src="/image/description.png" alt="logo oiam favorie" width="16px" height="22px" class="indic"><%= offre.contrat_cdi ? "CDI" : "CDD" %> <br><img src="/image/gg_time.png" alt="logo oiam favorie" width="25px" height="25px" class="indic"><span></span><%= offre.date_poste%></span> </p>
						<p class="description"><%= offre.descriptif_mission %></p>
					</div>
					<div class="action">
						<% if offre.is_in_my_favorite(current_cadre).nil? %>
						<div id="image-<%=offre.id%>-logo-link">
							<%= link_to addToFavoriteJob_path(id:offre.id), method: :post, remote: true do %>
							<div class="add-favorite">
								<img src="/image/Vector-22.png" alt="logo oiam non favorie" width="30px" style="background-color: #b7bdc3ed;">
								<% end %>
							</div>
						</div>

						<% else %>
						<div id="image-<%=offre.id%>-logo-link">
							<%= link_to removeToFavoriteJob_path(id:offre.id), method: :delete, remote: true do %>
									<img src="/image/Vector-24.png" alt="logo oiam favorie" width="30px">
									<% end %>
						</div>

						<% end %>
						<%= link_to "Voir L'offre", showSearchJob_path(offre.id),class:"btn-voir" %>
					</div>
				</div>
				<% end %>

			<% else %>
			<p class="alert success" >Les nouvelles offres d'emploi seront disponibles très prochainement!</p>
			<% end %>
		</div>
	</div>
</div>
<div class="no-flex"></div>
</div>

<script>
$(function () {
    var maxL = 50;
    $('.description').each(function (i, div) {

        var text = $(div).text();
        if(text.length > maxL) {

            var begin = text.substr(0, maxL),
                end = text.substr(maxL);

            $(this).html(begin)
                .append($('<a class="readmore"/>').attr('href', '').html('...'))
                .append($('<div class="hidden" />').html(end));
        }
    });
    $(document).on('click', '.readmore', function () {
        $(this).next('.hidden').slideDown(750);
    })
})
</script>
