<link rel="stylesheet" type="text/css" href="/css/show_my_messages.css">
<div class="content">
	<div class="left-link">
		<%= render partial: "candidates/left_link_bar" %>
	</div>
	<div class="main-content">
		<h1 class="main-title">CHAT</h1>
		<div class="main-container">
			<span hidden id="Profilher" data-image="<%= @img%>"></span>
			<h2 class="sender-name"><%= @client.first_name %> <%= @client.last_name %> </h2>
			<div class="boit-reception" id="js-add-new-message">
				<% @messages.each do |message| %>
				<div class="<% if message.is_client %>her-message<% else %>my-message<% end %>" data-store-id="<%= message.id %>">
					<% if message.is_client %>
						<div id="image" class="pdp-c" style="background: url(<% if @img %> <%=@img%><% else %> /image/profie.png <% end %>) center no-repeat; background-size: cover">
						</div>
					<% end %>
					<%= message.content %>
				</div>
				<div class="clear"></div>
				<% end %>
			</div>
			<div class="form">
				<%= form_tag(post_my_message_cadre_path, id:"form-promo-code", 'data-path':getCadreLastMessage_path(client_id:@client.id,contact_id:@contact.id),  remote: true) do %>
				<input type="hidden" name="message_client_cadre[client_id]" value="<%=@client.id%>" id="is_client_session" data-client="false">
				<input type="hidden" name="message_client_cadre[contact_id]" value="<%=@contact.id%>">
				<span class="form-group" id="textareas">
					<input class="form-control" name="message_client_cadre[content]" id="message_client_cadre_content" placeholder="Ecrire un message..." autocomplete="off" ></input>
				</span>
				<span class="form-group">
					<%= submit_tag("", :class=>"send") %>
				</span>
			<% end %>
			</div>
		</div>
	</div>
</div>
<script>
	if (document.URL.indexOf('#') == -1) {
		// Set the URL to whatever it was plus "#".
		url = document.URL + '#';
		location = '#';
		//Reload the page
		location.reload(true);
	  }
	   //scroll bottom
	var container = document.querySelector('#js-add-new-message');
	container.scrollTop = container.scrollHeight;
</script>

<script type="text/javascript" src="/js/synchrone_message.js"></script>
