<link rel="stylesheet" type="text/css" href="/css/showRecrutementCandidat.css">
<div class="content">
	<div class="left_linl">
		<%= render partial: "candidates/left_link_bar" %>
	</div>

	<div class="main">
		<div class="job-info">
			<%= link_to showSearchJob_path(@offreJob.id), class:'job-info-link' do %>
				<%= image_tag(@offreJob.image, alt: 'photo de profil', class:"pdp_mandona" )%>
				<br>
				<h3>Poste : <%= @offreJob.intitule_pote %></h3>
			<% end %>
		</div>
		<%nombreEntretien = @offreJob.numberEntretien + 1%>
		<div class="container-flex <% if (nombreEntretien == 2) && (@oFc.etapes < 2) %> entretien1 <% elsif (nombreEntretien == 2) && (@oFc.etapes == nombreEntretien) %>  promesse1 <% elsif (nombreEntretien == 3) && (@oFc.etapes == 1)%> etapes1 <% elsif (nombreEntretien == 3) && (@oFc.etapes == 2)%> etapes2 <% elsif (nombreEntretien == 3) && (@oFc.etapes == nombreEntretien)%> etapes3 <% elsif (nombreEntretien == 4) && (@oFc.etapes == 1)%> last-etapes1 <% elsif (nombreEntretien == 4) && (@oFc.etapes == 2)%> last-etapes2 <% elsif (nombreEntretien == 4) && (@oFc.etapes == 3)%> last-etapes3 <% elsif (nombreEntretien == 4) && (@oFc.etapes == 4)%> last-etape <%end%>">
			<% etape = 0 %>
			<% @offreJob.numberEntretien.times do |i| %>
				<% etape += 1 %>
				<% if i == 0 %>
					<div class="etape1">
						<div class="list-etapes">1er entretien <span class="badge-success"><%= etape %></span></div>	
					</div>
				<% elsif i <= 2 %>
					<div class="etape1">
						<div class="list-etapes"><%= i+1 %>e entretien <span class="badge-success"><%= etape %></span></div>	
					</div>
				<% elsif @oFc.etapes == 2 &&  @oFc.etapes < nombreEntretien%>
					<div class="etape1">
						<div class="list-etapes"><%= i+1 %>e entretien <span class="badge-success"><%= etape %></span></div>	
					</div>
				<% else %>
					<div class="list-etapes"><%= i+1 %>e entretien <span class="badge-wait"><%= etape %></span></div>
				<% end %>
			<% end %>
			<div class="list-etapes">
				<% if (@oFc.etapes == nombreEntretien) %>
					<div class="list-etapes">
						<span class="text">Promesse d'embauche</span><span class="badge-success"><%= etape + 1 %></span>
					</div>
				<% else%>
					<span class="text">Promesse d'embauche</span><span class="badge-wait"><%= etape + 1 %></span>
				<% end %>
			</div>
		</div>

<br><br> <br>

		<div class="btn-info">
			Vous êtes à l'etape : 
			<strong><%= @oFc.etapes %>/<%= @offreJob.numberEntretien + 1 %></strong>
		</div>

	</div>

</div>