<link rel="stylesheet" href="/css/show_seach_job.css" />

<div class="content">
  <div class="left-link"><%= render partial: "candidates/left_link_bar" %></div>

  <div class="block-right" id="publish-ajax-hid">
    <div class="post-title">
      <div class="post-logo"><% unless @offre.image.nil? %> <%= image_tag(@offre.image, alt: 'photo de profil', class:'photo_ako')%> <% end %></div>

      <div class="post-info">
        <p><%= @offre.intitule_pote %></p>

        <p><img src="/image/map.png" alt="" class="map" /><%= @offre.department %></p>

        <% if @offre.contrat_cdi %>
        <p>Contrat CDI</p>
        <% else %>
        <p>Contrat CDD</p>
        <% end %>
      </div>
    </div>
    <div class="trait"></div>

    <div class="description-title">
      <h3>DESCRIPTIF DES MISSIONS</h3>
      <p><%= @offre.descriptif_mission.gsub('[sp]', ' &#160; ').gsub('[nl]', ' <br />').html_safe %></p>
    </div>
    <div class="description-title">
      <h3>POURQUOI TRAVAILLER CHEZ EUX ?</h3>
      <p><%= @offre.question2 %></p>
    </div>
    <div class="description-title">
      <h3>RATTACHEMENT HIÉRARCHIQUE</h3>
      <p><%= @offre.rattachement %></p>
    </div>
    <div class="description-title">
      <h3>RÉMUNÉRATION (K€ BRUTS ANNUELS)</h3>
      <p>
        Fixe: <%= @offre.remuneration.to_i %>k€ <br />
        Variable: <%= @offre.remuneration_anne.to_i %>k€
      </p>
    </div>
    <div class="description-title">
      <h3>DÉPLACEMENTS</h3>
      <p><%= @offre.type_deplacement_name %></p>
    </div>
    <div class="description-title">
      <h3>PROCESSUS RH</h3>
      <p>
        <% case @offre.numberEntretien.to_i %>
          <% when 1 %>
        1 entretien RH
          <% when 2 %>
        1 entretien RH + 1 entretien manager
          <% when 3 %>
        1 entretien RH + 2 entretien manager
        <% end %>
      </p>
    </div>
    <div class="description-title">
      <h3>CONTEXTE D'OUVERTURE DE CE POSTE</h3>
      <p><%= @offre.question5 %></p>
    </div>

    <div class="description-title">
      <h3>DATE DE PRISE DE POSTE</h3>
      <p><%= @offre.date_poste %></p>
    </div>

    <% if @ofc.nil? %>
    <div id="link-to-send-post"><%= link_to "POSTULER", apply_for_job_path(id:@offre.id), method: :post, remote: true, id:'send-candidature', class:'btn btn-primary' %></div>
    <div id="modal-ajax-bull" style="display: none; background-color: #e3b465" class="modal">
      Votre demande d'entretien a été envoyée <br />
      <p><img src="/image/check.png" width="10px" alt="check" /></p>
    </div>
    <% else %> <% if @ofc.accepted_postule == true %> <% if @agendat_client.nil? %>
    <span class="btn btn-primare width-extend"> Vous êtes selectioner parmi les 5 candidats favoris pour ce poste. </span>
    <% else %> <%= link_to "MON SUIVI RECRUTEMENT", show_recrutment_monitoring_path(@ofc.id), class:'btn-suivi' %> <% end %> <% elsif @ofc.accepted_postule == false %>
    <div>
      <span class="btn btn-primare">Le recruteur à réfuser votre candidature</span>
    </div>
    <% else %>
    <div>
      <span class="btn btn-primare">DEMANDE D'ENTRETIEN ENVOYÉE</span>
    </div>
    <% end %> <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#send-candidature').bind('ajax:beforeSend', function () {
    $('#modal-ajax-bull').show();
  });

  $('#send-candidature').bind('ajax:complete', function () {
    $('#link-to-send-post').html('<span class="btn-suivi">VOUS AVEZ POSTULÉ À CETTE OFFRE</span>');
  });
</script>
