<link rel="stylesheet" href="/css/show_seach_job.css">
<div class="content">
	<div class="left-link">
		<%= render partial: "candidates/left_link_bar" %>
	</div>

	<div class="block-right" id="publish-ajax-hid">
		<div class="post-title">
			<div class="post-logo">
				<% unless @offre.image.nil? %>
					<%= image_tag(@offre.image, alt: 'photo de profil', class:'photo_ako')%>
				<% end %>
			</div>

			<div class="post-info">
				<p><%= @offre.intitule_pote %></p>

				<p><img src="/image/map.png" alt="" class="map"><%= @offre.department %></p>

				<% if @offre.contrat_cdi %>
					<p>Contrat CDI</p>
				<% else %>
					<p>Contrat CDD</p>
				<% end %>
			</div>
		</div>
		<div class="trait"></div>
		<div class="post-title-descrption">
			<p><%= @offre.question2 %></p>
		</div>

		<div class="description-title">
			<h3>DESCRIPTIF DES MISSIONS</h3>
			<p>
				<%= @offre.descriptif_mission %>
			</p>
		</div>
		<div class="description-title">
			<h3>RATTACHEMENT HIÉRARCHIQUE</h3>
			<p><%= @offre.rattachement %></p>
		</div>
		<div class="description-title">
			<h3>RÉMUNÉRATION (K€ BRUTS ANNUELS)</h3>
			<p>
				Fixe: <%= @offre.remuneration.to_i %> <br>
				Variable: <%= @offre.remuneration_anne.to_i %>
			</p>
		</div>
		<div class="description-title">
			<h3>DÉPLACEMENTS</h3>
			<p>
				<%= @offre.type_deplacement %>
			</p>
		</div>
		<div class="description-title">
			<h3>PROCESSUS RH</h3>
			<p>
              <% case @offre.numberEntretien.to_i %>
              <% when 1 %>
                1 entretien RH
              <% when 2 %>
                1 entretien RH + 1 entretien manager
              <% when 3 %>
                1 entretien RH + 2 entretien manager
              <% end %>
			</p>
		</div>
		<div class="description-title">
			<h3>CONTEXTE D'OUVERTURE DE CE POSTE</h3>
			<p>
				<%= @offre.question5 %>
			</p>
		</div>

		<div class="description-title">
			<h3>DATE DE PRISE DE POSTE</h3>
			<p>
				<%= @offre.date_poste %>
			</p>
		</div>

		<% if @ofc.nil? %>
			<div id="link-to-send-post">
				<%= link_to "POSTULER", apply_for_job_path(id:@offre.id), method: :post, remote: true, id:'send-candidature', class:'btn btn-primary' %>
			</div>
			<div id="modal-ajax-bull" style="display:none; background-color: #e3b465;" class="modal">
				Votre demande d'entretien a été envoyée <br>
				<p><img src="/image/check.png" width="10px" alt="check"></p>
			</div>
		<% else %>
			<% if @ofc.accepted_postule %>
				<% if @agendat_client.nil? %>
					<div id="link-to-send-post">
						<%= link_to "POSTULER", apply_for_job_path(id:@offre.id), method: :post, remote: true, id:'send-candidature', class:'btn btn-primary' %>
					</div>
					<div id="modal-ajax-bull" style="display:none; background-color: #e3b465;" class="modal">
						Votre demande d'entretien a été envoyée <br>
						<center id="plus-plus"> ... </center>
					</div>
				<% else %>
					<% if @agendat_client.is_accepted %>
						<%= link_to "MON SUIVI RECRUTEMENT", recrutment_monitoring_path %>
					<% elsif !@agendat_client.is_accepted && !@agendat_client.alternative.nil? %>
						<span class="btn btn-primary">VOUS AVEZ RÉFUSER LA DEMANDE D'ENTRETIEN</span>
					<% else %>
					<div class="repondre-invitation">
						<i><span><%= @offre.client.entreprise.name %> </span>vous a envoyer une demande d'entretien, cliquez <%= link_to "ici", received_job_path, class:"repondre" %> pour repondre</i>

					</div>
					<% end %>
				<% end %>
			<% else %>
				<div>
					<span class="btn btn-primare">DEMANDE D'ENTRETIEN ENVOYÉ</span>
				</div>
			<% end %>
		<% end %>
	</div>
</div>


<script type="text/javascript">
	$('#send-candidature').bind('ajax:beforeSend', function() {
		$('#modal-ajax-bull').show();
	});

	$('#send-candidature').bind('ajax:complete', function() {
		$("#link-to-send-post").html('<span class="btn btn-primary">VOUS AVEZ POSTULÉ À CETTE OFFRE</span>')
	});

</script>
