<link rel="stylesheet" type="text/css" href="/css/showRecrutementCandidat.css">
<div class="content">
	<div class="left_link">
		<%= render partial: "candidates/left_link_bar" %>
	</div>

	<div class="main">
		<div class="job-info">
			<%= link_to showSearchJob_path(@offreJob.id), class:'btn-job-info' do %>
				<%= image_tag(@offreJob.image, alt: 'photo de profil', class:"pdp_mandona" )%>
				<h3><%= @offreJob.intitule_pote %></h3>
			<% end %>
		</div>

		<div class="container-flex">
			<% etape = 0 %>
			<% @offreJob.numberEntretien.times do |i| %>
				<% etape += 1 %>
				<% if i == 0 %>
					<div class="list-etapes"> <span class="text">1er entretien</span><span class="numero un inverse orange"><%= etape %></span></div>
				<% else %>
					<% if @oFc.etapes > 1 %>
						<div class="list-etapes"> <span class="text"><%= i+1 %>e entretien</span><span class="badge-success numero inverse deux orange"><%= etape %></span></div>
					<% else %>
						<div class="list-etapes"> <span class="text"><%= i+1 %>e entretien</span><span class="badge-success numero inverse deux"><%= etape %></span></div>
					<% end %>
				<% end %>
			<% end %>
			<div class="list-etapes">
				<% if @oFc.etapes == 3 %>
					<span class="text">Promesse d'embauche </span><span class="badge-success numero inverse trois orange"><%= etape + 1 %></span>
				<% else %>
					<span class="text">Promesse d'embauche </span><span class="badge-success numero inverse trois"><%= etape + 1 %></span>
				<% end %>
			</div>
		</div>

<br><br> <br>

		<div class="btn-info">
			ce candidat est à l'etape : 
			<strong><%= @oFc.etapes %></strong> <br>
			nombre d'etape total : 
			<strong><%= @offreJob.numberEntretien + 1 %></strong>
		</div>

	</div>

</div>

