<link rel="stylesheet" type="text/css" href="/css/test_fit.css">

<div class="bg-uniq">
	<div class="cadre">
		<% if @agendaAdmin.nil? %>
		<div class="content">
				<div class="numero un">1<span class="potential">Potential</span></div>
				<div class="numero trois">2<span class="fit">Fit</span></div>
		</div>
		<% end %>
		<div class="potential-title" id="potential-title-hide">
			<h1>2ème partie : FIT</h1>
			<img src="/image/fit.png" height="60" width="60">
		</div>
		<div id="para-show">
			<p>Bravo, vous avez excellé aux phases précédentes, et êtes maintenant à quelques pas de l’entrée chez One in a Million.</p>

			<p>Afin  d’assurer  un  excellent  suivi  de  votre  candidature  tout  au  long   de votre  carrière,  nous  tenons  à  vous  proposer  un   entretien  humain,  appelé  “FIT ” avec l’un de nos experts en recrutement.</p>

			<p>Cet  échange  nous  permettra  d’en  savoir  plus  sur vous et de découvrir votre  “ FIT ”  avec  les  nombreuses  opportunités  que nous proposons sur One in a Million.</p>
		</div>

<% if @agendaAdmin.nil? %>
	<span class="pass-test" id="show-selected-date">PLANIFIER UN ENTRETIEN SKYPE</span>
	<% if @agendaAdmin.nil? %>
	<div class="date-container">
		<div class="selected-date" id="hide-js">
			<div>
				<h2 class="date-title"><%= @dates[0][:long] %></h2>
				<div class="main-container">
					<div class="js-hours" data-longdate="<%= @dates[0][:long] %>" data-date="<%= @dates[0][:short] %>" data-time="08:30">08:30</div>
					<div class="js-hours" data-longdate="<%= @dates[0][:long] %>" data-date="<%= @dates[0][:short] %>" data-time="10:00">10:00</div>
					<div class="js-hours" data-longdate="<%= @dates[0][:long] %>" data-date="<%= @dates[0][:short] %>" data-time="11:30">11:30</div>
					<div class="js-hours" data-longdate="<%= @dates[0][:long] %>" data-date="<%= @dates[0][:short] %>" data-time="13:00">13:00</div>
				</div>
				<div class="main-container">
					<div class="js-hours" data-longdate="<%= @dates[0][:long] %>" data-date="<%= @dates[0][:short] %>" data-time="14:30">14:30</div>
					<div class="js-hours" data-longdate="<%= @dates[0][:long] %>" data-date="<%= @dates[0][:short] %>" data-time="16:00">16:00</div>
					<div class="js-hours" data-longdate="<%= @dates[0][:long] %>" data-date="<%= @dates[0][:short] %>" data-time="17:00">17:00</div>
					<div class="js-hours" data-longdate="<%= @dates[0][:long] %>" data-date="<%= @dates[0][:short] %>" data-time="19:00">19:00</div>
				</div>
			</div>

			<div>
				<h2 class="date-title"><%= @dates[1][:long] %></h2>
				<div class="main-container">
					<div class="js-hours" data-longdate="<%= @dates[1][:long] %>" data-date="<%= @dates[1][:short] %>" data-time="08:30">08:30</div>
					<div class="js-hours" data-longdate="<%= @dates[1][:long] %>" data-date="<%= @dates[1][:short] %>" data-time="10:00">10:00</div>
					<div class="js-hours" data-longdate="<%= @dates[1][:long] %>" data-date="<%= @dates[1][:short] %>" data-time="11:30">11:30</div>
					<div class="js-hours" data-longdate="<%= @dates[1][:long] %>" data-date="<%= @dates[1][:short] %>" data-time="13:00">13:00</div>
				</div>
				<div class="main-container">
					<div class="js-hours" data-longdate="<%= @dates[1][:long] %>" data-date="<%= @dates[1][:short] %>" data-time="14:30">14:30</div>
					<div class="js-hours" data-longdate="<%= @dates[1][:long] %>" data-date="<%= @dates[1][:short] %>" data-time="16:00">16:00</div>
					<div class="js-hours" data-longdate="<%= @dates[1][:long] %>" data-date="<%= @dates[1][:short] %>" data-time="17:00">17:00</div>
					<div class="js-hours" data-longdate="<%= @dates[1][:long] %>" data-date="<%= @dates[1][:short] %>" data-time="19:00">19:00</div>
				</div>

				<div class="validate">
					<%= form_tag(saveEntretientDate_path, remote: true, id:"send-data-form") do %>
						<input type="hidden" name="date" id="input-date">
						<input type="hidden" name="time" id="input-time">
						<div class="form-group">
							<%= submit_tag("VALIDER", :class=>"btn-valider")%>
						</div>
					<% end %>
				</div>
			</div>
		</div>

		<div id="validate-date-time" class="show-default-value-date">
			<h2 class="entretien-confirme">Entretien Skype confirmé</h2>
			<img src="/image/checkWhite.png" alt="" class="iconify">
			<span id="dateSkype" class="skype-time"></span>
			<span id="timeSkype" class="skype-time"></span>
			<span class="pass-test past-test-menu">MENU</span>
		</div>
	</div>
	<% end %>
<% else %>
	<div class="show-default-value-date">
		<h2 class="entretien-confirme">Entretien Skype confirmé</h2>
		<img src="/image/checkWhite.png" alt="">
		<center id="dateSkype" class="skype-time"><%= @dates %></center>
		<span class="pass-test past-test-menu">MENU</span>
	</div>
<% end %>
	</div>
</div>

<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>
<script type="text/javascript">


	var month = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
	var day = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];


	$("#hide-js").hide(300);
	$("#para-hide").hide(300);
	$("#potential-title-show").hide(300);

	$("p").css("text-align", "center")

	$("#show-selected-date").click(function () {
		$("#hide-js").show(300);
		$(".content").hide(300);
	});

	$('.js-hours').click(function(){
		$('.js-hours').css("background-color","#e3d7bf")
		$('.js-hours').css("color","#fff")

		$(this).css("background-color","#fff")
		$(this).css("color","#e3d7bf")

		// jj-mm-yyyy
		date = $(this).data().date.split("-")
		// yyyy-mm-jj
		let dateTime = new Date(date[2]+"-"+date[1]+"-"+date[0]);
		let datahours = $(this).data().time;
		let times = datahours.split(':');
		dateTime.setHours(times[0]);
		dateTime.setMinutes(times[1]);
		utcDate = moment.utc(dateTime);

		$("#input-time").val(utcDate.hours() + ':' + utcDate.minutes())
		$("#input-date").val(utcDate.format('DD-MM-YYYY'))

	    let dateGet = new Date(utcDate.local());
	    let dateString = day[dateGet.getDay()] + ' ' + dateGet.getDate() + ' ' + month[dateGet.getMonth()] + ' ' + dateGet.getFullYear();

		$("#dateSkype").html(dateString)

		let heur = (""+dateGet.getHours()).length == 1 ? ("0"+dateGet.getHours()) : dateGet.getHours()
		let min = (""+dateGet.getMinutes()).length == 1 ? ("0"+dateGet.getMinutes()) : dateGet.getMinutes()

		$("#timeSkype").html(heur+'h'+min)

	});

	$("#send-data-form").bind('ajax:beforeSend', function(){
		$("#hide-js").hide(300);
	});

	$("#send-data-form").bind('ajax:complete', function(){
		$('#validate-date-time').show(300);
		$("#show-selected-date").hide(300);
	});

	$(".btn-valider").click(function(){
		$(".show-selected-date").hide(300);
		$(".content").hide(300);
	})
</script>
