<h2>Liste de tous les client dans le site</h2>
<% @clients.each do |client| %>
	<div>
		<a href="<%= zshowMessages_path(client.id) %>">
		<%= client.first_name %> <%= client.last_name %>
		</a>
	</div>
<% end %>

<h2>Liste de mes contactes</h2>
<% @contactListes.each do |contact| %>
	<% nbr = contact.mp_cadre_not_see %>
	<div>
		<a href="<%= zshowMessages_path(contact.client.id) %>">
		<%= contact.client.first_name %> <%= contact.client.last_name %>
		</a>
		<% unless nbr == 0 %>
			<span class="alert-info"><%= nbr %></span>
		<% end %>
	</div>
<% end %>