<% @title="Messagerie" %>
<link rel="stylesheet" type="text/css" href="/css/my_messages.css" />
<style>
  .mes {
    text-align: center;
  }

  .mes h4 {
    font-size: 14px;
    font-weight: 200;
    font-family: Raleway, sans-serif;
  }

  .cont-ms {
    position: relative;
  }

  .ms-main {
    position: fixed;
    right: 20px;
    width: 400px;
    bottom: 10px;
    z-index: 6;
  }

</style>
<div class="all-content">
  <div class="left-content"><%= render partial: "admin_main/left_menu_message_link" %></div>

  <div class="main">
    <h2 class="main-title">MA MESSAGERIE</h2>
    <% if @contactClient.count ==  0 %>
    <div class="mes">
      <h4>Aucun contact d'un recruteur</h4>
    </div>
    <% else %>
    <% @contactClient.each do |contact| %> <% nbr = contact.mp_admin_not_see %>
    <a href="<%= show_message_recruteur_path(contact.client.id) %>" class="btn-voir <% if nbr == 0 %>color<% end %>">
    <div class="message">
      <div class="block-image">
        <% if contact.client.image.nil? %>
          <img src="/image/profie.png" class="pdp" alt='photo de profil'>
        <% else %>
          <%= image_tag(contact.client.image, alt: 'photo de profil', class:"pdp" )%>
        <% end %>
        <% if contact.client.is_online? %>
          <span class="connected"></span>
        <% end %>
        </div>
      <div class="message-content">
        <div class="recruteur-name"><%= contact.client.first_name %> <%= contact.client.last_name %></div>
        <div class="message-body">
          <% unless contact.message_admin_clients.last.is_admin %>
          <% unless nbr == 0 %>
            <span class="alert-info"><%= nbr %></span>
          <% end %>
          <% end %>
          <% if contact.message_admin_clients.last.is_admin %>vous : <%end%> <%= contact.message_admin_clients.last.content %>
        </div>
      </div>
      <div class="connected-times">
          <% unless contact.client.is_online? %>
            <span class="not-connected">Connectée il y a <%= time_ago_in_words(contact.client.online_time) %></span>
          <% end %>
        </div>
    </div>
    </a>
    <% end %>
    <% end %>
  </div>
  <div class="cont-ms">
    <div class="ms-main"></div>
  </div>
</div>
