<link rel="stylesheet" type="text/css" href="/css/admin_message.css">
<div class="all-content">
	<div class="left-content">
		<%= render partial: "admin_main/left_menu_link" %>
	</div>

	<div class="main">
		<h2 class="main-title">Liste de mes contacts</h2>
		<% @contactListes.each do |contact| %>
			<% nbr = contact.mp_cadre_not_see %>
			<div class="message">
				<div class="message-content">
					<a href="<%= show_my_messages_cadre_path(contact.client.id) %>">
					<span class="recruteur-name"><%= contact.client.first_name %> <%= contact.client.last_name %> </span>
					<div class="block-image">
						<%= image_tag(contact.client.image, alt: 'photo de profil', class:"pdp" )%>
					</div>
					</a>
					<% unless nbr == 0 %>
						<span class="alert-info"><%= nbr %></span>
					<% end %>
					<% if contact.client.is_online? %>
						<span class="connected"></span>
					<% else %>
						<span class="not-connected">Connectée il y a <%= time_ago_in_words(contact.client.online_time) %></span>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>
