<% @title="Mon Profile" %>
<link rel="stylesheet" href="/css/admin_profil.css" />
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_main/left_menu_link" %>
  </div>
  <div class="cp-box">
  	<div class="cp-table-box">
      <table>
        <tr>
          <td class="cp-flex table-td">
            <div class="cp-pprofil">
              <% unless current_admin.image.nil? %> <%= image_tag(current_admin.image, alt: 'photo logo' )%> <% else %>
              <img src="/image/profie.png" alt="logo entreprise" />
              <% end %>
            </div>
            <div class="cp-infos-r">
              <h5>MON PROFIL</h5>
              <p class="cpr-name"><strong><%= current_admin.first_name %> <%= current_admin.last_name %> </strong></p>

              <p>Metier : <strong> <%= current_admin.metier %></strong></p>
              <div class="cpr-r">
                <img src="/image/mess.png" alt="logo mail" class="cp-icone cpr-i-mail" />
                <p>Email :<strong> <%= current_admin.email %></strong> </p>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div>
    </div>
    </div>
  </div>
</div>

