<% @title="Notifications" %>
<link rel="stylesheet" type="text/css" href="/css/notification_cadre.css">
<style>
  .no-noti {
    text-align: center;
  }

  .right-link .title {
    padding-bottom: 10px;
  }

  .cont-noti {
    padding: 10px;
    background: transparent;
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: 20px;
    position: relative;
  }

  .dat {
    position: absolute;
    right: 0;
    color: rgba(0,0,0,.5);
  }

  .mybadge {
    position: absolute;
    right: 40px;
    margin-top: 10px;
    font-size: 12px;
  }

  .lu {
    color: #d6b36a;
  }

  .no-lu {
    color: rgba(0,0,0,.5);
  }

  .not-obj {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
  }

  .me-not {
    color: #d6b36a;
    font-size: 14px;
    padding-top: 10px;
  }
  .lu-n-izy {
    color: rgba(0,0,0,.5);
    font-size: 14px;
    padding-top: 10px;
  }

  .right-link a:hover {
    text-decoration: none;
  }

  .oob {
    margin-top: 5px;
  }

  .not-obj {
    color: #d6b36a;
  }

  .lu-izy {
    color: #000;
  }

  .right-link .title {
    text-align: center;
    color: #d6b36a;
  }

  .all-content {
    padding-left: 50px;
    padding-right: 50px;
  }
</style>


<div class="all-content">
  <div class="right-link">
    <h5 class="title">NOTIFICATIONS</h5>
        <% unless @notifications.empty?%>
          <% @notifications.each do |noficication| %>
          <a href="<%= noficication.link %>">
            <div class="cont-noti"  role="alert">
              <span data-times="<%= noficication.created_at.strftime("%Y-%m-%d %H:%M") %>" class="currentDateEntretien dat"></span>
              <div class="row">
                <div class="col-sm-3">
                  <% if noficication.genre == 1 %>
                    <img src="<%= noficication.offre_job.image %>" width="120px" height="120px">
                  <% elsif noficication.genre == 5 %>
                    <img src="<%= noficication.client_image %>" alt="photo profil candidats" width="120px" height="120px">
                  <% elsif noficication.genre == 3 %>
                    <img src="/image/document.png" alt="icone" />
                  <% else %>
                    <% if noficication.medel_id.nil? %>
                      <img src="/image/profie.png" alt="photo profil candidats" width="120px" height="120px">
                    <% else %>
                      <img src="<%= noficication.cadre_info.image %>" width="120px" height="120px">
                    <% end %>
                  <% end %>
                </div>
                <div class="col-sm-9">
                  <div class="oob">
                  <h4 class="not-obj<% if noficication.view(current_admin) %> lu-izy <% end %>"><%= noficication.object %></h4>
                  <p class="me-not<% if noficication.view(current_admin) %> lu-n-izy <% end %>"><%= noficication.message %></p>
                  </div>
                  <p class="mb-0">
                  </a>
                </p>
            </div>
              </div>
        </div>
          <% end %>
        <% else %>
        <div class="no-noti">
          Aucune notification
        </div>
        <% end %>
  </div>
</div>

<script type="text/javascript">
  if (document.URL.indexOf('#') == -1) {
      url = document.URL + '#';
      location = '#';
      location.reload(true);
    }
</script>

<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>

<script type="text/javascript">
  var month = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
  var day = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
  let $elementDate = $('.currentDateEntretien');

  $elementDate.each(function () {
    let dateUTC = moment.utc($(this).data().times);
    let dateGet = new Date(dateUTC.local());
    let dateString = day[dateGet.getDay()] + ' ' + dateGet.getDate() + ' ' + month[dateGet.getMonth()] + ' ' + dateGet.getFullYear();
    $(this).html(dateString + ' à ' + dateGet.getHours() + 'h'+ dateGet.getMinutes());
  });
</script>
