<% @title="Messagerie" %>
<link rel="stylesheet" href="/css/show_admin_message.css" />
<style media="screen">
	.fcp-box {
		width: 90%;
		justify-content: center;
		margin: 0 auto;
	}

	.chat-info {
		display: flex;
		padding: 20px;
		background: #d6b36a;
		color: #fff;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border: none;
	}

	.img img {
		width: 75px;
		height: 75px;
		border: 2px solid #e3d7bf;
		border-radius: 50%;
		background-position: center;
		background-image: cover;
	}

	.img {
		padding-left: 20px;
		padding-right: 20px;
	}

	.desc {
		padding-left: 10px;
	}

	.name {
		font-size: 32px;
		font-weight: bold;
		font-family: Questrial, sans-serif;
	}

	.online small {
		font-size: 14px;
		font-family: Questrial, sans-serif;
	}

	.chat-body {
		overflow-y: scroll;
		/* overflow: hidden; */
		padding-top: 50px;
		padding-left: 30px;
		padding-right: 30px;
		border-left: 1px solid #ccc;
		/* border-right: 1px solid #ccc; */
		height: 450px;
	}

	.hr-msg {
		display: flex;
		position: relative;
	}

	.hr-image img {
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}

	.hr-image {
		padding-right: 20px;
	}

	.hr-mg {
		background: #d6b36a;
		text-align: left;
		padding: 20px;
		border-radius: 10px;
		width: 60%;
	}

	.hr-mg p {
		color: #fff;
		font-size: 14px;
		font-family: Questrial, sans-serif;
		width: 100%;
		word-wrap: break-word;
		text-align: justify;
	}

	.m-msg {
		float: right;
		margin-top: 30px;
		background: #e3d7bf;
		width: 60%;
		border-radius: 10px;
		padding: 20px;
		text-align: left;
	}

	.m-msg p {
		color: #fff;
		font-size: 14px;
		font-family: Questrial, sans-serif;
		width: 100%;
		word-wrap: break-word;
		text-align: justify;
	}

	.sd {
		display: flex;
		margin-top: 20px;
	}

	.sd-input {
		float: left;
	}

	.sd-btn {
		float: right;
	}

	.sd-input input {
		padding-left: 10px;
		padding-right: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		outline: none;
		border: 1px solid #d6b36a;
	}

	.ms-in {
		width: 100%;
		padding: 10px;
		outline: none;
		border: 1px solid #d6b36a;
	}

	.sd button {
		background: #fff;
		border: none;
		outline: none;
		padding: 10px;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
	}

	.dt {
		float: right;
		color: white;
		font-size: 10px;
		font-family: Questrial, sans-serif;
	}


</style>
<!-- body html  -->
<div class="client-column">
	<div class="client-menu-left"><%= render "admin_main/left_menu_message_link" %></div>
	<div class="cp-box">
		<div class="fcp-box">
			<div class="chat-info">
				<div class="img">
					<img src="" alt="avatar">
				</div>
				<div class="desc">
					<h1 class="name">JEAN</h1>
					<p class="online">
						<small>
							En ligne</small>
					</p>
				</div>
	</div>

	<div class="chat-body">
		<% @messages.each do |message| %>
		<% unless message.is_admin %>
		<div class="hr-msg">
			<div class="hr-image">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar">
			</div>
			<div class="hr-mg">
				<p><%= message.content %></p>
			</div>
		</div>
		<% end %>
		<% if message.is_admin %>
		<div class="m-msg">
			<p><%= message.content %></p>
		</div>
		<% end %>
		<% end %>
	</div>

	<%= form_tag(post_messaging_path) do %>
	<div class="sd">
			<input placeholder="répondre..." class="ms-in" name="message_admin_cadre[content]" id="message_admin_cadre_content">
			<button type="submit">
				<img src="/image/send.png" alt="send" class="ms-im"/>
				<!-- <%= submit_tag("ENVOYER") %> -->
			</button>
	</div>
	<% end %>


	</div>
</div>
</div>
