<%= form_for @promise , url: url_path do |f| %>
<div class="pc-head pc-flex">
  <div class="pch-left">
    <div class="pchl-image">
      <% unless @job.image.nil? %>
      <div class="c" style="background: url(<%= @job.image%>) center no-repeat; background-size: cover"></div>
      <% end %>
    </div>
    <div class="pchl-content">
      <%= @job.intitule_pote %>
      <div><%= @job.contrat_cdi ? "Contrat à durée indéterminée" : "Contrat à durée déterminée" %></div>
    </div>
  </div>
  <div class="pch-right">
    <input type="text" value="<%= @cadre.last_name %>" readonly />
    <input type="text" value="<%= @cadre.first_name %>" readonly />
    <input type="text" id="date" value="<%= @promise.birthday_cadre ? @promise.birthday_cadre : "Date de naissance" %>" readonly/> <input type="text" value="<%= @promise.birthplace_cadre ? @promise.birthplace_cadre : "Lieu de naissance" %>" readonly/> <input type="text" value="<%= @promise.ns_sociale_cadre ? @promise.ns_sociale_cadre : "N° sécurité
    sociale" %>" readonly/>
  </div>
</div>
<hr />
<div class="pc-form pc-form1 pc-flex"><%= f.label :date_poste, "Date de prise de poste" %> <% priseDate = @promise.date_poste ? @promise.date_poste : @job.date_poste %> <%= f.text_field :date_poste, value: priseDate, required:true,id:"datepicker" %></div>
<hr />
<div class="pc-form pc-form1 pc-flex"><%= f.label :time_trying, "Période d'essai" %> <% periodessay = @promise.time_trying ? @promise.time_trying : (@job.date_poste.to_date + 120 ).strftime("%d/%m/%Y") %> <%= f.text_field :time_trying, value: periodessay, required:true,id:"datepicker1",class:"datepicker1" %></div>
<hr />
<div class="pc-form pc-form2 pc-flex">
  <label>Rémunération fixe <br />(€ bruts mensuels)</label>
  <div class="right">
    <div>
      <% payFix = @promise.remuneration_fixe ? @promise.remuneration_fixe : nil %> <% if valeur%> <%= f.text_field :remuneration_fixe, required:true, value: ((@job.remuneration.to_f * 1000)/12).round(2), required:true,id:'renumeration-fixe',onkeypress:"return event.charCode>=46 && event.charCode<=57" %> <%else%> <%= f.text_field :remuneration_fixe,
      required:true, value: (payFix ), required:true,id:'renumeration-fixe',onkeypress:"return event.charCode>=46 && event.charCode<=57"%> <%end%>
    </div>
    <div>
      <label id="conditioncheck">
        12 mois <%= f.radio_button :remuneration_fixe_date, "12", id:'post_12', class:'js-post-mois', required:true %>
        <span class="checkmark"></span>
      </label>
    </div>
    <div>
      <label id="conditioncheck">
        13 mois <%= f.radio_button :remuneration_fixe_date, "13", id:'post_13', class:'js-post-mois', required:true %>
        <span class="checkmark"></span>
      </label>
    </div>
    <div>
      <label id="conditioncheck">
        Personnalisé <%= f.radio_button :remuneration_fixe_date, "Personnalisé", id:'post_perso', class:'js-post-mois', required:true %>
        <span class="checkmark"></span>
      </label>
    </div>
    <%= f.text_field :remuneration_fixe_date, placeholder:'nombre de mois',style:'display:none;',id:'input-perso',onkeypress:"return event.charCode>=46 && event.charCode<=57" %>
  </div>
</div>
<hr />
<div class="pc-form pc-form3 pc-flex">
  <label> Rénumération variable <br />(k€ bruts annuels)</label>

  <div class="right">
    <input type="text" class="hidden" />
    <div>
      <label id="conditioncheck">
        Oui <%= f.radio_button :remuneration_variable, "true", id:'post_oui', class:'js-post-choix', required:true %>
        <span class="checkmark"></span>
      </label>
    </div>
    <div>
      <% if (valeur)%> <%= f.text_field :remuneration_var_info, placeholder:'ex: 10', id:'js-input-choix', style:'display:none', disabled:true ,onkeypress:"return event.charCode>=46 && event.charCode<=57"%> <%else%> <%= f.text_field :remuneration_var_info, placeholder:'ex: 10', id:'js-input-choix' ,onkeypress:"return event.charCode>=46 &&
      event.charCode<=57"%> <%end%>
    </div>
    <div>
      <label id="conditioncheck">
        Non <%= f.radio_button :remuneration_variable, "false", id:'post_nom', class:'js-post-choix', required:true %>

        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</div>
<hr />
<div class="pc-calcul">
  Précalcul honoraires OIAM<br />
  <div id="pc-calcul"></div>
</div>
<hr />
<div class="pc-avantage">
  <div><%= f.label :remuneration_avantage, "Avantages ou autre précision sur la rénumération" %></div>
  <div>
    <textarea id="pc-advantage-form" required>
<%if (@promise.remuneration_avantage)%><%=@promise.remuneration_avantage.gsub('[sp]', ' ').gsub('[nl]', '
    ')%><%end%></textarea
    >
  </div>
  <div><%= f.text_area :remuneration_avantage,required:true,id:"pc-advantage-form1", style:'display: none;' %></div>
</div>
<hr />
<div class="pc-form pc-validite pc-flex"><%= f.label :date_de_validite, "Date de validité" %> <%= f.text_field :date_de_validite, required:true, required:true, value:@promise.date_de_validite,id:'datepicker2' %></div>
<hr />
<div class="pc-form p-sign pc-flex">
  <%= f.label :signature_entreprise, "Signature électronique entreprise" %>
  <div class="signature">
    <% unless @promise.signature_entreprise.nil? %>
    <div class="c" id="addImage" style="background: url(<%= @promise.signature_entreprise%>) center no-repeat; background-size: cover"></div>
    <% else %>
    <div class="c" id="addImage" style="background: url() center no-repeat; background-size: cover"></div>
    <% end %>
    <label>
      <span style="display: none"> <%= f.file_field :signature_entreprise , class:'input_fied', accept:".jpg,.jpeg,.gif,.png,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" %> </span>
    </label>
    <!-- Télécharger une image -->
  </div>
</div>
<hr />
<div class="pc-form pc-sign-cadre pc-flex">
  <label> Signature électronique candidat</label>

  <div class="image">
    <% unless @promise.signature_candidat.nil? %>
    <div class="c" style="background: url(<%= @promise.signature_candidat%>) center no-repeat; background-size: cover"></div>
    <% end %>
  </div>
</div>
<hr />
<div class="pc-submit">
  <% if @promise.signature_entreprise.nil? %>
  <center><%= f.submit("ENVOYER") %></center>
  <% else %>
  <center><%= f.submit("METTRE À JOUR") %></center>
  <% end %>
</div>
<% end %>

<!-- call js  -->
<script>
  $('#pc-advantage-form').on('input', function () {
    let text = $(this).val();
    text = text.replace(/ /g, '[sp]');
    text = text.replace(/\n/g, '[nl]');
    $('#pc-advantage-form1').val(text);
  });
</script>
<script data-turbolinks-track="reload" type="text/javascript" src="/js/promise.js"></script>
