<% notice = current_client.numberOfNotification %>

<!-- appel css user-menu.css  -->
<% content_for :head_style do %>
<link rel="stylesheet" href="/css/user_menu.css" />
<% end %>

<!-- html body  -->
<div class="left-menu-r" data-link="<%= notifed_number_notice_path %>" id="getLinkNoticeJS" >
  <div class="btn-menu-r">
    <span class="btn-menu-burger open"> </span>
  </div>
  <div class="left-menu-photo">
    <% unless current_client.image.nil? %>
    <div class="c" style="background: url(<%= current_client.image%>) center no-repeat; background-size: cover"></div>
    <% else %>
    <img src="/image/profie.png" alt="logo entreprise" />
    <% end %>
  </div>
  <ul class="left-menu-content">
    <li><%= link_to "MON PROFIL", client_my_profil_path%></li>
    <li><%= link_to "MES OFFRES D'EMPLOI", my_job_offers_path %></li>
    <li><%= link_to "MES CANDIDATS FAVORIS", favorite_candidates_path %></li>
    <li><%= link_to "MON SUIVI RECRUTEMENT", my_recruitment_follow_path %></li>
    <li><%= link_to "MES FACTURES", my_bills_path %></li>
    <li><%= link_to "MES NOTIFICATIONS", client_notifications_path %>
      <div <%if (notice[:all] == 0) %>hidden<% end %> id="noticeNumberJS"><% if notice[:all] < 9 %><%= notice[:all] %><% else %>+9<% end %></div>
    </li>
    <li><%= link_to "MA MESSAGERIE", my_messages_client_path %>
      <div class="last" <%if (current_client.number_message_not_see == 0) %>hidden<% end %>><% if current_client.number_message_not_see < 9 %><%= current_client.number_message_not_see %><% else %>+9<% end %></div>
    </li>
  </ul>
</div>
<!-- appel js menu_recruteur.js  -->
<script data-turbolinks-track="reload" type="text/javascript" src="/js/menu_recruteur.js"></script>

<script>
  var path_url = $("#getLinkNoticeJS").data().link
  var div = $("#noticeNumberJS")
  function getNumberNotice() {
    $.getJSON(path_url, function (data) {
      var my_data = data;
      div.html(my_data.number_notice_client)
      div.removeAttr("hidden")
      if (my_data.number_notice_client == 0){
        div.hide()
      }else{
        div.show()
      }
    });
  }
  setInterval(getNumberNotice, 3000);
</script>