<!-- appel css user-menu.css  -->
<link rel="stylesheet" href="/css/user-menu.css" />
<!-- html body  -->
<div class="left-menu-r">
  <div class="btn-menu-r">
    <span class="btn-menu-burger open"> </span>
  </div>
  <div class="left-menu-photo">
    <% unless @client.image.nil? %> <%= image_tag(@client.image, alt: 'photo logo')%> <% else %>
    <img src="/image/profie.png" alt="logo entreprise" />
    <% end %>
  </div>
  <ul class="left-menu-content">
    <li><%= link_to "MON PROFIL", client_my_profil_path%></li>
    <li><%= link_to "MES OFFRES D'EMPLOI", my_job_offers_path %></li>
    <li><%= link_to "MES CANDIDATS FAVORIS", favorite_candidates_path %></li>
    <li><%= link_to "MON SUIVI RECRUTEMENT", my_recruitment_follow_path %></li>
    <li><%= link_to "MES FACTURES", my_bills_path %></li>
    <li><%= link_to "MES NOTIFICATIONS", client_notifications_path %></li>
    <li><%= link_to "MA MESSAGERIE", '#' %></li>
  </ul>
</div>
<!-- appel js menu_recruteur.js  -->
<script data-turbolinks-track="reload" src="/js/menu_recruteur.js"></script>
