<div>
	<li><%= link_to "MON PROFIL", client_my_profil_path %></li>
	<li><%= link_to "MES OFFRES D'EMPLOI", my_job_offers_path %></li>
	<li><%= link_to "MES CANDIDATS FAVORIS", favorite_candidates_path %></li>
	<li><%= link_to "MON SUIVI RECRUTEMENT", my_recruitment_follow_path %></li>
	<li><%= link_to "MES FACTURES", my_bills_path %></li>
	<li><%= link_to "MES NOTIFICATIONS", client_notifications_path %></li>
	<li><%= link_to "MA MESSAGERIE", '#' %></li>
</div>
