<div class="hiddenDate" style="display: none" id="js-form-show">
  <%= form_tag(save_entretien_client_path, remote: true, id:"send-data-form") do %>

  <div class="date"><input type="text" name="date" id="datepicker" /></div>

  <div class="js-timeContainer" style="display: none">
    <h4 id="showDateLong"></h4>
    <div class="fselect">
      <span id="reditDate" class="badge badge-secondary">modifier la date</span>
      <div class="firstSelection">
        <div class="js-hoursTime" data-time="08:00">08:00</div>
        <div class="js-hoursTime" data-time="09:00">09:00</div>
        <div class="js-hoursTime" data-time="10:00">10:00</div>
        <div class="js-hoursTime" data-time="11:00">11:00</div>
      </div>
      <div class="firstSelection">
        <div class="js-hoursTime" data-time="12:00">12:00</div>
        <div class="js-hoursTime" data-time="13:00">13:00</div>
        <div class="js-hoursTime" data-time="14:00">14:00</div>
        <div class="js-hoursTime" data-time="15:00">15:00</div>
      </div>
      <div class="firstSelection">
        <div class="js-hoursTime" data-time="16:00">16:00</div>
        <div class="js-hoursTime" data-time="17:00">17:00</div>
        <div class="js-hoursTime" data-time="18:00">18:00</div>
        <div class="js-hoursTime" data-time="19:00">19:00</div>
      </div>
      <div>
        <label id="conditioncheck">
          Adresse de l'entreprise
          <input type="radio" checked="checked" required name="adresse" id="adresse1" value="<%= current_client.entreprise.adresse %>" class="js-input-adresse" data-value="none" />
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="with-input">
        <label id="conditioncheck">
          Autre lieu :
          <input type="radio" required name="adresse" id="adresse2" data-value="autre" class="js-input-adresse" />
          <span class="checkmark"></span>
        </label>
        <input type="text" name="adresse_name" id="js-adresse_name_input" style="display: none" disabled="disabled" placeholder="L'adresse ..." class="with-input-item" />
      </div>
      <div>
        <label id="conditioncheck">
          <%= current_client.first_name %> <%= current_client.last_name %>, <%= current_client.fonction %>
          <input type="radio" checked="checked" required name="name" value="<%= current_client.first_name %> <%= current_client.last_name %>" id="name_client" class="js-input-name" />
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="with-input">
        <label id="conditioncheck">
          Autre personne :
          <input type="radio" required name="name" id="autre_personne" value="1" class="js-input-name" />
          <span class="checkmark"></span>
        </label>
        <input type="text" name="client_name" id="client_name_input" style="display: none" disabled="disabled" placeholder="Nom et prénoms" class="with-input-item" />
      </div>

      <input type="hidden" name="time" id="input-time" />

      <input type="hidden" name="cadre_id" value="<%= @cadre.cadre.id %>" />

      <input type="hidden" name="offre_id" value="<%= @offre.id %>" />

      <div class="planQ-btn"><%= submit_tag("VALIDER", id:"valid-submit", disabled:"disabled" )%></div>
    </div>
  </div>
  <% end %>
</div>

<div id="send-data-form-ok-success" class="ssc-send" style="display: none">
  <h4>Demande d'entretien envoyée</h4>
  <img src="/image/check.png" alt="OK" />
  <div>
    <div class="datetime">
      <div id="dateShowOk"></div>
      <div id="timeShowOk"></div>
    </div>
    <div>
      <span id="adresseShowOk">
        <%= current_client.entreprise.adresse %> <br />
        <%= current_client.entreprise.city %>
      </span>
      <br />
      <span id="nameShowOk"> <%= current_client.fonction %> : <%= current_client.first_name %> <%= current_client.last_name %></span>
    </div>

    <div id="valide-js-send-link">
      <% unless @offre.in_list_entretien(@cadre.cadre).nil? %> <%= link_to recruitment_show_cadre_path(@offre.is_in_this_job(@cadre.cadre)) do %>
      <div class="ssc-send-btn">VALIDER</div>
      <% end %> <% else %>
      <div class="ssc-send-btn">VALIDER</div>
      <% end %>
    </div>
  </div>
</div>
