<%= form_tag(search_bar_cadre_path, remote:true, id:"send-data-form") do %>
<input type="hidden" name="id" value="<%= @offre.id %>" />
<div class="search-large">
  <div class="co-input hide-right">
    <select name="region" id="cars" class="co-select">
      <option value="" disabled selected>Localisation</option>
      <option value="all">France entière</option>
      <% @regions.each do |region| %>
      <option value="<%= region.id %>"><%= region.name %></option>
      <% end %>
    </select>
  </div>
  <div class="co-input hide-right">
    <select name="metier" id="cars" class="co-select">
      <option value="" disabled selected>Fonction</option>
      <% @metiers.each do |metier| %>
      <option value="<%= metier.id %>"><%= metier.name %></option>
      <% end %>
    </select>
  </div>
</div>
<div class="search-short">
  <div class="co-input hide-right">
    <select name="remuneration" id="cars" class="co-select">
      <option value="" disabled selected>Rémunération</option>
      <option value="60">60k€</option>
      <option value="70">70k€</option>
      <option value="80">80k€</option>
      <option value="90">90k€</option>
      <option value="100">100k€</option>
      <option value="110">110k€</option>
      <option value="120">120k€</option>
      <option value="130">130k€</option>
      <option value="140">140k€</option>
      <option value="150">150k€</option>
      <option value="160">160k€</option>
      <option value="170">170k€</option>
      <option value="180">180k€</option>
      <option value="190">190k€</option>
      <option value="200">200k€</option>
      <option value="210">210k€</option>
      <option value="220">220k€</option>
      <option value="230">230k€</option>
      <option value="240">240k€</option>
      <option value="250">250k€</option>
      <option value="260">260k€</option>
      <option value="270">270k€</option>
      <option value="280">280k€</option>
      <option value="290">290k€</option>
      <option value="300">300k€</option>
      <option value="310">310k€</option>
      <option value="320">320k€</option>
      <option value="330">330k€</option>
      <option value="340">340k€</option>
      <option value="350">350k€</option>
    </select>
  </div>
  <div class="co-input hide-right">
    <select name="disponility" id="cars" class="co-select">
      <option value="" disabled selected>Disponibilité</option>
      <option value="IMMÉDIATE">IMMÉDIATE</option>
      <option value="PRÉAVIS 1 MOIS">PRÉAVIS 1 MOIS</option>
      <option value="PRÉAVIS 3 MOIS">PRÉAVIS 3 MOIS</option>
      <option value="PRÉAVIS 3 À 6 MOIS">PRÉAVIS 3 À 6 MOIS</option>
      <option value="PRÉAVIS > 6 MOIS">PRÉAVIS > 6 MOIS</option>
    </select>
  </div>
</div>
<div class="td-button"><%= submit_tag("RECHERCHER")%></div>
<% end %>
