<% unless @oFc.refused_info.nil? %>
<div class="rscr-result">
  <h4>CANDIDAT REFUSE</h4>
  <dl>
    <dt>raison de la refus au candidat:</dt>
    <dd>"<%= @oFc.refused_info %>"</dd>
  </dl>
</div>
<% else %>
<div id="js-show_ca_refused" class="rscr-form-box">
  <center>
    <div class="rscr-head">
      <p>
        poste : <strong><%= @offre.intitule_pote %></strong> <br />
        <img src="/image/unvalid.png" alt="icon" />
        Candidat refusé
      </p>
    </div>
  </center>

  <%= form_tag(notice_refused_post_path, remote: :true) do %>
  <div for="send-notice" class="label">Envoyer une raison de la refus au candidat</div>
  <input type="hidden" name="repons" value="refused" />
  <input type="hidden" name="oFc_id" value="<%= @oFc.id %>" />
  <input type="hidden" name="offre_id" value="<%= @offre.id %>" />
  <input type="hidden" name="cadre_id" value="<%= @cadre.id %>" />
  <div class="text-area">
    <textarea required="required" class="form-control" name="notifier" id="send-notice"></textarea>
  </div>
  <div class="submit"><%= submit_tag("NOTIFIER") %></div>
  <% end %>
</div>
<% end %>
