<div class="rscdf-box">
    <% show = true %>
    <div class="rscdf-header">
        Vous avez un entretien le <span data-times="<%= @agendas.entretien_date.strftime("%Y-%m-%d %H:%M") %>" class="currentDateEntretien"></span>
    </div>
    <div class="rscdf-content">
        <div class="rscdf-item1">

            <!-- candidat a accepter l'entretien -->
            <% if @agendas.repons_client && @agendas.repons_cadre && @agendas.alternative.nil? %>
            
                <%= @cadre.cadre_info.first_name.capitalize %> <%= @cadre.cadre_info.last_name.capitalize %> a accepté votre demande d'entretien.
            
            <!-- candidat a accepter l'entretien sous condition -->
            <% elsif @agendas.repons_cadre && @agendas.repons_client && !@agendas.alternative.nil? %>
                <% date = DateTime.parse(@agendas.alternative) %>
            
                Le candidat a accepter la demande d'entretien à condition de changer la date <span data-times="<%= date.strftime("%Y-%m-%d %H:%M") %>" class="currentDateEntretien"></span>
            
            
                <a class="btn btn-primary">ACCEPTER SA PROPOSTION</a> 
                <a class="btn btn-primary">REFUSER SA PROPOSTION ET SA CANDIDATURE</a>
            
            <!-- candidat a reffuser l'entretien -->
            <% elsif @agendas.repons_cadre == false %>
                <% show = false %>
                <div class="refus">
                    Le candidat a refusé l'entretien
                    <% unless @agendas.alternative.nil? %>
                    <div>
                        motif: <%= @agendas.alternative %>
                    </div>
                    <% end %>
                </div>

            <% else %>
                Demande d'entretien envoyer, en attente de réponse par le candidat.
            <% end %>
        </div>
        
        <% if show %> <!-- afficher ce petit compte à rebours mandona -->
        <div id="futureTimeClock" class="rscdf-item2" data-times="<%= @agendas.entretien_date.strftime("%Y-%m-%d %H:%M") %>">
            <h4>
                Temps restant avant l'entretien
            </h4>
            <div class="date-items">
                <div class="date">
                    <span id="js-days"></span>
                    <p>jours</p> 
                </div>
                <div class="date">
                    <span id="js-hours"></span>
                    <p>heures</p>
                </div>
                <div class="date">
                    <span id="js-minutes"></span>
                    <p>minutes</p>
                </div>
                <div class="date">
                    <span id="js-seconds">0</span>
                    <p>seconde</p>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    
</div>