<% if @agendas.repons_client && @agendas.repons_cadre && @agendas.alternative.nil? %> <% if @oFc.status == "waiting" || @oFc.status == "accepted" %>
    <% if @oFc.status == "waiting" %>
      <div class="dscdp-accepted" id="dscdp-waiting">
        <%= render partial: "recruteurs/repons_waiting" %>
      </div>
    <% else %>
      <div class="dscdp-accepted" id="dscdp-accepted">
        <%= render partial: "recruteurs/repons_accepted" %>
      </div>
    <%end %>
  <% else %>

<div id="js-main-bloc-information" class="dscdp-validation">
  <h3>Suivi recrutement</h3>

  <p>Vous avez rencontré <a href="#"><%= @cadre.cadre_info.first_name %> <%= @cadre.cadre_info.last_name %></a> le <strong> <%= @agendas.entretien_date.strftime("%d/%m/%Y") %></strong> , comment s'est déroulé votre entretien ?</p>

  <div class="dscdp-link">
    <div class="dscdp-link-item" id="accepted-js">
      <%= link_to notice_refused_post_path(repons: 'accepted', oFc_id: @oFc.id, offre_id: @offre.id, cadre_id: @cadre.id), method: :post, remote: :true do %>CANDIDAT RETENU <br />
      POUR LA PROCHAINE ETAPE<%end%>
    </div>
    <div class="dscdp-link-item" id="waiting-js">
      <%= link_to "CANDIDAT EN ATTENTE", notice_refused_post_path(repons: 'waiting', oFc_id: @oFc.id, offre_id: @offre.id, cadre_id: @cadre.id), method: :post, remote: :true, class:'link' %></div>
    <div class="dscdp-link-item"><span id="js-ca_confirmchoice">CANDIDAT REFUSE</span></div>

    <br />

    <!-- Alerte notification if refused candidat -->
    <div id="js-show_ca_confirmchoice" style="display: none" class="dscdp-refus">
      <p>Attention ! Ce candidat figure parmi les meilleurs du marché et ne peut vous être réservé exclusivement et nous portons à votre attention qu'une réponse rapide favorise la réussite du recrutement.</p>

      <div class="dscdpr-flex">
        <%= link_to "VOIR LE CANDIDAT", show_search_candidate_path(@cadre.id, offre_id: @offre.id) %> <%= link_to "Valider", notice_refused_post_path(repons: 'refused', oFc_id: @oFc.id, offre_id: @offre.id, cadre_id: @cadre.id), method: :post, remote: :true, id:"js-ca_confirmchoice" %>
        <div class="js-retour-choice">Annuler</div>
      </div>
    </div>
  </div>
  <div class="dscdp-contact">
    <a href="<%= show_my_messages_client_path(@cadre.id) %>">
      <img src="/image/chatS.png" alt="Icon chat" />
      <div>Chat en ligne</div>
    </a>
    <a href="mailto: <%= @cadre.cadre_info.mail %>">
      <img src="/image/mailS.png" alt="icon mail" />
      <div>Mail</div>
    </a>
    <a href="">
      <img src="/image/compteR.png" alt="icon compte rendu" />
      <div>Compte rendu</div>
    </a>
  </div>
</div>

<% end %>
<!-- fin choice status waiting || refusing -->

<% elsif @agendas.repons_cadre && @agendas.repons_client && !@agendas.alternative.nil? %> <% elsif @agendas.repons_cadre == false %> <% elsif @agendas.repons_client == false %> <% else %>
<div class="rscdp-empty">
  Le candidat n’a pas donné suite à votre demande d’entretien. Vous avez la possibilité de choisir un autre candidat dans la limite des
  <a href="#">5 candidats maximum</a>.
</div>
<% end %>

<div class="dscdp-accepted" id="dscdp-waiting" style="display: none;">
  <%= render partial: "recruteurs/repons_waiting" %>
</div>

<div class="dscdp-accepted" id="dscdp-accepted" style="display: none;">
  <%= render partial: "recruteurs/repons_accepted" %>
</div>

<script type="text/javascript">

  $('#accepted-js a').bind('ajax:complete', function() {
    $("#dscdp-accepted").show(500)
    $("#js-main-bloc-information").remove()
  });

  $("#waiting-js a").bind('ajax:complete', function() {
    $("#dscdp-waiting").show(500)
    $("#js-main-bloc-information").remove()
  });

</script>
