<% if @promise.repons_cadre %> <% unless @promise.payed %>
<div class="felicitation-box">
  <div class="felicitation" id="modal-unique">
    <h1>FELICITATIONS !</h1>
    <p>Le cadre vient d'accepter votre proposition d'embauche !</p>
    <p>Vous retrouverez la proposition signée dans votre profil. Nous sommes certains que votre collaboration sera couronnée de succès, mais dans tous les cas, une période de garantie de 12 semaines prend effet à compter de son démarrage. Vous pouvez désormais régler la prestation One in a Million et commencer un nouveau recrutement !</p>
    <p class="felicitation-btn"><%= link_to "PROCÉDER AU RÈGLEMENT", show_my_bills_path(@promise.facture.id)%></p>
  </div>
</div>
<% end %> <% if @promise.client_time_trying.nil? %>
<div class="validation-cadre-trying">
  <p>Vous devez valider la période d'essai le <%= @promise.time_trying %></p>
  <% if DateTime.strptime("#{@promise.time_trying}", '%j/%m/%Y').future? %>
  <!-- si non fin periode d'essai -->
  <div>
    <div class="vct-btn" onclick="alert('Validable à la fin de la période d\'essai (<%= @promise.time_trying %>).');">VALIDER LA PÉRIODE D'ESSAI</div>
    <div class="vct-btn" onclick="alert('Validable à la fin de la période d\'essai (<%= @promise.time_trying %>).');">RUPTURE DE LA PÉRIODE D'ESSAI</div>
  </div>
  <% else %>
  <!-- si fin periode d'essai -->
  <!-- actualise la page -->
  <div class="datte-past">
    <div class="vct-btn"><%= link_to validate_time_trying_client_path(confirm_token:@promise.confirm_token), method: :post do %> VALIDER LA PÉRIODE D'ESSAI <% end %></div>
    <div>
      <div class="vct-btn" id="show-form-js">Rupture de la période d’essai</div>
    </div>
    <%= form_tag(validate_time_trying_client_path, id:'hide-form-js', style:'display:none;') do %>
    <input type="hidden" name="confirm_token" value="<%= @promise.confirm_token %>" id="is_client_session" data-client="false" />
    <input type="date" name="date_rupture" class="input" required />
    <%= submit_tag("VALIDER") %> <% end %>
  </div>
  <% end %>
</div>
<% else %>
<div class="validation-cadre-trying">
  <% if @promise.client_time_trying %> Période d'essai validé avec succès. <% else %>
  <div class="hide" hidden><%= @promise.rupture_time_trying %></div>
  <div id="rupture"></div>
  <% end %> <% end %>
</div>

<div class="after-promise">
  <div class="ap-box">
    <div class="ap-left">
      <img src="/image/compteR.png" alt="icone" />
      <%= link_to "Promesse d'embauche", show_promise_to_hire_path(@promise.id) %>
    </div>
    <div class="ap-right"><%= link_to "TELECHARGER", promise_pdf_path(@promise) %></div>
  </div>
  <div class="ap-box">
    <div class="ap-left">
      <img src="/image/compteR.png" alt="icone" />
      CIN ou Passeport
    </div>
    <div class="ap-right"><%= link_to "TELECHARGER", @promise.cin_pass_port %></div>
  </div>
  <div class="ap-box">
    <div class="ap-left">
      <img src="/image/compteR.png" alt="icone" />
      Attestation de sécurité sociale
    </div>
    <div class="ap-right"><%= link_to "TELECHARGER", @promise.security_certificate %></div>
  </div>
  <div class="ap-box">
    <div class="ap-left">
      <img src="/image/compteR.png" alt="icone" />
      RIB
    </div>
    <div class="ap-right"><%= link_to "TELECHARGER", @promise.rib %></div>
  </div>
  <div class="ap-box">
    <div class="ap-left">
      <img src="/image/compteR.png" alt="icone" />
      CV
    </div>
    <div class="ap-right"><%= link_to "TELECHARGER", @cadre.cadre_info.cv %></div>
  </div>
</div>

<% else %>

<div class="dscdpa-box">
  <h3>Suivi recrutement</h3>
  <p>Promesse d'embauche envoyée en attente de la réponse du candidat</p>
  <div class="dscdp-link">
    <div class="dscdp-link-item"><%= link_to "Voir", show_promise_to_hire_path(@promise.id) %></div>

    <div class="dscdp-contact">
      <a href="<%= show_my_messages_client_path(@cadre.id) %>">
        <img src="/image/chatS.png" alt="Icon chat" />
        <div>Chat en ligne</div>
      </a>
      <a href="mailto: <%= @cadre.cadre_info.mail %>">
        <img src="/image/mailS.png" alt="icon mail" />
        <div>Mail</div>
      </a>
      <a href="">
        <img src="/image/compteR.png" alt="icon compte rendu" />
        <div>Compte rendu</div>
      </a>
    </div>
  </div>
</div>
<% end %>
<!-- call js 
 -->
<script type="text/javascript">
  $('#show-form-js').click(function () {
    if ($('#hide-form-js').is(':visible')) {
      $('#hide-form-js').hide(200);
    } else {
      $('#hide-form-js').show(200);
    }
  });
  var i = new Date($('.hide').html());
  var date = i.getDate();
  var year = i.getFullYear();
  var month = i.getMonth() + 1;
  if (date < 10) {
    date = '0' + date;
  }
  if (month < 10) {
    month = '0' + month;
  }
  $('#rupture').html('Rupture de la période d’essai : ' + date + '/' + month + '/' + year + '.');
</script>
<script data-turbolinks-track="reload" src="/js/congratulation_cadre.js"></script>
