<!-- appel css  -->
<% content_for :head_style do %>
<link rel="stylesheet" href="/css/create_offre.css" />
<% end %>

<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left"><%= render "recruteurs/left_link_bar" %></div>
  <div class="cp-box">
    <div class="create-offre-box">
      <div class="travel-creation">
        <div class="travelc-image">
          <div class="circle color-bg">1</div>
          <div class="line ir-l1"></div>
          <div class="circle ir-c1">2</div>
          <div class="line ir-l2"></div>
          <div class="circle ir-c2">3</div>
        </div>
        <ol>
          <li>Détails du poste</li>
          <li>Contexte de l'offre</li>
          <li>Publication</li>
        </ol>
      </div>
      <%= form_for @offre , url: updateJob_path(@offre.id) do |f| %>
      <div class="detail-post-box">
        <label>LOCALISATION</label>
        <div class="dp-input hide-right">
          <select id="paysInput" name="offre_job[country]" class="co-select" autofocus>
            <option value="France" selected>France</option>
          </select>
        </div>
        <span class="input-error country-error"></span>

        <div class="dp-input hide-right"><%= f.select :region, options_for_select([]),{}, class:'co-select', disabled:false, required:true, id:'regionInput', title:'Région',autocomplete: "region" %></div>
        <span class="input-error region-error"></span>

        <div class="dp-input hide-right"><%= f.select :department, options_for_select([]),{}, class:'co-select', disabled:false, required:true, id:'departmentInput', title:'Département',autocomplete: "departement" %></div>
        <span class="input-error departement-error"></span>

        <label for="metier-input">Fonction</label>
        <div class="dp-input">
          <select class="co-select" id="metier-input" name="metier_name" required>
            <option value="<%= @offre.metier.name %>" selected hidden><%= @offre.metier.name %></option>
            <% @metiers.each do |metier| %>
            <option value="<%= metier.name %>"><%= metier.name %></option>
            <% end %>
          </select>
        </div>
        <span class="input-error intitule-pote-error"></span>

        <%= f.label :intitule_pote, "INTITULÉ DU POSTE" %>
        <div class="dp-input"><%= f.text_field :intitule_pote, required:true , id:'intitule-pote'%></div>
        <span class="input-error intitule-pote-error"></span>

        <%= f.label :descriptif_mission, "DESCRIPTIF DES MISSIONS" %>
        <div class="dp-input">
          <textarea id="descriptif-mission">
<%= @offre.descriptif_mission.gsub('[sp]', ' &#160; ').gsub('[nl]', '
            ').html_safe%> </textarea
          >
          <%= f.text_area :descriptif_mission, required:true,id:'descriptif-mission2', style:'display: none' %>
        </div>
        <span class="input-error descriptif-mission-error"></span>

        <%= f.label :rattachement, "RATTACHEMENT HIÉRARCHIQUE" %>
        <div class="dp-input"><%= f.text_field :rattachement, required:true,id:'rattachement' %></div>
        <span class="input-error rattachement-error"></span>

        <%= f.label :remuneration, "RÉMUNÉRATION PROPOSÉE FIXE (K€ BRUTS ANNUELS)" %>
        <div class="dp-input dp-input-renumeration">
          <div class="dp-input-flex">
            <span class="span1">60</span>
            <%= f.range_field :remuneration, min:60, max:350,required:true, id:"remuneration"%>

            <span class="span1">350</span>
          </div>
          <div class="value-renum" id="value-renum">
            <div id="inputRange-div"><b id="inputRange">205</b></div>
          </div>
        </div>

        <%= f.label :remuneration_anne, "RÉMUNÉRATION PROPOSÉE VARIABLE (K€ BRUTS ANNUELS)" %>

        <div class="dp-input hide-right">
          <select id="remuneration-anne" name="offre_job[remuneration_anne]" class="co-select">
            <option value="<%= @offre.remuneration_anne.to_i %>" selected hidden><%= @offre.remuneration_anne.to_i %></option>
            <% i = 0 %> <%21.times do %>
            <option value="<%= i %>"><%= i %></option>
            <%i += 5 %><% end %>
          </select>
        </div>
        <span class="input-error remuneration-anne-error"></span>

        <label class="dp-input dp-input-checkbox1">
          Contrat CDI <% if @offre.contrat_cdi %>
          <input type="checkbox" value="1" name="offre_job[contrat_cdi]" id="offre_job_contrat_cdi" checked="checked" />
          <% else %>
          <input type="checkbox" value="1" name="offre_job[contrat_cdi]" id="offre_job_contrat_cdi" />
          <% end %>
          <span class="checkmark"></span>
        </label>

        <%= f.label :type_deplacement, "LE POSTE IMPLIQUE-T-IL DES DÉPLACEMENTS ?" %>
        <div class="dp-input hide-right">
          <select id="type-deplacement" name="offre_job[type_deplacement]" class="co-select">
            <option value="<%= @offre.type_deplacement %>" selected hidden><%= @offre.type_deplacement_name %></option>
            <option value="0">Pas de déplacements</option>
            <option value="1">Nationaux</option>
            <option value="2">Internationaux</option>
            <option value="3">Régionaux</option>
          </select>
        </div>
        <span class="input-error type-deplacement-error"></span>

        <%= f.label :type_deplacement, "DATE DE PRISE DE POSTE" %>
        <div class="dp-input">
          <input type="text" name="offre_job[date_poste]" id="datepicker" required value="<%= @offre.date_poste %>" />
        </div>
        <span class="input-error dp-date-error"></span>

        <div class="co-dp-btn" id="co-dp-btn">SUIVANT</div>
        <span class="input-error" id="co-dp-btn-error"></span>
      </div>

      <div class="context-offre-box">
        <%= f.label :question1, "QUELLE POURRAIT-ÊTRE LA RÉMUNÉRATION MAXIMALE POUR LE CANDIDAT IDÉAL ?", class:"ggag" %>
        <div class="co-input hide-right">
          <select id="question1" name="offre_job[question1]" class="co-select">
            <option value="<%= @offre.question1 %>" selected hidden><%= @offre.question1 %> k€ bruts annuels</option>
            <option value="60">60k€ bruts annuels</option>
            <option value="70">70k€ bruts annuels</option>
            <option value="80">80k€ bruts annuels</option>
            <option value="90">90k€ bruts annuels</option>
            <option value="100">100k€ bruts annuels</option>
            <option value="110">110k€ bruts annuels</option>
            <option value="120">120k€ bruts annuels</option>
            <option value="130">130k€ bruts annuels</option>
            <option value="140">140k€ bruts annuels</option>
            <option value="150">150k€ bruts annuels</option>
            <option value="160">160k€ bruts annuels</option>
            <option value="170">170k€ bruts annuels</option>
            <option value="180">180k€ bruts annuels</option>
            <option value="190">190k€ bruts annuels</option>
            <option value="200">90k€ bruts annuels</option>
            <option value="210">210k€ bruts annuels</option>
            <option value="220">220k€ bruts annuels</option>
            <option value="230">230k€ bruts annuels</option>
            <option value="240">240k€ bruts annuels</option>
            <option value="250">250k€ bruts annuels</option>
            <option value="260">260k€ bruts annuels</option>
            <option value="270">270k€ bruts annuels</option>
            <option value="280">280k€ bruts annuels</option>
            <option value="290">290k€ bruts annuels</option>
            <option value="300">300k€ bruts annuels</option>
            <option value="310">310k€ bruts annuels</option>
            <option value="320">320k€ bruts annuels</option>
            <option value="330">330k€ bruts annuels</option>
            <option value="340">340k€ bruts annuels</option>
            <option value="350">350k€ bruts annuels</option>
          </select>
        </div>
        <span class="input-error" id="question1-error"></span>

        <%= f.label :question2, "QUE POUVEZ-VOUS DIRE AUX CANDIDATS POUR LEUR DONNER L’ENVIE DE TRAVAILLER CHEZ VOUS ?", class:"ggag" %>
        <div class="co-input"><%= f.text_area :question2, required:true,id:'question2' %></div>
        <span class="input-error" id="question2-error"></span>

        <%= f.label :numberEntretien, "QUEL SERA VOTRE PROCESSUS DE RECRUTEMENT ?", class:"ggag" %>
        <div class="co-input hide-right">
          <select id="question3" name="offre_job[numberEntretien]" class="co-select">
            <option value="<%= @offre.numberEntretien %>" selected hidden><% case @offre.numberEntretien.to_i %><% when 1 %>1 entretien RH<% when 2 %>1 entretien RH + 1 entretien Manager<% when 3 %>1 entretien RH + 2 entretiens Manager<% end %></option>
            <option value="1">1 entretien RH</option>
            <option value="2">1 entretien RH + 1 entretien manager</option>
            <option value="3">1 entretien RH + 2 entretiens manager</option>
          </select>
        </div>
        <span class="input-error" id="question3-error"></span>

        <label>POURRIEZ-VOUS SUPPORTER UN PRÉAVIS SUR CE POSTE ?</label>
        <div class="co-input cp-input-check">
          <label class="cp-input-ckeck-label">
            OUI <%= f.radio_button :question4, 'OUI', :checked => true, class:"form-check-input" ,id:'cp-input-check' %>
            <span class="cp-radio"></span>
          </label>
          <label class="cp-input-ckeck-label">
            NON <%= f.radio_button :question4, 'NON', class:"form-check-input" ,id:'cp-input-check'%>
            <span class="cp-radio"></span>
          </label>
        </div>

        <%= f.label :question5, "PRÉSENTER LE CONTEXTE D’OUVERTURE DE CE POSTE.", class:"ggag" %>
        <div class="co-input hide-right">
          <select id="question5" name="offre_job[question5]" class="co-select">
            <option value="<%= @offre.question5 %>" selected hidden><%= @offre.question5 %></option>
            <option value="Remplacement">Remplacement</option>
            <option value="Départ à la retraite">Départ à la retraite</option>
            <option value="Création de poste">Création de poste</option>
            <option value="Croissance de l'entreprise">Croissance de l'entreprise</option>
          </select>
        </div>
        <span class="input-error" id="question5-error"></span>

        <div class="co-input co-input-image">
          <div class="c" id="addImage" style="background: url(<%= @offre.image%>) center no-repeat; background-size: cover"></div>
          <label>
            <p class="first-p">Logo entreprise</p>
            <p class="last-p">Télécharger une image</p>
            <span style="display: none"> <%= f.file_field :image , class:'input_fied', accept:".jpg,.jpeg,.gif,.png,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" %> </span>
          </label>
        </div>

        <div class="co-input co-input-submit co-input-submit2" id="co-input-submit3"><%= f.submit("VALIDER") %></div>
        <br />
        <span class="input-error" id="co-dp-btn1-error"></span>
      </div>

      <% end %>
      <p>*Ces détails seront visibles par les candidats.</p>
    </div>
  </div>
</div>
<!-- call js  -->
<script>
  //fixed form description
  $('#descriptif-mission').on('input', function () {
    let text = $(this).val();
    text = text.replace(/ /g, '[sp]');
    text = text.replace(/\n/g, '[nl]');
    $('#descriptif-mission2').val(text);
  });
</script>
<script data-turbolinks-track="reload" type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- date picker jquery  -->
<script data-turbolinks-track="reload" type="text/javascript" src="/js/event_input_offre_job.js"></script>
