<!-- call css  -->
<% content_for :head_style do %>
<link rel="stylesheet" href="/css/favorite_candidates.css" />
<% end %>
<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left"><%= render "recruteurs/left_link_bar" %></div>
  <div class="cp-box">
    <div class="fc-box">
      <h3 class="title">MES CANDIDATS FAVORIS</h3>
      <% if @offres.empty? %>

      <div class="co-any-job">
        <p>Vous n'avez pas publié d'offre d'emploi pour le moment.</p>
        <%= link_to "PUBLIER UNE OFFRE", newJob_path %>
      </div>

      <% else %> <% @offres.each do |offre| %>
      <hr />
      <div class="fc-body">
        <h2><%= link_to show_favorite_cadres_path(offre.id) do%> <img src="/image/work.png"
            alt="icone work" /><%= offre.intitule_pote%><%end%></h2>

        <% if offre.my_top_five_candidates.empty? %>
        <div class="fc-body-empty">
          <h3>Aucun candidat selectionné pour cette offre</h3>
          <div class="show-pb2-btn">
            <div>
              <%= link_to "VOIR NOTRE SÉlECTION", our_selection_path(offre.id) %>
            </div>
            <div>
              <%= link_to "RECHERCHE CANDIDATS", search_candidate_path(offre.id) %>
            </div>
          </div>
        </div>
        <% else %>

        <div class="my_five_candidates">
          <% offre.my_top_five_candidates.each do |oFc| %>
          <div class="cadre-items">
            <%= link_to show_search_candidate_path(oFc.cadre.id, offre_id: offre.id), method: :get do %>
            <div class="c"
              style="background: url(<%= oFc.cadre.cadre_info.image%>) center no-repeat; background-size: cover"></div>
            <% end %>
            <h3 class="name"><%= oFc.cadre.cadre_info.first_name %> <%= oFc.cadre.cadre_info.last_name[0] %>.</h3>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
      <hr />
      <% end %> <% end %>
    </div>
  </div>
</div>