<div class="row">
	<div class="col-sm-3">
		<%= render partial: "recruteurs/left_link_bar" %>
	</div>

	<div class="col-sm-9">
		<%= link_to "PUBLIER UNE OFFRE", newJob_path %>
		<!-- <h1>Mes offres d’emploi</h1> -->
		<% if @offres.empty? %>
			<p>Vous n'avez pas publié d'offre d'emploi pour le moment.</p>
			<%= link_to "PUBLIER UNE OFFRE", newJob_path %>
		<% else %>
			<table class="table table-hover">
			  <tbody>
				<% @offres.each do |offre| %>
				    <tr>
				    	<td><%= offre.intitule_pote %></td>
				    	<td>
							<%= link_to "VOIR L'OFFRE", showNewJob_path(offre.id), class: 'btn btn-primary' %>
						</td>
				    </tr>
				<% end %>
			  </tbody>
			</table>
		<% end %>
	</div>
</div>
