<% content_for :head_style do %>
<link rel="stylesheet" href="/css/message.css" />

<link rel="stylesheet" href="/css/show_message.css" />
<% end %>
<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left"><%= render "recruteurs/left_link_bar" %></div>
  <div class="cp-box">
    <div class="message-box">
      <h5 class="title">Chats</h5>
      <div class="message-content">
        <% unless @contactListes.empty? %> <% @contactListes.each do |contact| %> <% nbr = contact.mp_client_not_see %>
        <hr />
        <div class="message-contact-items">
          <div id="image"
            style="background: url(<%= contact.cadre.cadre_info.image%>) center no-repeat; background-size: cover">
            <% if contact.cadre.is_online? %>
            <span class="connected"></span>
            <% end %>
          </div>
          <a href="<%= show_my_messages_client_path(contact.cadre.id) %>"
            class="link <% unless nbr == 0 %>color<% end %>" data-remote="true">
            <div class="name">
              <%= contact.cadre.cadre_info.first_name %> <%= contact.cadre.cadre_info.last_name %><% unless nbr == 0 %>
              <span id="number-unsee">(<%= nbr %>)</span>
              <% end %>
            </div>

            <div class="mp">
              <% if contact.message_client_cadres.last.is_client %>
              <span class="span">Vous : </span>
              <%end%>
              <span class="content"> <%= contact.message_client_cadres.last.content.truncate(110) %> </span>
            </div>
            <% unless contact.cadre.is_online? %>
            <div class="not-connected">connectée il y a <%= time_ago_in_words(contact.cadre.online_time) %></div>
            <% end %>
          </a>
        </div>
        <% end %> <% else %>
        <center>Aucun nouveau message</center>
        <% end %>
      </div>
    </div>
    <div id="chat-out"></div>
  </div>
</div>