<!-- appel css  -->
<link rel="stylesheet" href="/css/create_offre.css" />
<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left"><%= render "recruteurs/left_link_bar" %></div>
  <div class="cp-box">
    <div class="create-offre-box">
      <div class="travel-creation" id="elementtoScrollToID">
        <div class="travelc-image">
          <div class="circle color-bg">1</div>
          <div class="line ir-l1"></div>
          <div class="circle ir-c1">2</div>
          <div class="line ir-l2"></div>
          <div class="circle ir-c2">3</div>
        </div>
        <ol>
          <li>Détails du poste</li>
          <li>Contexte de l'offre</li>
          <li>Publication</li>
        </ol>
      </div>
      <%= form_for @offre , url: createJob_path do |f| %>
      <div class="detail-post-box">
        <label>LOCALISATION</label>
        <div class="dp-input hide-right"><%= f.select :country , options_for_select([["France", "France"]]),{}, class:'co-select', required:true, id:'paysInput', title:'Pays',autofocus:true%></div>
        <span class="input-error country-error"></span>

        <div class="dp-input hide-right"><%= f.select :region, options_for_select([]),{}, class:'co-select', disabled:false, required:true, id:'regionInput', title:'Région',autofocus:true %></div>
        <span class="input-error region-error"></span>

        <div class="dp-input hide-right"><%= f.select :department, options_for_select([]),{}, class:'co-select', disabled:false, required:true, id:'departmentInput', title:'Département',autofocus:true %></div>
        <span class="input-error departement-error"></span>

        <%= f.label :intitule_pote, "INTITULÉ DU POSTE" %>
        <div class="dp-input"><%= f.text_field :intitule_pote, required:true , id:'intitule-pote',autofocus:true%></div>
        <span class="input-error intitule-pote-error"></span>

        <%= f.label :descriptif_mission, "DESCRIPTIF DES MISSIONS" %>
        <div class="dp-input"><%= f.text_area :descriptif_mission, required:true,id:'descriptif-mission',autofocus:true %></div>
        <span class="input-error descriptif-mission-error"></span>

        <%= f.label :rattachement, "RATTACHEMENT HIÉRARCHIQUE" %>
        <div class="dp-input"><%= f.text_field :rattachement, required:true,id:'rattachement',autofocus:true %></div>
        <span class="input-error rattachement-error"></span>

        <%= f.label :remuneration, "RÉMUNÉRATION PROPOSÉE FIXE (K€ BRUTS ANNUELS)" %>
        <div class="dp-input dp-input-renumeration">
          <div class="dp-input-flex">
            <span class="span1">60</span>
            <%= f.range_field :remuneration, min:60, max:350,required:true, id:"remuneration"%>

            <span class="span1">350</span>
          </div>
          <div class="value-renum" id="value-renum">
            <div id="inputRange-div"><b id="inputRange">205</b></div>
          </div>
        </div>

        <%= f.label :remuneration_anne, "RÉMUNÉRATION PROPOSÉE VARIABLE (K€ BRUTS ANNUELS)" %>
        <div class="dp-input hide-right"><%= f.select :remuneration_anne, options_for_select([["1", "1"],["2", "2"],["3", "3"],["4", "4"],["5", "5"],["6", "6"],["7", "7"],["8", "8"],["9", "9"],["10", "10"]]),{}, class:'co-select', required:true, id:'remuneration-anne',autofocus:true %></div>
        <span class="input-error remuneration-anne-error"></span>

        <label class="dp-input dp-input-checkbox1">
          Contrat CDI
          <input type="checkbox" value="1" name="offre_job[contrat_cdi]" id="offre_job_contrat_cdi" autofocus="true" required checked readonly />
          <span class="checkmark"></span>
        </label>

        <%= f.label :type_deplacement, "LE POSTE IMPLIQUE-T-IL DES DÉPLACEMENTS ?" %>
        <div class="dp-input hide-right">
          <%= f.select :type_deplacement, options_for_select([["Pas de déplacements","Pas de déplacements"],["Nationaux","Nationaux"],["Régionaux","Régionaux"],["Internationaux", "Internationaux"]]), {}, required:true, class:'co-select',id:'type-deplacement',autofocus:true %>
        </div>
        <span class="input-error type-deplacement-error"></span>

        <%= f.label :type_deplacement, "DATE DE PRISE DE POSTE" %>
        <div class="dp-input"><%= f.text_field :date_poste, required:true,id:'datepicker',autofocus:true %></div>
        <span class="input-error dp-date-error"></span>

        <div class="co-dp-btn" id="co-dp-btn">SUIVANT</div>
        <span class="input-error" id="co-dp-btn-error"></span>
      </div>

      <div class="context-offre-box">
        <%= f.label :question1, "QUELLE POURRAIT-ÊTRE LA RÉMUNÉRATION MAXIMALE POUR LE CANDIDAT IDÉAL ?", class:"ggag" %>
        <div class="co-input hide-right">
          <%= f.select :question1, options_for_select([["60 k€ bruts annuels", "60 k€ bruts annuels"],["70 k€ bruts annuels", "70 k€ bruts annuels"],["80 k€ bruts annuels", "80 k€ bruts annuels"],["90 k€ bruts annuels", "90 k€ bruts annuels"],["100 k€ bruts annuels", "100 k€ bruts annuels"],["110 k€
          bruts annuels", "110 k€ bruts annuels"],["120 k€ bruts annuels", "120 k€ bruts annuels"],["130 k€ bruts annuels", "130 k€ bruts annuels"],["140 k€ bruts annuels", "140 k€ bruts annuels"],["150 k€ bruts annuels", "150 k€ bruts annuels"],["160 k€ bruts annuels", "160 k€ bruts annuels"],["170
          k€ bruts annuels", "170 k€ bruts annuels"], ["180 k€ bruts annuels", "180 k€ bruts annuels"],["190 k€ bruts annuels", "190 k€ bruts annuels"],["200 k€ bruts annuels", "200 k€ bruts annuels"],["210 k€ bruts annuels", "210 k€ bruts annuels"],["220 k€ bruts annuels", "220 k€ bruts
          annuels"],["230 k€ bruts annuels", "230 k€ bruts annuels"],["240 k€ bruts annuels", "240 k€ bruts annuels"],["250 k€ bruts annuels", "250 k€ bruts annuels"],["260 k€ bruts annuels", "260 k€ bruts annuels"],["270 k€ bruts annuels", "270 k€ bruts annuels"],["280 k€ bruts annuels", "280 k€
          bruts annuels"],["290 k€ bruts annuels", "290 k€ bruts annuels"],["300 k€ bruts annuels", "300 k€ bruts annuels"],["310 k€ bruts annuels", "310 k€ bruts annuels"],["320 k€ bruts annuels", "320 k€ bruts annuels"],["330 k€ bruts annuels", "330 k€ bruts annuels"],["340 k€ bruts annuels", "340
          k€ bruts annuels"],["350 k€ bruts annuels", "350 k€ bruts annuels"]]),{}, class:'co-select', id:'question1' , required:true,autofocus:true %>
        </div>
        <span class="input-error" id="question1-error"></span>

        <%= f.label :question2, "QUE POUVEZ-VOUS DIRE AUX CANDIDATS POUR LEUR DONNER L’ENVIE DE TRAVAILLER CHEZ VOUS ?", class:"ggag" %>
        <div class="co-input"><%= f.text_area :question2, required:true,id:'question2',autofocus:true %></div>
        <span class="input-error" id="question2-error"></span>

        <%= f.label :numberEntretien, "QUEL SERA VOTRE PROCESSUS DE RECRUTEMENT ?", class:"ggag" %>
        <div class="co-input hide-right"><%= f.select :numberEntretien, options_for_select([[ "1 entretien RH","1"],[ "1 entretien RH + 1 entretien manager","2"],[ "1 entretien RH + 2 entretiens Manager","3"]]),{}, class:'co-select', required:true,id:'question3',autofocus:true %></div>
        <span class="input-error" id="question3-error"></span>

        <label>POURRIEZ-VOUS SUPPORTER UN PRÉAVIS SUR CE POSTE ?</label>
        <div class="co-input cp-input-check">
          <label class="cp-input-ckeck-label">
            OUI <%= f.radio_button :question4, 'OUI', :checked => true, class:"form-check-input" ,id:'cp-input-check' %>
            <span class="cp-radio"></span>
          </label>
          <label class="cp-input-ckeck-label">
            NON <%= f.radio_button :question4, 'NON', class:"form-check-input" ,id:'cp-input-check'%>
            <span class="cp-radio"></span>
          </label>
        </div>

        <%= f.label :question5, "PRÉSENTER LE CONTEXTE D’OUVERTURE DE CE POSTE.", class:"ggag" %>
        <div class="co-input hide-right"><%= f.select :question5, options_for_select([[ "Remplacement" ],[ "Départ à la retraite" ],[ "Création de poste" ],[ "Croissance de l'entreprise" ]]),{}, class:'co-select', required:true,id:'question5' ,autofocus:true %></div>
        <span class="input-error" id="question5-error"></span>

        <div class="co-input co-input-image">
          <div class="c" id="addImage" style="background: url(/image/picture.png) center no-repeat; background-size: cover"></div>
          <label>
            <p class="first-p">Logo entreprise</p>
            <p class="last-p">Télécharger une image</p>
            <span style="display: none"> <%= f.file_field :image , class:'input_fied', accept:".jpg,.jpeg,.gif,.png,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" %> </span>
          </label>
        </div>

        <div class="co-input co-input-submit co-input-submit1" id="co-input-submit"><%= f.submit("APERCU AVANT PUBLICATION") %></div>

        <div class="co-input co-input-submit co-input-submit1" id="co-input-submit-1"><%= f.submit("APERCU") %></div>
        <br />
        <span class="input-error" id="co-dp-btn1-error"></span>
      </div>

      <% end %>
      <p>*Ces détails seront visibles par les candidats.</p>
    </div>
  </div>
</div>

<!-- call js  -->
<script data-turbolinks-track="reload" type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- date picker jquery  -->
<script data-turbolinks-track="reload" type="text/javascript" src="/js/event_input_offre_job.js"></script>
