<h1>Cree une offre</h1>


Détails du poste <br>

	-Localisation <br>
	- <br>

/recruteur/publier-offre <br>




<%= form_for @offre , url: createJob_path do |f| %>
	<div class="form-group">
		<%= f.label :question1, "Que faites-vous actuellement et que recherchez-vous comme type de poste ?", class:"ggag" %>
		<%= f.text_area :question1, rows:3, class:"form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :image, "Photo de profil" %>
		<%= f.file_field :image %>
	</div>

	<div class="form-group">
		<%= f.submit("APERÇU") %>
	</div>
<% end %>