<% content_for :head_style do %>
<link rel="stylesheet" href="/css/notification.css" />
<% end %>
<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left"><%= render "recruteurs/left_link_bar" %></div>
  <div class="cp-box">
    <div class="notification-box">
      <h5 class="title">NOTIFICATIONS</h5>
      <% unless @notifications.empty?%>
        <% @notifications.each do |noficication| %>
        <hr>
        <a href="<%= noficication.link %>" class="notif-link <% unless noficication.view %>seen<% end %>">
          <div class="notification-content">
            <div class="c" style="background: url(<%= noficication.cadre_info.image %>) center no-repeat; background-size: cover"></div>
            <div class="nc-item">
              <p class="name"><%= noficication.object %></p>
              <p class="notif"><%= noficication.message %></p>
              <div data-times="<%= noficication.created_at.strftime("%Y-%m-%d %H:%M") %>" class=" currentDateEntretien"></div>
            </div> 
          </div>
        </a>
      	<% end %>
      <% else %>
      	Aucune notification ...
      <% end %>
    </div>
  </div>
</div>
<!-- call js  -->
<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>
<script type="text/javascript">
  if (document.URL.indexOf('#') == -1) {
    url = document.URL + '#';
    location = '#';
    location.reload(true);
  }
    var month = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'];
  var day = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
  let $elementDate = $('.currentDateEntretien');

  $elementDate.each(function () {
    let dateUTC = moment.utc($(this).data().times);
    let dateGet = new Date(dateUTC.local());
    var minut =  dateGet.getMinutes();
    var hour =  dateGet.getHours();
    var daily =  dateGet.getDate();
    var today =  day[dateGet.getDay()];
    if (daily < 10) {
      daily = "0" + daily;
    }
    if (minut < 10) {
      minut = "0" + minut;
    }
    if (hour < 10) {
      hour = "0" + hour;
    }
    let dateString =  today + ' ' + daily + ' ' + month[dateGet.getMonth()] + ' ' + dateGet.getFullYear();
    $(this).html(dateString + ' à ' + hour + 'h:'+ minut);
  });
</script>