<%= form_for @offre , url: createJob_path do |f| %>
	<div class="form-group">
		<%= f.label :intitule_pote, "INTITULÉ DU POSTE" %>
		<%= f.text_field :intitule_pote, required:true, class:"form-control" %>
	</div>

<% end %>

DONNÉE CANDIDAT

 
<%= @cadre.first_name %>
<%= @cadre.last_name %>

date de naissance
Lieu de naissance
N° sécurité sociale

DONNE récruteur
<%= @client.image %>
<%= @job.intitule_pote %>
<%= @job.contrat_cdi %>


<%= @job.date_poste %>

Rémunération fixe: <%= @job.remuneration %>
(k€ bruts mensuels)

12mois
13mois
Personnalisé



Rémunération variable === OUI (10%) ou NON 
(k€ bruts annuels)
<%= @job.remuneration_anne %>


Précalcul honoraires OIAM
 11550€


Avantages ou autre précision sur la rénumération {
	Voiture de fonction 
	Tickets restaurants valeur nominale 8€ 
	prise en charge 50% 
	Mutuelle
	Intéressements + participation
}

Date de validité [input date]


Signature électronique
	entreprise

Signature électronique
	candidat


ENVOYER

