<div class="row">
	<div class="col-sm-3">
		<%= render partial: "recruteurs/left_link_bar" %>
	</div>

	<div class="col-sm-9">
		<center>PROMESSE D'EMBAUCHE</center>
		<%= form_for @promise , url: createJob_path do |f| %>
		<div class="row">
			<div class="col-sm-6">
				<div><%= @client.image %></div>
				<div><%= @job.intitule_pote %></div>
				<div><%= @job.contrat_cdi %></div>
			</div>
			
			<div class="col-sm-6">
				<div><%= @cadre.first_name %></div>
				<div><%= @cadre.last_name %></div>
				<div>					
					<%= f.text_field :birthday_cadre, disabled:true, value:'date de naissance' %>
				</div>
				<div>
					Lieu de naissance
				</div>
				<div>
					N° sécurité sociale
				</div>

			</div>
		</div>
<!-- 
birthday_cadre
birthplace_cadre
ns_sociale_cadre
date_poste
remuneration_fixe
remuneration_fixe_date
remuneration_variable
remuneration_var_info
price
remuneration_avantage
date_de_validite
signature_entreprise
signature_candidat -->


		<div class="form-group">
			<%= f.label :birthplace_cadre, "INTITULÉ DU POSTE" %>
			<%= f.text_field :birthplace_cadre, required:true, class:"form-control" %>
		</div>





<%= @job.date_poste %>

Rémunération fixe: <%= @job.remuneration %>
(k€ bruts mensuels)

12mois
13mois
Personnalisé



Rémunération variable === OUI (10%) ou NON 
(k€ bruts annuels)
<%= @job.remuneration_anne %>


Précalcul honoraires OIAM
 11550€


Avantages ou autre précision sur la rénumération {
	Voiture de fonction 
	Tickets restaurants valeur nominale 8€ 
	prise en charge 50% 
	Mutuelle
	Intéressements + participation
}

Date de validité [input date]


Signature électronique
	entreprise

Signature électronique
	candidat


ENVOYER



	<% end %>
	</div>

</div>