<!-- call css  -->
<% content_for :head_style do %>
<link rel="stylesheet" href="/css/recrutement_show_cadre.css" />
<% end %>
<!-- body html   -->
<div class="client-column">
  <div class="client-menu-left"><%= render "recruteurs/left_link_bar" %></div>
  <div class="cp-box">
    <div class="rsc-box">
      <div class="rsc-header"><%= render partial: "recruteurs/rsc_header" %></div>
      <div id="container-element" class="rsc-body">
        <% if @oFc.status == "refused" %>
        <!-- if candidature refusé -->
        <div class="rsc-body-refuse"><%= render partial: "recruteurs/repons_refused" %></div>
        <% else %>
        <!-- if candidate in a laste stape namely "promesse d'embauche" -->
        <!-- if etapes -->
        <% if @oFc.etapes == @offre.numberEntretien + 1 %>
        <div class="rsc-body-promise"><%= render partial: "recruteurs/rsc_promise" %></div>
        <% else %>
        <!-- if aucun entretien -->
        <% if @agendas.nil? %>
        <div class="rsc-body-empty">
          <p>Vous n'avez pas encore planifié d'entretien avec ce candidat.</p>
          <div class="link"><%= link_to "PLANIFIER UN ENTRETIEN", show_search_candidate_path(@cadre.id, offre_id: @offre.id)%></div>
        </div>

        <% else %>
        <!-- condition pour afficher si la date est passé ou non? -->
        <!-- if date entretien future -->
        <% if @agendas.entretien_date > DateTime.now.utc %>
        <div class="rsc-date-futur"><%= render partial: "recruteurs/rsc_entretien_date_futur" %></div>
        <% else %>
        <!-- si la date de l'entretien est passé -->
        <div class="rsc-date-past"><%= render partial: "recruteurs/rsc_entretien_date_past" %></div>
        <% end %>
        <!-- fin if date entretien future -->
        <% end %>
        <!-- fin if aucun entretien -->
        <% end %>
        <!-- fin if etapes -->
        <% end %>
        <!-- fin if candidature refusé -->
      </div>
      <!-- fin container element -->
      <% if @oFc.etapes < @offre.numberEntretien %>
      <div class="ssc-planification" id="hiddenElementInRetour">
        <div class="hiddenDate" style="display: none" id="js-form-show">
          <%= form_tag(save_entretien_client_path, remote: true, id:"send-data-form") do %>

          <div class="date"><input type="text" name="date" id="datepicker" /></div>

          <div class="js-timeContainer" style="display: none">
            <h4 id="showDateLong"></h4>
            <div class="fselect">
              <span id="reditDate" class="badge badge-secondary">modifier la date</span>
              <div class="firstSelection">
                <div class="js-hoursTime" data-time="08:00">08:00</div>
                <div class="js-hoursTime" data-time="09:00">09:00</div>
                <div class="js-hoursTime" data-time="10:00">10:00</div>
                <div class="js-hoursTime" data-time="11:00">11:00</div>
              </div>
              <div class="firstSelection">
                <div class="js-hoursTime" data-time="12:00">12:00</div>
                <div class="js-hoursTime" data-time="13:00">13:00</div>
                <div class="js-hoursTime" data-time="14:00">14:00</div>
                <div class="js-hoursTime" data-time="15:00">15:00</div>
              </div>
              <div class="firstSelection">
                <div class="js-hoursTime" data-time="16:00">16:00</div>
                <div class="js-hoursTime" data-time="17:00">17:00</div>
                <div class="js-hoursTime" data-time="18:00">18:00</div>
                <div class="js-hoursTime" data-time="19:00">19:00</div>
              </div>
              <div>
                <label id="conditioncheck">
                  Adresse de l'entreprise
                  <input type="radio" checked="checked" required name="adresse" id="adresse1" value="<%= current_client.entreprise.adresse %>" class="js-input-adresse" data-value="none" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="with-input">
                <label id="conditioncheck">
                  Autre lieu :
                  <input type="radio" required name="adresse" id="adresse2" data-value="autre" class="js-input-adresse" />
                  <span class="checkmark"></span>
                </label>
                <input type="text" name="adresse_name" id="js-adresse_name_input" style="display: none" disabled="disabled" placeholder="L'adresse ..." class="with-input-item" />
              </div>
              <div>
                <label id="conditioncheck">
                  <%= current_client.last_name %> <%= current_client.first_name %>, <%= current_client.fonction %>
                  <input type="radio" checked="checked" required name="name" value="<%= current_client.first_name %> <%= current_client.last_name %>" id="name_client" class="js-input-name" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="with-input">
                <label id="conditioncheck">
                  Autre personne :
                  <input type="radio" required name="name" id="autre_personne" value="1" class="js-input-name" />
                  <span class="checkmark"></span>
                </label>
                <input type="text" name="client_name" id="client_name_input" style="display: none" disabled="disabled" placeholder="Nom et prénoms" class="with-input-item" />
              </div>

              <input type="hidden" name="time" id="input-time" />

              <input type="hidden" name="cadre_id" value="<%= @cadre.id %>" />

              <input type="hidden" name="offre_id" value="<%= @offre.id %>" />

              <div class="planQ-btn"><%= submit_tag("VALIDER", id:"valid-submit", disabled:"disabled" )%></div>
            </div>
          </div>
          <% end %>
        </div>

        <div id="send-data-form-ok-success" class="ssc-send" style="display: none">
          <h4>Demande d'entretien envoyée</h4>
          <img src="/image/check.png" alt="OK" />
          <div>
            <div class="datetime">
              <div id="dateShowOk"></div>
              <div id="timeShowOk"></div>
            </div>
            <div>
              <span id="adresseShowOk">
                <%= current_client.entreprise.adresse %> <br />
                <%= current_client.entreprise.city %>
              </span>
              <br />
              <span id="nameShowOk"> <%= current_client.fonction %> : <%= current_client.last_name %> <%= current_client.first_name %></span>
            </div>
            <div class="ssc-send-btn" id="last-validation">VALIDER</div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  if ($('#futureTimeClock')[0]) {
    if (document.URL.indexOf('#') == -1) {
      // Set the URL to whatever it was plus "#".
      url = document.URL + '#';
      location = '#';

      //Reload the page
      location.reload(true);
    }
  }

  $('#last-validation').click(function () {
    location.reload(true);
  });
</script>
<!-- call js  -->
<script type="text/javascript" src="/js/recrutement_show.js"></script>

<script data-turbolinks-track="reload" type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>

<script data-turbolinks-track="reload" type="text/javascript" src="/js/entretien_client.js"></script>

<script data-turbolinks-track="reload" type="text/javascript" src="/js/date_picker.js"></script>
