<style type="text/css">

	.container-flex{
		display: flex;
	}

	.container-oFc{
		border: 2px solid red;
		margin-left: 15px; 
		padding: 15px;
	}

	.pdp_mandona{
		width: 250px;
		height: 250px;
		border-radius: 50%;
	}

</style>

<div class="row">
	<div class="col-sm-3">
		<%= render partial: "recruteurs/left_link_bar" %>
	</div>

	<div class="col-sm-9">
		<% if @oFcs.empty? %>
			<h2>Aucun candidat selectionner</h2>
			<div class="show-pb2-btn">
	          <%= link_to "VOIR NOTRE SÉlECTION", our_selection_path(@offre.id), class:'btn btn-primary' %>
	          <%= link_to "RECHERCHE CANDIDATS", search_candidate_path(@offre.id), class:'btn btn-primary' %>
        	</div>
		<% else %>

		<div class="container-flex">
			<% @oFcs.each do |oFc| %>
				<div class="container-oFc">

				<%= link_to recruitment_show_cadre_path(oFc.id) do %>
					<div class="tonga-delien-doly">

						<%= image_tag(oFc.cadre.cadre_info.image, alt: 'photo de profil', class:"pdp_mandona" )%>

						<h3><%= oFc.cadre.cadre_info.first_name %> <%= oFc.cadre.cadre_info.last_name %></h3>

						poste: <strong><%= @offre.intitule_pote %></strong>
						<% if oFc.status == "refusé" %>
							Candidat refusé
						<% else %>
							<div class="info">
								le cadre est à l'étape n° : 
									<strong><%= oFc.etapes %></strong> <br>
								nombre d'etape total : 
									<strong><%= @offre.numberEntretien + 1 %></strong>
							</div>
						<% end %>
					</div>
				<% end %>
				</div>
			<% end %>
		</div>

		<% end %>
	</div>
</div>





