<!-- call css  -->
<link rel="stylesheet" href="/css/suivi_show_post.css" />
<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left"><%= render "recruteurs/left_link_bar" %></div>
  <div class="cp-box">
    <div class="rlc-box">
      <% if @oFcs.empty? %>
      <div class="rlc-empty">
        <h5>Aucun candidat selectionné</h5>
        <div class="show-pb2-btn"><%= link_to "VOIR NOTRE SÉlECTION", our_selection_path(@offre.id) %> <%= link_to "RECHERCHE CANDIDATS", search_candidate_path(@offre.id) %></div>
      </div>
      <% else %>
      <div class="rlc-content">
        <% @oFcs.each do |oFc| %> <%= link_to recruitment_show_cadre_path(oFc.id) do %>
        <div class="rlc-items">
          <div class="c" style="background: url(<%= oFc.cadre.cadre_info.image%>) center no-repeat; background-size: cover"></div>

          <h5><%= oFc.cadre.cadre_info.first_name %> <%= oFc.cadre.cadre_info.last_name %></h5>

          Poste : <strong><%= @offre.intitule_pote %></strong>

          <% if oFc.status == "refused" %>
          <div class="refus">
            <img src="/image/unvalid.png" alt="unvalid" />
            <p>Candidat refusé</p>
          </div>
          <% else %>
          <div class="loading">
            <div class="pre-load" style="width: <%= (oFc.etapes * 100)/ (@offre.numberEntretien + 1) %>%"></div>
          </div>
          <!-- <div class="info">
            le cadre est à l'étape n° :
            <strong><%= oFc.etapes %></strong> <br />
            nombre d'etape total :
            <strong><%= @offre.numberEntretien + 1 %></strong>
          </div> -->
          <% end %>
        </div>
        <% end %> <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
