<!-- call css  -->
<link rel="stylesheet" href="/css/searchcandidat.css" />
<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left"><%= render "recruteurs/left_link_bar" %></div>
  <div class="cp-box">
    <div class="select-cadre-box">
      <table class="table">
        <tr>
          <td>
            <div class="co-input hide-right">
              <select name="Localisation" id="cars" class:'co-select'>
                <option value="Localisation" disabled selected>Localisation</option>
                <option value="7500 Paris">7500 Paris</option>
                <option value="1500 OM">1500 OM</option>
                <option value="exemple">exemple</option>
              </select>
            </div>
          </td>
          <td>
            <div class="co-input hide-right">
              <select name="Fonction" id="cars" class:'co-select'>
                <option value="Fonction" disabled selected>Fonction</option>
                <option value="Directeur Marketing">Directeur Marketing</option>
                <option value="Manager">Manager</option>
                <option value="exemple">exemple</option>
              </select>
            </div>
          </td>
          <td>
            <div class="co-input hide-right">
              <select name="Rémunération" id="cars" class:'co-select'  >
                <option value="Rémunération" disabled selected>Rémunération</option>
                <option value="60 k€">60 k€</option>
                <option value="70 k€">70 k€</option>
                <option value="80 k€">80 k€</option>
                <option value="90 k€">90 k€</option>
                <option value="100 k€">100 k€</option>
                <option value="110 k€">110 k€</option>
                <option value="120 k€">120 k€</option>
                <option value="130 k€">130 k€</option>
                <option value="140 k€">140 k€</option>
                <option value="150 k€">150 k€</option>
                <option value="160 k€">160 k€</option>
                <option value="170 k€">170 k€</option>
                <option value="180 k€">180 k€</option>
                <option value="190 k€">190 k€</option>
                <option value="200 k€">200 k€</option>
                <option value="210 k€">210 k€</option>
                <option value="220 k€">220 k€</option>
                <option value="230 k€">230 k€</option>
                <option value="240 k€">240 k€</option>
                <option value="250 k€">250 k€</option>
                <option value="260 k€">260 k€</option>
                <option value="270 k€">270 k€</option>
                <option value="280 k€">280 k€</option>
                <option value="290 k€">290 k€</option>
                <option value="300 k€">300 k€</option>
                <option value="310 k€">310 k€</option>
                <option value="320 k€">320 k€</option>
                <option value="330 k€">330 k€</option>
                <option value="340 k€">340 k€</option>
                <option value="350 k€">350 k€</option>
              </select>
            </div>
          </td>
          <td>
            <div class="co-input hide-right">
              <select name="Disponibilité" id="cars" class:'co-select'  >
                <option value="Disponibilité" disabled selected>Disponibilité</option>
                <option value="IMMÉDIATE">IMMÉDIATE</option>
                <option value="PRÉAVIS 1 MOIS">PRÉAVIS 1 MOIS</option>
                <option value="PRÉAVIS 3 MOIS">PRÉAVIS 3 MOIS</option>
                <option value="PRÉAVIS 3 À 6 MOIS">PRÉAVIS 3 À 6 MOIS</option>
                <option value="PRÉAVIS > 6 MOIS">PRÉAVIS > 6 MOIS</option>
              </select>
            </div>
          </td>
          <td class="td-button">Recherche</td>
        </tr>
      </table>
      <div class="select-cadre-list">
        <div class="flex-candidates">
          <% 5.times do |i| %> <% if @topCinqs[i].nil? %>
          <div class="js-candidates-list" data-element="" data-info="true"></div>
          <% else %>
          <div class="js-candidates-list" data-element="" data-info="false"><%= image_tag(@topCinqs[i].cadre.cadre_info.image, alt: 'photo profil cadre', height:"150px", width:"100px" )%></div>
          <% end %> <% end %> <% if @topCinqs.count < 5 %>
          <div class="validation">
            <%= form_tag(add_top_five_candidate_path(@offre.id)) do %>
            <input type="hidden" name="cadre_ids" value="[]" id="input_cadre_ids" />
            <div class="submit-validation"><%= submit_tag("VALIDER MA SELECTION", id:'boutton-bottom',class:'validation-bt') %> <%= submit_tag("VALIDER ", id:'boutton-bottom',class:'validation-bt1') %></div>
            <% end %>
          </div>
          <% end %>
        </div>
        <div class="select-cadre-list-items">
          <% @cadres.each do |cadre| %>
          <div class="cadre-box">
            <div class="cadre-box-image">
              <div class="cbi-photo">
                <%= link_to show_search_candidate_path(cadre.id, offre_id: @offre.id), method: :get do %>
                  <div class="c " style="background: url(<%= cadre.cadre_info.image%>) center no-repeat; background-size: cover"></div>
                <% end %>
                  <%= image_tag(cadre.cadre_info.image, alt: 'photo profil cadre', class:"js-image-#{cadre.id} " ,style:'display:none')%> 
                </div>
              <div class="icone">
                <% oFc = @offre.is_in_this_job(cadre) %> <% if oFc.nil? || oFc.accepted_postule.nil? || oFc.accepted_postule == false %> <% if @topCinqs.count < 5 %>
                <img class="add-js-toFavorite" data-info="<%= cadre.id %>" src="/image/Vector-22.png" alt="logo oiam non favorie" />
                <% end %> <% else %>
                <img class="alreadyFavorite" src="/image/Vector-24.png" alt="logo oiam favorie" />
                <% end %>

                <img class="rmv-js-toFavorite" data-info="<%= cadre.id %>" src="/image/Vector-24.png" alt="logo oiam favorie" style="display: none" />
              </div>
            </div>
            <div class="cadre-box-info">
              <p class="name"><%= cadre.cadre_info.first_name %> <%= cadre.cadre_info.last_name[0].upcase %></p>
              <p class="compatibilite">Compatibilité : <span>60%</span></p>
              <p class="score">Score OIAM : <span>1700</span></p>
              <p class="poste">Type de poste : Manager Marketing</p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script data-turbolinks-track="reload" type="text/javascript" src="/js/add_favorite_cadre.js"></script>
