<% content_for :head_style do %>
<link rel="stylesheet" href="/css/suivi_show_post.css" />
<% end %>
<!-- body html  -->
<div class="client-column">
	<div class="client-menu-left"><%= render "recruteurs/left_link_bar" %></div>
	<div class="cp-box">
		<div class="adm-big-box">
			<div class="admin-message-box">
				<div class="name-box">
					<div id="image"
						style="background: white url(/image/profie.png) center no-repeat; background-size: cover">
					</div>
					<div class="name-connect">
						ADMINISTRATEUR
					</div>
				</div>
				<div class="chat-body" id="js-add-new-message">
					<% @messages.each do |message| %>
					<% if message.is_admin %>
					<div class="hr-msg">
						<%= message.content %>
					</div>
					<% else %>
					<div class="m-msg">
						<%= message.content %>
					</div>
					<% end %>
					<div class="clear"></div>
					<% end %>
				</div>

				<%= form_tag(post_message_client_admin_path, remote: :true, id: 'mandona') do %>
					<div class="sd">
						<input type="hidden" name="id_contact" value="<%= @contact.id%>">
						<input type="hidden" name="id_admin" value="<%= @admin.id %>">
						<textarea required placeholder="répondre..." class="ms-in" name="message_admin_client[content]"
							id="message_admin_cadre_content" required></textarea>
						<button type="submit">
							<img src="/image/send.png" alt="send" class="ms-im" />
						</button>
					</div>
				<% end %>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var container = $('#js-add-new-message');
	container.animate({ scrollTop: 20000000 }, "slow");
	$('#form-promo-code').bind('ajax:success', function() {   		
   		container.append(
	   		"<div class=\"m-msg\">" +
				"<p>"+ $("#message_admin_cadre_content").val() +"</p>" + 
			"</div>" + 
			"<div class=\"clear\"></div>"
		)
		$("#message_admin_cadre_content").val("");
		container.animate({ scrollTop: 20000000 }, "slow");
	});
</script>
