<!-- call css  -->

<link rel="stylesheet" href="/css/shownewjob.css" />

<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left">
    <%= render "recruteurs/left_link_bar" %>
  </div>
  <div class="cp-box">
    <div class="show-job-box">
      <% unless @offre.is_publish %>
      <div class="travel-creation">
        <div class="travelc-image">
          <div class="circle color-bg">
            1
          </div>
          <div class="line ir-l1 color-bg"></div>
          <div class="circle ir-c1 color-bg">
            2
          </div>
          <div class="line ir-l2 color-bg"></div>
          <div class="circle ir-c2 color-bg">
            3
          </div>
        </div>
        <ol>
          <li>Détails du poste</li>
          <li>Contexte de l'offre</li>
          <li>Publication</li>
        </ol>
      </div>
      <% end %>
      <div class="show-publication" id="publish-ajax-hid">
        <div class="sjb-content">
          <div class="show-einfos">
            <div class="logo">
              <% unless @offre.image.nil? %> <%= image_tag(@offre.image, alt: 'photo de profil', class:'photo_ako')%> <% end %>
            </div>
            <div class="local">
              <p><%= @offre.intitule_pote %></p>
              <p><img src="/image/map.png" alt="localisation icon" /> <%= @offre.department %></p>

              <% if @offre.contrat_cdi %>
              <p>Contrat CDI</p>
              <% end %>
            </div>
          </div>
          <hr />
          <div class="so-content first-content">
            <%= @offre.question2 %>
          </div>
          <div class="so-content">
            <p>DESCRIPTIF DES MISSIONS</p>
            <div class="description">
              <%= @offre.descriptif_mission %>
            </div>
          </div>
          <div class="so-content">
            <p>RATTACHEMENT HIÉRARCHIQUE</p>
            <div><%= @offre.rattachement %></div>
          </div>
          <div class="so-content">
            <p>RÉMUNÉRATION (K€ BRUTS ANNUELS)</p>
            <div>
              Fixe: <%= @offre.remuneration.to_i %>k€ <br />
              Variable: <%= @offre.remuneration_anne.to_i %>
            </div>
          </div>
          <div class="so-content">
            <p>DÉPLACEMENTS</p>
            <div>
              <%= @offre.type_deplacement %>
            </div>
          </div>
          <div class="so-content">
            <p>PROCESSUS RH</p>
            <div>
              <% case @offre.numberEntretien.to_i %>
              <% when 1 %>
                1 entretien RH
              <% when 2 %>
                1 entretien RH + 1 entretien manager
              <% when 3 %>
                1 entretien RH + 2 entretien manager
              <% end %>
            </div>
          </div>
          <div class="so-content">
            <p>CONTEXTE D'OUVERTURE DE CE POSTE</p>
            <div>
              <%= @offre.question5 %>
            </div>
          </div>

          <div class="so-content">
            <p>DATE DE PRISE DE POSTE</p>
            <div>
              <%= @offre.date_poste %>
            </div>
          </div>
        </div>
        <div class="so-btn">
          <%= link_to "MODIFIER", editJob_path(@offre.id), class:'so-btn-btn' %> <% unless @offre.is_publish %> <%= link_to publish_path(@offre.id), method: :patch, class: 'link-delete so-btn-btn', :remote => true do %>PUBLIER<% end %> <% else %> <%= link_to "VOIR NOTRE SÉlECTION",
          our_selection_path(@offre.id) %> <%= link_to "RECHERCHE CANDIDATS", search_candidate_path(@offre.id) %> <% end %>
        </div>
      </div>
      <div class="show-pb2" style="display: none;" id="publish-ajax">
        <!-- - apercu photo a1 et a2  -->
        <p>Votre offre d’emploi a bien été publiée.</p>
        <img src="/image/check.png" alt="image checked" class="check" />
        <p>Vous disposez désormais de 15 jours pour sélectionner 5 candidats recommandés par notre algorithme ou en recherchant directement dans notre base de données.</p>
        <p class="p-icon">Vous pouvez sauvegarder les profils avec l’icône <img src="/image/Vector-24.png" alt="diamond icone" /></p>

        
        <% if @offre.my_top_five_candidates.count < 5 %>

          <div class="show-pb2-btn">
            <%= link_to "VOIR NOTRE SÉlECTION", our_selection_path(@offre.id) %>
            <%= link_to "RECHERCHE CANDIDATS", search_candidate_path(@offre.id) %>
          </div>

        <% else %>

          <div class="show-pb2-btn">
            <%= link_to "Mon suivi recrutement", recruitment_liste_cadre_path(@offre.id) %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.link-delete').bind('ajax:beforeSend', function () {
    $('#publish-ajax-hid').hide(200);
  });

  $('.link-delete').bind('ajax:complete', function () {
    $('#publish-ajax').show(800);
  });
</script>
