<!-- call css  -->
<link rel="stylesheet" href="/css/show_search_candidate.css" />
<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left">
    <%= render "recruteurs/left_link_bar" %>
  </div>
  <div class="cp-box">
    <div class="ssc-box">
      <div class="ssc-all-infos">
        <div class="ssc-infos">
          <div class="image">
            <% unless @cadre.image.nil? %> <%= image_tag(@cadre.image, alt: 'photo de profil',class:"pdp" )%> <br />
            <% end %>
          </div>
          <div class="infos">
            <div class="score">
              <p class="name">
                <%= @cadre.last_name %> <%= @cadre.first_name[0].upcase %>.
              </p>
              <p>
                Score de test : <span>1005</span><br />
                Compatibilité : <span>90%</span>
              </p>
            </div>

            <div class="local">
              <p>Type de poste : Manager marketing</p>
              <p>Disponibilité : Maintenant</p>
              <p>Salaire : <%= @cadre.question4 %>k€</p>
              <p>Mobilité : Ile de France</p>
            </div>
            <div class="ssc-btn">
              <%= link_to "VISUALISER LE CV", @cadre.cv %>
            </div>
          </div>
        </div>
        <div class="ssc-question">
          <div class="title">
            5 questions clés
          </div>
          <div class="questionnaire">
            <h5 class="questionnaire-title">Que faites-vous actuellement et que recherchez-vous comme type de poste ?</h5>
            <p><%= @cadre.question1 %></p>
          </div>
          <div class="questionnaire">
            <h5 class="questionnaire-title">Où souhaitez-vous travailler et acceptez-vous les déplacements ?</h5>
            <p><%= @cadre.question2 %></p>
          </div>
          <div class="questionnaire">
            <h5 class="questionnaire-title">Quels sont les trois critères les plus importants pour vous dans le choix de votre prochain poste ?</h5>
            <p><%= @cadre.question3 %></p>
          </div>
          <div class="questionnaire">
            <h5 class="questionnaire-title">Quel est le minimum salarial en dessous duquel il n’est pas nécessaire de vous contacter ?</h5>
            <p><%= @cadre.question4 %></p>
          </div>
          <div class="questionnaire">
            <h5 class="questionnaire-title">Parlez-nous de vous</h5>
            <p><%= @cadre.question5 %></p>
          </div>
        </div>
      </div>

      <div class="ssc-rest">
        <div class="ssc-rest-btn">
          
          <div class="ssc-btn ssc-message">
            <%= link_to "MESSAGERIE", show_my_messages_client_path(@cadre.cadre.id)%>
          </div>

<!-- misy condition mbôla tokony aiditra -->

          <% if @offre.my_top_five_candidates.count < 5 %>
            <% if @offre.in_list_entretien(@cadre.cadre).nil? %>
              <div class="ssc-btn ssc-pe" id="dateEntretien">
                PLANIFIER UN ENTRETIEN
              </div>
            <% else %>
            <br>
              <div class="ssc-btn">
                <%= link_to "SUIVI RECRUTEMENT", recruitment_show_cadre_path(@offre.is_in_this_job(@cadre.cadre)) %>
              </div>
            <% end %>
          <% end %>

        </div>
        <div class="ssc-oiam">
          <h5>L'avis de One in a million</h5>
          <p><%= @cadre.avis_recruteur %></p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque officia nesciunt ipsum officiis hic, adipisci nam commodi porro quod alias fugit saepe blanditiis facere reiciendis placeat cumque repellat deserunt. Omnis est aliquam assumenda, consectetur eum eaque quis libero dolorum,
          quia voluptas veritatis commodi nesciunt, a magnam? Eveniet excepturi possimus aut nulla mollitia maiores laudantium sunt maxime. Saepe nulla, deleniti laborum modi, exercitationem dolores reiciendis aut aperiam repudiandae fugit est adipisci illo voluptatem. Dicta impedit obcaecati cum
          rem modi placeat in ea accusamus totam. Autem iure maxime consequatur nostrum unde quasi.
        </div>
      </div>

      <div class="ssc-planification">
        <div class="hiddenDate" style="display: none;" id="js-form-show">
          <%= form_tag(save_entretien_client_path, remote: true, id:"send-data-form") do %>

          <div class="date"><input type="text" name="date" id="datepicker" /></div>

          <div class="js-timeContainer" style="display: none;">
            <h4 id="showDateLong"></h4>
            <div class="fselect">
              <span id="reditDate" class="badge badge-secondary">modifier la date</span>
              <div class="firstSelection">
                <div class="js-hoursTime" data-time="08:00">08:00</div>
                <div class="js-hoursTime" data-time="09:00">09:00</div>
                <div class="js-hoursTime" data-time="10:00">10:00</div>
                <div class="js-hoursTime" data-time="11:00">11:00</div>
              </div>
              <div class="firstSelection">
                <div class="js-hoursTime" data-time="12:00">12:00</div>
                <div class="js-hoursTime" data-time="13:00">13:00</div>
                <div class="js-hoursTime" data-time="14:00">14:00</div>
                <div class="js-hoursTime" data-time="15:00">15:00</div>
              </div>
              <div class="firstSelection">
                <div class="js-hoursTime" data-time="16:00">16:00</div>
                <div class="js-hoursTime" data-time="17:00">17:00</div>
                <div class="js-hoursTime" data-time="18:00">18:00</div>
                <div class="js-hoursTime" data-time="19:00">19:00</div>
              </div>
              <div>
                <label id="conditioncheck">
                  Adresse de l'entreprise
                  <input type="radio" checked="checked" required name="adresse" id="adresse1" value="<%= current_client.entreprise.adresse %>" class="js-input-adresse" data-value="none" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="with-input">
                <label id="conditioncheck">
                  Autre lieu :
                  <input type="radio" required name="adresse" id="adresse2" data-value="autre" class="js-input-adresse" />
                  <span class="checkmark"></span>
                </label>
                <input type="text" name="adresse_name" id="js-adresse_name_input" style="display: none;" disabled="disabled" placeholder="L'adresse ..." class="with-input-item" />
              </div>
              <div>
                <label id="conditioncheck">
                  <%= current_client.first_name %> <%= current_client.last_name %>, <%= current_client.fonction %>
                  <input type="radio" checked="checked" required name="name" value="<%= current_client.first_name %> <%= current_client.last_name %>" id="name_client" class="js-input-name" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="with-input">
                <label id="conditioncheck">
                  Autre personne :
                  <input type="radio" required name="name" id="autre_personne" value="1" class="js-input-name" />
                  <span class="checkmark"></span>
                </label>
                <input type="text" name="client_name" id="client_name_input" style="display: none;" disabled="disabled" placeholder="Nom et prénoms" class="with-input-item" />
              </div>

              <input type="hidden" name="time" id="input-time" />

              <input type="hidden" name="cadre_id" value="<%= @cadre.cadre.id %>" />

              <input type="hidden" name="offre_id" value="<%= @offre.id %>" />

              <div class="planQ-btn">
                <%= submit_tag("VALIDER", id:"valid-submit", disabled:"disabled" )%>
              </div>
            </div>
          </div>
          <% end %>
        </div>

        <div id="send-data-form-ok-success" class="ssc-send" style="display: none;">
          <h4>Demande d'entretien envoyée</h4>
          <img src="/image/check.png" alt="OK" />
          <div>
            <div class="datetime">
              <div id="dateShowOk"></div>
              <div id="timeShowOk"></div>
            </div>
            <div>
              <span id="adresseShowOk">
                <%= current_client.entreprise.adresse %> <br />
                <%= current_client.entreprise.city %>
              </span>
              <br />
              <span id="nameShowOk">
                <%= current_client.fonction %> : <%= current_client.first_name %> <%= current_client.last_name %>
              </span>
            </div>
            <div class="ssc-send-btn">
              VALIDER
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- appel js  -->
<script data-turbolinks-track="reload" type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script data-turbolinks-track="reload" type="text/javascript" src="/js/entretien_client.js"></script>
<script data-turbolinks-track="reload" type="text/javascript" src="/js/date_picker.js"></script>
