<% content_for :head_style do %>
<link rel="stylesheet" href="/css/suivi_show_post.css" />
<% end %>
<!-- body html  -->
<div class="client-column">
	<div class="client-menu-left"><%= render "recruteurs/left_link_bar" %></div>
	<div class="cp-box">
		<div class="adm-big-box">
			<div class="admin-message-box">
				<div class="name-box">
					<div id="image"
						style="background: white url(/image/profie.png) center no-repeat; background-size: cover">
					</div>
					<div class="name-connect">
						ADMINISTRATEUR
					</div>
				</div>
				
				<div class="chat-body" id="js-add-new-message">
					<% @messages.each do |message| %>
					<% if message.is_admin %>
					<div class="hr-msg">
						<%= message.content %>
					</div>
					<% else %>
					<div class="m-msg">
						<%= message.content %>
					</div>
					<% end %>
					<div class="clear list-messages"></div>
					<% end %>
				</div>

				<%= form_tag(post_message_client_admin_path, remote: :true, id: 'form-promo-code', 'data-path':client_get_all_messages_admin_path) do %>
					<div class="sd">
						<input type="hidden" name="id_contact" value="<%= @contact.id%>">
						<input type="hidden" name="id_admin" value="<%= @admin.id %>">
						<input type="text" required placeholder="répondre..." class="ms-in" name="message_admin_client[content]" id="message_admin_cadre_content" required>
						<button type="submit">
							<img src="/image/send.png" alt="send" class="ms-im" />
						</button>
					</div>
				<% end %>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	var container = $('#js-add-new-message');
	container.animate({ scrollTop: 20000000 }, "slow");

	window.path_url = $('#form-promo-code').data().path;

	function createElementNote(className,content){
		element = "<div class=\""+className+"\">" + content + "</div><div class=\"list-messages clear\"></div>"
		return element
	}

	$('#form-promo-code').bind('ajax:success', function() {
   		container.append(
   			createElementNote("m-msg",$("#message_admin_cadre_content").val())
		);
		$("#message_admin_cadre_content").val("");
		$(".chat-body").animate({ scrollTop: 20000000 }, "slow");
		$("body").animate({ scrollTop: 20000000 }, "fast");
	});

	function getMyMessage() {
		var number_message = $(".list-messages").length
		$.getJSON(path_url, function (data) {
			var my_data = data;
			if (number_message == my_data.length) {
			}else{
				all_elements = ""
				for (var i = 0; i < my_data.length; i++) {
					if (my_data[i].is_admin){
						all_elements += createElementNote("hr-msg",my_data[i].content)
					}else{
						all_elements += createElementNote("m-msg",my_data[i].content)
					}
				}
				container.html(all_elements)
				container.animate({ scrollTop: 20000000 }, "slow");
			}
		});
	}
	setInterval(getMyMessage, 2000);
</script>