<% content_for :head_style do %>
<link rel="stylesheet" href="/css/show_message.css" />
<% end %>
<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left"><%= render "recruteurs/left_link_bar" %></div>
  <div class="cp-box">
    <div class="show-message-box" id="real-show-message">
      <div class="smb-message-m">
        <span hidden id="Profilher" data-image="<%= @cadre.cadre_info.image%>" /></span>
        <div class="name-box">
          <div id="image"
            style="background: url(<%= @cadre.cadre_info.image%>) center no-repeat; background-size: cover">
            <% if @cadre.is_online? %>
            <div class="connected"> </div>
            <% end %>
          </div>
          <div class="name-connect">
            <div>
              <%= @cadre.cadre_info.first_name %> <%= @cadre.cadre_info.last_name %>
            </div>
            <% unless @cadre.is_online? %>
            <div class="notconnected">(connectée il y a <%= time_ago_in_words(@cadre.online_time) %>)</div>
            <% end %>
          </div>
        </div>
        <div class="content" id="js-add-new-message">
          <% @messages.each do |message| %>
          <div class="<% if message.is_client %>my-message <% else %>her-message <% end %>"
            data-store-id="<%= message.id %>">
            <% unless message.is_client %>
            <div id="image"
              style="background: url(<%= @cadre.cadre_info.image%>) center no-repeat; background-size: cover">
            </div>
            <% end %>
            <div id="message"><%= message.content %></div>
          </div>
          <div class="clear"></div>
          <% end %>
        </div>
        <div class="input">
          <%= form_tag(post_my_message_client_path, id:"form-promo-code", 'data-path':getClientLastMessage_path(cadre_id:@cadre.id,contact_id:@contact.id), remote: true) do %>
          <input type="hidden" name="message_client_cadre[cadre_id]" value="<%=@cadre.id%>" id="is_client_session"
            data-client="true" />
          <input type="hidden" name="message_client_cadre[contact_id]" value="<%=@contact.id%>" />
          <div class="input-items">
            <input type="text" rows="3" name="message_client_cadre[content]" placeholder="Répondre ..."
              id="message_client_cadre_content">
            <!-- <textarea required="required" rows="3" class="form-control" name="message_client_cadre[content]"
              placeholder="Répondre ..." id="message_client_cadre_content"></textarea> -->
          </div>
          <button type="submit">
            <img src="/image/send.png" alt="send" id="sender" />
          </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- call js  -->
<script data-turbolinks-track="reload" type="text/javascript" src="/js/client_message.js"></script>
<script data-turbolinks-track="reload" type="text/javascript" src="/js/synchrone_message.js"></script>