<!-- call css  -->
<% content_for :head_style do %>
<link rel="stylesheet" href="/css/show_search_candidate.css" />
<% end %>
<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left"><%= render "recruteurs/left_link_bar" %></div>
  <div class="cp-box">
    <div class="ssc-box">
      <div class="ssc-all-infos">
        <div class="ssc-infos">
          <div class="image">
            <% unless @cadre.image.nil? %>
            <div class="c" style="background: url(<%= @cadre.image%>) center no-repeat; background-size: cover"></div>
            <% end %>
          </div>
          <div class="infos">
            <div class="score">
              <p class="name"><%= @cadre.first_name %> <%= @cadre.last_name %>.</p>
              <p>
                Score de test : <br /><span><%= @cadre.score_potential %></span><br />
                Compatibilité : <br /><span><%= @cadre.score_fit * 10 %>%</span>
              </p>
            </div>

            <div class="local">
              <p>Type de poste : <br /><span class="color-ye"><% unless @cadre.metier.nil? %> <%= @cadre.metier.name %> <% end %></span></p>
              <p>Profession : <br /><span class="color-ye"><%= @cadre.job %></span></p>
              <p>Disponibilité : <br /><span class="color-ye"><%= @cadre.disponibilite %></span></p>
              <p>Salaire (Brut annuel) : <br /><span class="color-ye"><%= @cadre.question4 %>k€</span></p>
              <p>Mobilité : <br /><span class="color-ye"><%= @cadre.mobilite_name %></span></p>
            </div>
            <div class="ssc-btn"><%= link_to "VISUALISER LE CV", @cadre.cv %></div>
          </div>
        </div>
        <div class="ssc-question">
          <div class="title">5 questions clés</div>

          <div class="questionnaire">
            <h5 class="questionnaire-title">Que faites-vous actuellement et que recherchez-vous comme type de poste ?</h5>
            <p>
              Type de poste : <% unless @cadre.metier.nil? %><%= @cadre.metier.name %><% end %> <br />
              Profession : <%= @cadre.job %>
            </p>
          </div>

          <div class="questionnaire">
            <h5 class="questionnaire-title">Où souhaitez-vous travailler et acceptez-vous les déplacements ?</h5>
            <p>
              <% unless @cadre.country.nil? %> Pays : <%= @cadre.country.name %> <br />
              <% end %> <% unless @cadre.region.nil? %> Région : <%= @cadre.region.name %> <br />
              <% end %> <% unless @cadre.ville.nil? %> Ville : <%= @cadre.ville.name %> <br />
              <% end %> <% if @cadre.deplacement %> Fréquence de déplacement : <%= @cadre.frequency %> <% else %> Pas de déplacement. <% end %>
            </p>
          </div>
          <div class="questionnaire">
            <h5 class="questionnaire-title">Quels sont les trois critères les plus importants pour vous dans le choix de votre prochain poste ?</h5>
            <p><%= @cadre.question3 %></p>
          </div>
          <div class="questionnaire">
            <h5 class="questionnaire-title">Quel est le minimum salarial en dessous duquel il n’est pas nécessaire de vous contacter ?</h5>
            <p><%= @cadre.question4 %> k€</p>
          </div>
          <div class="questionnaire">
            <h5 class="questionnaire-title">Parlez-nous de vous</h5>
            <p><%= @cadre.question5 %></p>
          </div>
        </div>
      </div>

      <div class="ssc-rest">
        <div class="ssc-rest-btn">
          <div class="ssc-btn ssc-message"><%= link_to "MESSAGERIE", show_my_messages_client_path(@cadre.cadre.id)%></div>

          <!-- misy condition mbôla tokony aiditra -->

          <% if @offre.in_list_entretien(@cadre.cadre).nil? %>
          <div class="ssc-btn ssc-pe" id="dateEntretien">PLANIFIER UN ENTRETIEN</div>
          <% else %>
          <div class="ssc-btn ssc-pe" id="ssc-btn2"><%= link_to "SUIVI RECRUTEMENT", recruitment_show_cadre_path(@offre.is_in_this_job(@cadre.cadre))%></div>
          <% end %>
        </div>
        <div class="ssc-oiam">
          <h5>L'avis de One in a million</h5>
          <p><%= @cadre.avis %></p>
        </div>
      </div>

      <div class="ssc-planification"><%= render "recruteurs/planification_show_search" %></div>
    </div>
  </div>
</div>
<!-- appel js  -->
<script data-turbolinks-track="reload" type="text/javascript" src="/js/moment-js.js"></script>
<script data-turbolinks-track="reload" type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script data-turbolinks-track="reload" type="text/javascript" src="/js/entretien_client.js"></script>
<script data-turbolinks-track="reload" type="text/javascript" src="/js/date_picker.js"></script>
