<% content_for :head_style do %>
<link rel="stylesheet" href="/css/show_message.css" />
<% end %>
<!-- body html  -->
<div class="client-column">
  <div class="client-menu-left"><%= render "recruteurs/left_link_bar" %></div>
  <div class="cp-box">
    <div class="show-message-box">
      <div class="message-m">
        <div class="name"><%= @cadre.cadre_info.first_name %> <%= @cadre.cadre_info.last_name %></div>
        <div class="boit-reception" id="js-add-new-message">
          <div class="content">
            <% @messages.each do |message| %> <% if message.is_client %>
            <div class="my-message" data-store-id="<%= message.id %>">
              <% else %>
              <div class="her-message" data-store-id="<%= message.id %>">
                <div id="image" style="background: url(<%= @cadre.cadre_info.image%>) center no-repeat; background-size: cover">
                  <% if @cadre.is_online? %>
                  <span class="connected"></span>
                  <% end %>
                </div>
                <% end %> <%= message.content %>
              </div>
              <div class="clear"></div>
              <% end %>
            </div>
          </div>
          <div class="input">
            <%= form_tag(post_my_message_client_path, id:"form-promo-code", 'data-path':getClientLastMessage_path(cadre_id:@cadre.id,contact_id:@contact.id), remote: true) do %>
            <input type="hidden" name="message_client_cadre[cadre_id]" value="<%=@cadre.id%>" id="is_client_session" data-client="true" />
            <input type="hidden" name="message_client_cadre[contact_id]" value="<%=@contact.id%>" />
            <div class="input-items">
              <input type="text" required="required" class="form-control" name="message_client_cadre[content]" id="message_client_cadre_content" />
              <!-- <textarea required="required" rows="3" class="form-control" name="message_client_cadre[content]" id="message_client_cadre_content"></textarea> -->
            </div>
            <input type="submit" hidden />
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script data-turbolinks-track="reload" type="text/javascript" src="/js/synchrone_message.js"></script>
<style type="text/css">
  .clear {
    clear: both;
  }
</style>
