<h2>Liste de tous les CADRES dans le site</h2>
<% @candidats.each do |cadre| %>
	<div>
		<a href="<%= rzshowMessages_path(cadre.id) %>">
		<%= cadre.cadre_info.first_name %> <%= cadre.cadre_info.last_name %>
		</a>
	</div>
<% end %>

<h2>Liste de mes contactes</h2>
<% @contactListes.each do |contact| %>
	<% nbr = contact.mp_client_not_see %>
	<div>
		<a href="<%= rzshowMessages_path(contact.cadre.id) %>">
		<%= contact.cadre.cadre_info.first_name %> <%= contact.cadre.cadre_info.last_name %>
		</a>
		<% unless nbr == 0 %>
			<span class="alert-info"><%= nbr %></span>
		<% end %>
	</div>
<% end %>
