<style type="text/css">
	.my-message{
		color: grey;
		background-color: #55e1f7;
		float: right;
	}
	.her-message{
		color: grey;
		border: 1px solid black;
		float: left;
	}
	.clear{
		clear: both;
	}

</style>

<div class="container">

<h2><%= @cadre.cadre_info.last_name %> <%= @cadre.cadre_info.first_name %></h2>

<div class="boit-reception">
<% @messages.each do |message| %>
	<% if message.is_client %>
		<div class="my-message">
	<% else %>
		<div class="her-message">
	<% end %>
		<%= message.content %>
	</div>
	<div class="clear"></div>
<% end %>
</div>

<hr>

<%= form_for @newMessage , url: rzpostMessage_path do |f| %>
	<input type="hidden" name="message_client_cadre[cadre_id]" value="<%=@cadre.id%>">
	<input type="hidden" name="message_client_cadre[contact_id]" value="<%=@contact.id%>">
	<div class="form-group">
		<%= f.text_area :content, required:true, rows:3, class:"form-control" %>
	</div>
	<div class="form-group">
		<%= f.submit("ENVOYER") %>
	</div>
<% end %>


</div>