<style type="text/css">
	.my-message{
		color: grey;
		background-color: #55e1f7;
		float: right;
	}
	.her-message{
		color: grey;
		border: 1px solid black;
		float: left;
	}
	.clear{
		clear: both;
	}
</style>

<div class="container">

<h2><%= @cadre.cadre_info.last_name %> <%= @cadre.cadre_info.first_name %></h2>

<div class="boit-reception" id="js-add-new-message">
<% @messages.each do |message| %>
	<% if message.is_client %>
		<div class="my-message" data-index="<%= message.id %>">
	<% else %>
		<div class="her-message" data-index="<%= message.id %>">
	<% end %>
		<%= message.content %>
	</div>
	<div class="clear"></div>
<% end %>
</div>

<hr>

<%= form_tag(rzpostMessage_path, id:"form-promo-code", 'data-path':getClientLastMessage_path(cadre_id:@cadre.id,contact_id:@contact.id),  remote: true) do %>
	<input type="hidden" name="message_client_cadre[cadre_id]" value="<%=@cadre.id%>">
	<input type="hidden" name="message_client_cadre[contact_id]" value="<%=@contact.id%>">
	<div class="form-group">
		<textarea required="required" rows="3" class="form-control" name="message_client_cadre[content]" id="message_client_cadre_content"></textarea>
	</div>
	<div class="form-group">
		<%= submit_tag("ENVOYER") %>
	</div>
<% end %>

</div>

<script type="text/javascript" src="/js/synchrone_message.js"></script>