<link rel="stylesheet" href="/css/admin_prms.css" />
<link rel="stylesheet" href="/admins/css/profile-no-complete.css">
<div class="client-column">
	<div class="client-menu-left">
		<%= render partial: "admin_candidats/left_menu" %>
	</div>
	<div class="cp-box">
		<div class="container">
			<div class="row">
				<div class="box-lft col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<img src='/image/profie.png' />
				</div>
				<div class="box-rgt col-log-9 col-md-9 col-sm-12 col-xs-12">
					<p><strong>Nom : </strong><%= @cadre_info.last_name.capitalize %></p>
					<p><strong>Prénom : </strong><%= @cadre_info.first_name.capitalize %></p>
					<p><strong>Adresse : </strong><%= @cadre_info.adresse %></p>
					<p><strong>Code postal : </strong><%= @cadre_info.postal_code %></p>
					<p><strong>Ville : </strong><%= @cadre_info.city %></p>
					<p><strong>Mail : </strong><%= @cadre_info.mail %></p>
					<p><strong>Téléphone : </strong><%= @cadre_info.telephone %></p>
					<% unless @cadre_info.score_potential.nil? %>
					<p><strong>Score potential : </strong><%= @cadre_info.score_potential %></p>
					<% end %>
					<% unless @cadre_info.score_fit.nil? %>
					<p><strong>Score fit : </strong><%= @cadre_info.score_fit %></p>
					<% end %>
				</div>
			</div>
		</div>
	</div>