<link rel="stylesheet" href="/css/admin_prms.css" />
<link rel="stylesheet" href="/admins/css/promiseHire.css">
<div class="client-column">
  <div class="client-menu-left">
    <%= render partial: "admin_candidats/left_menu" %>
  </div>

  <div class="cp-box">
    <div class="promise">
      <div class="promise-content">
        <div class="all-in">
          <div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <img src="<%= @promise.offre_job.image %>"alt="photo profil candidats", width="150px", height="150px" >
                <div><strong><%= @job.intitule_pote.upcase %></strong></div>
                <div><strong><%= @job.contrat_cdi ? "CONTRAT À DURÉE INDÉTERMINÉE" : "CONTRAT À DURÉE DÉTERMINÉE" %></strong></div>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div><strong>Nom : </strong><a href="<%= cbp_promise_no_validate_path(@cadre.id) %>"><%= @cadre.last_name.capitalize %></a></div>
                <div><strong>Prénom : </strong><a href="<%= cbp_promise_no_validate_path(@cadre.id) %>"><%= @cadre.first_name.capitalize %></a></div>
                <% unless @promise.birthday_cadre.nil? || @promise.birthplace_cadre.nil?  ||  @promise.ns_sociale_cadre.nil? %>
                  <div><strong>Date de naissance : </strong><%= @promise.birthday_cadre %></div>
                  <div><strong>Lieu de naissance : </strong><%= @promise.birthplace_cadre %></div>
                  <div><strong>N° sécurité sociale : </strong><%= @promise.ns_sociale_cadre %></div>
                 <% end %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex  justify-content-md-start justify-content-lg-start justify-content-sm-center">Date de prise de poste</div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-row-reverse justify-content-center"><%= @promise.date_poste %></div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex  justify-content-md-start justify-content-lg-start justify-content-sm-center">Fin de période d'essai</div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-row-reverse justify-content-center"><%= @promise.time_trying %></div>
            </div>
            <hr>

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex  justify-content-md-start justify-content-lg-start justify-content-sm-center">Rémunération fixe (k€ bruts annuels)</div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-row-reverse justify-content-center"><%= @job.remuneration %></div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex  justify-content-md-start justify-content-lg-start justify-content-sm-center">Rémunération fixe (€ bruts mensuels)</div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-row-reverse justify-content-center"><%= @promise.remuneration_fixe %></div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex  justify-content-md-start justify-content-lg-start justify-content-sm-center">Rémunération fixe date</div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-row-reverse justify-content-center"><%= @promise.remuneration_fixe_date %> mois</div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex  justify-content-md-start justify-content-lg-start justify-content-sm-center">Rémunération variable (k€ bruts annuels)</div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-row-reverse justify-content-center"><%= @promise.remuneration_var_info %></div>
            </div>
            <hr>
            <div class="row justify-content-center">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex  justify-content-md-start justify-content-lg-start justify-content-sm-center">Avantages ou autre précision sur la rémunération</div>
              <div class="renum col-lg-12 col-md-12 col-sm-12 col-xs-12"><%= @promise.remuneration_avantage %></div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex  justify-content-md-start justify-content-lg-start justify-content-sm-center">Date de validité</div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-row-reverse justify-content-center"><%= @promise.date_de_validite %></div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex  justify-content-md-start justify-content-lg-start justify-content-sm-center">Signature électronique entreprise</div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-row-reverse justify-content-center"><%= image_tag(@promise.signature_entreprise, width:'200px', height:'100px')%></div>
            </div>
            <hr>
            <div class="row">
               <% unless @promise.signature_candidat.nil? %>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex  justify-content-md-start justify-content-lg-start justify-content-sm-center">Signature électronique candidat</div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-row-reverse justify-content-center"><%= image_tag(@promise.signature_candidat, width:'200px', height:'100px')%></div>
              <% end %>
            </div>
            <hr>
            <div class="row">
               <% unless @promise.cin_pass_port.nil? %>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex  justify-content-md-start justify-content-lg-start justify-content-sm-center">CNI ou Passeport</div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-row-reverse justify-content-center""><a class="down-btn" href="<%= @promise.cin_pass_port %>">Telecharger</a></div>
            <% end %>
            </div>
            <hr>
            <div class="row">
              <% unless @promise.security_certificate.nil? %>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex  justify-content-md-start justify-content-lg-start justify-content-sm-center">Attestation de sécurité sociale</div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-row-reverse justify-content-center"><a class="down-btn" href="<%= @promise.security_certificate %>">Telecharger</a> </div>
            <% end %>
            </div>
            <hr>
            <div class="row">
               <% unless @promise.rib.nil? %>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex  justify-content-md-start justify-content-lg-start justify-content-sm-center">RIB</div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex flex-row-reverse justify-content-center"><a class="down-btn" href="<%= @promise.rib %>">Telecharger</a></div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
