<div class="footer-oiam">
  <div class="footer-btn">
    <%=link_to "abonnez-vous à nore newsletter", root_path%>
  </div>
  <hr />
  <div class="footer-bottom">
    <div class="footer-c">
      <%=link_to "Conditions générales", root_path%> <%=link_to "Règles de
      communauté", root_path%> <%=link_to "Politique de confidentialité",
      root_path%> <%=link_to "Charte d'utilisation des cookies", root_path%>
    </div>
    <div class="copyright">
      &copy; 2020
    </div>
    <div class="social">
      <a href="#"><%=image_tag 'icon-linkedin.jpg', alt:'linkedin logo'%></a>
      <a href="#"><%=image_tag 'icon-instagram1.png', alt:'instagram logo'%></a>
      <a href="#"><%=image_tag 'icon-facebook.png', alt:'facebook logo'%></a>
      <a href="#"
        ><%=image_tag 'icon-trustfolio.png', alt:'trustfolio logo' %></a
      >
    </div>
  </div>
</div>
