
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<button
  class="navbar-toggler"
  type="button"
  data-toggle="collapse"
  data-target="#navbarsExample08"
  aria-controls="navbarsExample08"
  aria-expanded="false"
  aria-label="Toggle navigation"
>
  <span class="navbar-toggler-icon"></span>
</button>
<div
  class="collapse navbar-collapse justify-content-md-center"
  id="navbarsExample08"
>
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to "ACCUEIL", root_path, class: 'nav-link' %>
      <!-- <span class="sr-only">(current)</span> -->
    </li>
    <li class="nav-item">
      <%= link_to "EQUIPE", equipe_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "MÉTHOTOLOGIE", methodology_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "PORTFOLIO", portfolio_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "CONTACT", contact_path, class: 'nav-link' %>
    </li>

    <% if client_signed_in? %>
    <li class="nav-item">
      <% unless current_client.image.nil? %> <%=
      image_tag(current_client.image, alt: 'photo de profil',
      id:'photo_ako')%> <% else %> <%= link_to "MON PROFIL",
      client_my_profil_path, class:'nav-link' %> <% end %>
    </li>
    <% elsif cadre_signed_in? %>
    <li class="nav-item">
      <% unless current_cadre.image.nil? %> <%=
      image_tag(current_cadre.image, alt: 'photo de profil',
      id:'photo_ako')%> <% else %> <%= link_to "MON PROFIL",
      my_profil_path, class:'nav-link' %> <% end %>
    </li>
    <% else %>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >SE CONNECTER</a
      >
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to "CADRE", new_cadre_session_path, class:'dropdown-item'
        %> <%= link_to "RECRUTEUR", new_client_session_path,
        class:'dropdown-item' %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
</nav>