<!DOCTYPE html>
<html>

<head>
  <title>OIAM | Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %> <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Qwigley&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap" rel="stylesheet" />
  <%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag'application', 'data-turbolinks-track': 'reload' %>
  <!-- call icon top -->
  <link rel="icon" type="image/png" href="/image/OIAM_DIAMOND.png" />
  <!-- call icon end  -->
  <link rel="stylesheet" href="/css/mobile.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
</head>

<body>
  <%= render "layouts/navbar_admin" %>

  <% if notice %>
  <div class="flash">
    <div class="flash-notice">
      <div class="icon">
        <img src="/image/flash-valid.png" alt="Icone" />
      </div>
      <div><%= notice %></div>
    </div>
  </div>
  <% end %>

  <% if alert %>
  <div class="flash">
    <div class="flash-alert">
      <div class="icon">
        <img src="/image/flash-unvalid.png" alt="Icone" />
      </div>
      <div><%= alert %></div>
    </div>
  </div>
  <% end %>
  <div id="loading-indicator">
    <div id="spinner"></div>
  </div>
  <%= yield %>
  <script>
    $(document).ready(function () {
      //end check path menu recruteur
      stopSpinner();
      if ($('.flash').html().length < 10) {
        $('.flash').hide();
      } else {
        $('.flash').fadeIn(300);
        $('.flash-notice').addClass('active');
        $('.flash-alert').addClass('active');
        setTimeout(function () {
          $('.flash-notice').removeClass('active');
          $('.flash-alert').removeClass('active');
          $('.flash').fadeOut(2000);
        }, 5000);
      }
    })
  </script>
</body>

</html>