<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= wicked_pdf_stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= wicked_pdf_stylesheet_link_tag "bootstrap" %>
  <%= wicked_pdf_stylesheet_link_tag "promise_pdf_wicked" %>
  <title>PROMESSE D'EMBAUCHE</title>
</head>

<body>
  <%= yield %>
</body>

</html>